<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/layui.css}" media="all" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/admin.css}" rel="stylesheet">
    <link th:href="@{../../static/css/login.css}" rel="stylesheet">
    <link th:href="@{../../static/css/index.css}" rel="stylesheet">
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>
</head>
<body>
<nav th:replace="header :: header"></nav>
<br><br><br><br><br>
<div class="container-fluid">
    <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>修改密码</h2>
    </div>
    <br>
    <form class="layui-form" id="pwdForm" form autocomplete="off">
        <input type="hidden" name="userId">
    <div style="width:550px;height:auto;margin:0 auto;">
            <div class="layui-form-item" >
                <label class="layui-form-label" for="userPwd">原始密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPwd" id="oldPwd"
                           lay-verify="required" placeholder="请输入原始密码" class="layui-input" />
                </div>
            </div>
            <br>
            <div class="layui-form-item" >
                <label class="layui-form-label" for="userPwd">新的密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="userPwd" id="userPwd"
                           lay-verify="userPwd" placeholder="请输入新的密码" class="layui-input" />
                </div>
            </div>
            <br>
            <div class="layui-form-item" >
                <label class="layui-form-label" for="userPwd">确认密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="rePwd" id="rePwd"
                           lay-verify="rePwd" placeholder="确认密码" class="layui-input" />
                </div>
            </div>
            <br>
            <div class="layui-form-item" style="padding-left:110px;">
                <button type="submit" class="layui-btn" lay-filter="upPwd-submit" lay-submit="">点击修改</button>
                <button type="reset" class="layui-btn layui-btn-warm">重置内容</button>
            </div>
    </div>
    </form>
    </div>
    <br><br>
    <div th:replace="footer :: footer"></div>
</div>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        form.verify({
            userPwd:function (value) {
            if (value.length<3||value.length>6){
                return '密码必须为8-16个字符';
            }else {
                $("#userPwd").css("border","green 1px solid");
            }
        }
            ,rePwd:function (value) {
                var rePwd = $("#userPwd").val();
                console.log(rePwd);
                if (value!=rePwd){
                    return '两次输入的密码不一致!';
                }
                else {
                    $("#rePwd").css("border","green 1px solid");
                }
            }
        });
        $("#test>li").mouseenter(function () {
            $(this).addClass("current");
        });
        $("#test>li").mouseleave(function () {
            $(this).removeClass("current");
        })
        form.on('submit(upPwd-submit)',function () {
            if ($("#oldPwd").prop("flag")==="fail"){
                layer.msg("原始密码不匹配，请重新输入!",{icon:5});
                return false;
            }
            var userPwd = $("#userPwd").val();
            $.ajax({
                type:"post",
                url:"/user/updatePwd/"+userPwd,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("修改密码成功！请重新登录！",{icon:1,anim:4,time:1500},function() {
                           toLogin();
                        });
                    }else{
                        layer.msg("修改密码失败！请重试！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            return false;
        });
        $("#oldPwd").blur(function () {
           var oldPwd = $("#oldPwd").val();
            console.log(oldPwd);
            $.ajax({
                type:"post",
                url:"/user/verifyPwd/"+oldPwd,
                success:function (data) {
                    if (data==='success'){
                        $("#oldPwd").css("border","green 1px solid");
                        $("#oldPwd").prop("flag","success");
                    }else {
                        $("#oldPwd").css("border","red 1px solid");
                        $("#oldPwd").prop("flag","fail");
                        layer.msg("原始密码不匹配，请重新输入",{icon:5});
                    }
                }
            })
        });
        function toLogin(){
            $.ajax({
                type:"get",
                url:"/user/user_logout",
                success:function(data){
                    window.location.href="/CSM/toLogin";
                },
                error:function () {
                    layer.msg("请求失败",{icon:5});
                }
            });
        }
        form.verify({
           userPwd:function (value) {
                if (value.length<3||value.length>6){
                    return '密码必须为8-16个字符';
                }else {
                    $("#userPwd").css("border","green 1px solid");
                }
            }
            ,rePwd:function (value) {
                var rePwd = $("#userPwd").val();
                console.log(rePwd);
                if (value!=rePwd){
                    return '两次输入的密码不一致!';
                }else {
                    $("#rePwd").css("border","green 1px solid");
                }
            }
        });
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
</script>
</body>
</html>