<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/layui.css}" media="all" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/admin.css}" rel="stylesheet">
    <link th:href="@{../../static/css/login.css}" rel="stylesheet" >
    <link th:href="@{../../static/css/index.css}" rel="stylesheet">
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>
</head>
<body>
<nav th:replace="header :: header"></nav>
<br><br><br>
<div class="container-fluid">
    <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2 id="title">新增收货地址</h2>
    </div>
    <div style="width:500px;height:auto;margin:0 auto;">
        <form class="layui-form" id="addAddrForm">
            <input type="hidden" name="addrUser" th:value="${session.user.userId}">

            <div class="layui-form-item" >
                <label class="layui-form-label">收货人名字:</label>
                <div class="layui-input-block">
                    <input type="text" name="addrReceiver" id="addrReceiver"
                           lay-verify="addrReceiver" placeholder="请输入收货人名字"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收货人电话:</label>
                <div class="layui-input-block">
                    <input type="text" name="addrPhone" id="addrPhone"
                           lay-verify="addrPhone" placeholder="请输入收货人电话号码"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址信息:</label>
                <div class="layui-input-block">
                    <div>
                        <select name="addrProvince" id="addrProvince" lay-filter="province"  lay-verify="required">
                        </select>
                    </div>
                    <br>
                    <div>
                        <select name="addrCity" id="addrCity" lay-filter="city"  lay-verify="required">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <br>
                    <div >
                        <select name="addrArea" id="addrArea" lay-filter="area" lay-verify="required">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                    <br id="test1">
                    <div id="test2">
                        <select name="addrStreet" id="addrStreet" lay-verify="required">
                            <option value="">请选择街道</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text" >
                <label class="layui-form-label">详细地址:</label>
                <div class="layui-input-block">
                    <textarea name="addrDetail" id="addrDetail"
                           lay-verify="addrDetail" placeholder="请输入详细地址信息，如道路、门牌号、小区、楼栋号、单元等信息"
                           class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮政编码:</label>
                <div class="layui-input-block">
                    <input type="text" name="addrPostcode" id="addrPostcode"
                           lay-verify="addrPostcode" placeholder="请输入邮政编码"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item" style="padding-left:110px;" id="addDiv">
                <button type="submit" id="btn_add" class="layui-btn" lay-filter="address-submit" lay-submit="">点击保存</button>
                <button type="reset" class="layui-btn layui-btn-warm">重置内容</button>
            </div>
            <div class="layui-form-item" style="padding-left:110px;display: none" id="updateDiv">
                <button type="submit"  id="btn_update" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
                <button class="layui-btn">返回添加地址</button>
            </div>
        </form>
    </div>
   <div class="layui-form-item">
       <ul style="padding-left:130px;width: 1330px">

           <li class="layui-bg-green" style="">
               <span class="layui-icon layui-icon-home" style="margin-left: 5px;font-size: 20px"></span>
               <span style="font-size: 18px;">收货地址</span>
           </li>
       </ul>
   </div>
    <div id="allAddr" class="layui-form-item" style="padding-left:130px;">
    </div>
</div>
<br><br>
<div th:replace="footer :: footer"></div>
</div>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        $(function () {
            getAllProv();
            getAllUserAddr();
        });
        $("#test>li").mouseenter(function () {
            $(this).addClass("current");
        });
        $("#test>li").mouseleave(function () {
            $(this).removeClass("current");
        })
        function getAllUserAddr() {
            $.ajax({
                type:"post",
                url:"/userAddress/getAllAddrByUserId/",
                datatype:"json",
                success:function (data) {
                    if (data.length>0){
                        var str = "<table class=\"layui-table\" id=\"addrTable\" style=\"width: 1200px;\">\n" +
                            "            <colgroup>\n" +
                            "                <col width=\"120\">\n" +
                            "                <col width=\"120\">\n" +
                            "                <col width=\"300\">\n" +
                            "                <col width=\"300\">\n" +
                            "                <col width=\"85\">\n" +
                            "                <col width=\"108\">\n" +
                            "                <col width=\"85\">\n" +
                            "            </colgroup>\n" +
                            "            <thead>\n" +
                            "            <tr>\n" +
                            "                <th>收货人</th>\n" +
                            "                <th>电话</th>\n" +
                            "                <th>所在地区</th>\n" +
                            "                <th>详细地址</th>\n" +
                            "                <th>邮政编码</th>\n" +
                            "                <th>操作</th>\n" +
                            "                <th></th>\n" +
                            "            </tr>\n" +
                            "            <tbody>\n";
                         for(var i=0;i<data.length;i++){
                            str = str+"  <tr>\n" +
                                "                <td>"+data[i].addrReceiver+"</td>\n" +
                                "                <td>"+data[i].addrPhone+"</td>\n" +
                                "                <td>"+data[i].addrProvince+""+data[i].addrCity+""+data[i].addrArea+""+data[i].addrStreet+"</td>\n" +
                                "                <td>"+data[i].addrDetail+"</td>\n" +
                                "                <td>"+data[i].addrPostcode+"</td>\n" +
                                "                <td>\n" +
                                "                    <button onclick=\"upAddrById("+data[i].addrId+")\" class=\"layui-btn layui-btn-xs layui-btn\">编辑</button>\n" +
                                "                    <button onclick=\"delAddrById("+data[i].addrId+")\" class=\"layui-btn layui-btn-xs layui-btn-danger\">删除</button>\n" +
                                "                </td>\n" +
                                "                <td><button onclick=\"test("+data[i].addrId+","+data[i].addrUser+")\" class=\"layui-btn layui-btn-xs layui-btn\">"+data[i].addrDefault+"</button></td>\n" +
                                "            </tr>";
                        }
                        str=str+"</tbody></table>";
                    }else {
                        str = "<h2>暂无收货地址!</h2>";
                    }
                    $("#allAddr").html(str);
                    $("#addrTable").find("tr").each(function () {
                        if($(this).children('td:eq(6)').text()=='是'){
                            $(this).find("td").eq(6).children().remove()
                            $(this).find("td").eq(6).text("默认地址");
                            $(this).find("td").eq(6).css("color","red").css("font-weight","bold");
                        }else {
                            $(this).find("td").eq(6).children().text("设为默认");
                        }
                    });
                }
            });
        }
        delAddrById = function (addrId) {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定删除该地址?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"post",
                        url:"/userAddress/delAddrById/"+addrId,
                        success:function (data) {
                            if (data=="success"){
                                layer.msg("成功删除该地址",{icon:1,time:1000},function () {
                                    window.location.href="/user/toAddAddress";
                                });
                            }if(data=="no") {
                                layer.msg("抱歉，暂时不能删除默认地址",{icon:5,time:1000},function () {
                                    layer.closeAll();
                                });
                            }if (data=="fail"){
                                layer.msg("删除失败",{icon:5,time:1000});
                            }

                        },
                        error:function (data) {
                            layer.msg("请求失败",{icon:5,time:1000});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }
            });
        }
        upAddrById = function (addrId) {
            $("#updateDiv").css("display","block");
            $("#addDiv").css("display","none");
            $("#test1").css("display","block");
            $("#test2").css("display","block");
            $("#addAddrForm").append("<input type=\"hidden\" name=\"addrId\" id=\"addrId\">");
            $("#title").text("修改收货地址");
            $.ajax({
                type:"post",
                url:"/userAddress/getAddrById/"+addrId,
                dataType:"json",
                success:function (data) {
                    $("#addrId").val(data.addrId);
                    $("#addrReceiver").val(data.addrReceiver);
                    $("#addrPhone").val(data.addrPhone);
                    $("#addrProvince").val(data.addrProvince).attr("selected","selected");
                    reCity(data.addrProvince,data.addrCity);
                    reArea(data.addrCity,data.addrArea);
                    reStreet(data.addrArea,data.addrStreet,data.addrCity);
                    $("#addrDetail").val(data.addrDetail);
                    $("#addrPostcode").val(data.addrPostcode);
                    form.render();
                }
            });
        }
        test = function (addrId,userId) {
            $.ajax({
                type:"post",
                url:"/userAddress/setDefaultAddr/"+addrId+"/"+userId,
                success:function (data) {
                    if (data=="success"){
                       $("#addrTable").empty();
                        getAllUserAddr();
                    }else {
                        layer.msg("设置失败！",{icon:5,anim:4,time:1000});
                    }
                },
                error:function () {
                    layer.msg("请求失败！",{icon:5,anim:4,time:1000});
                }
            });
        }
        function getAllProv(){
            $("#test1").css("display","block");
            $("#test2").css("display","block");
            $.ajax({
                type:"post",
                url:"/address/getAllProv",
                dataType:"json",
                success:function (data) {
                    var str = "<option value=''>请选择省</option>";
                    for (var i = 0;i<data.length;i++){
                        str = str+"<option value='"+data[i].provinceId+"'>"+data[i].provinceName+"</option>";
                    }
                    $("#addrProvince").html(str);
                    form.render();
                }
            });
        }
        function getStreetByCity(cityId) {
            $("#test1").css("display","block");
            $("#test2").css("display","block");
            $.ajax({
                type:"post",
                url:"/address/getStreetByCityId",
                data:"cityId="+cityId,
                datatype:"json",
                success:function (data) {
                    if (data.length<0){
                        $("#addrStreet").empty();
                        var option = $("<option>").val("none").text("暂无信息");
                        $("#addrStreet").append(option);
                    }else {
                        var str="<option value=''>请选择街道</option>";
                        for(var i=0;i<data.length;i++){
                            str=str+"<option value='"+data[i].streetId+"'>"+data[i].streetName+"</option>";
                        }
                        $("#addrStreet").html(str);
                        form.render();
                    }

                }
            })
        }
        form.on('select(province)',function (data) {
            $("#test1").css("display","block");
            $("#test2").css("display","block");
            $.ajax({
                type:"post",
                url:"/address/getCityByProId",
                data:"provinceId="+data.value,
                datatype:"json",
                success:function (data) {
                    var str="<option value=''>请选择市</option>"
                    for(var i=0;i<data.length;i++){
                        str=str+"<option value='"+data[i].cityId+"'>"+data[i].cityName+"</option>";
                    }
                    $("#addrCity").html(str);
                    form.render();
                }
            })
        });
        form.on('select(city)',function (data) {
            $("#test1").css("display","block");
            $("#test2").css("display","block");
            var cityId = data.value;
            $.ajax({
                type:"post",
                url:"/address/getAreaByCityId",
                data:"cityId="+data.value,
                datatype:"json",
                success:function (data) {
                    if (data.length==0){
                       $("#addrArea").empty();
                        var option = $("<option>").val("none").text("暂无信息");
                        $("#addrArea").append(option);
                       getStreetByCity(cityId);
                    }else {
                        var str="<option value=''>请选择县/区</option>";
                        for(var i=0;i<data.length;i++){
                            str=str+"<option value='"+data[i].areaId+"'>"+data[i].areaName+"</option>";
                        }
                        $("#addrArea").html(str);
                        form.render();
                    }
                }
            })
        });
        form.on('select(area)',function (data) {
            $.ajax({
                type:"post",
                url:"/address/getStreetByAreaId",
                data:"areaId="+data.value,
                datatype:"json",
                success:function (data) {
                    if (data.length==0){
                        $("#test1").css("display","none");
                        $("#test2").css("display","none");
                        /*$("#addrStreet").get(0).value = "none";*/
                        $("#addrStreet").val("none");
                    }else{
                        $("#test1").css("display","block");
                        $("#test2").css("display","block");
                        var str="<option value=''>请选择街道</option>";
                        for(var i=0;i<data.length;i++){
                            str=str+"<option value='"+data[i].streetId+"'>"+data[i].streetName+"</option>";
                        }
                        $("#addrStreet").html(str);
                        form.render();
                    }

                }
            })
        });
        function reCity(provinceId,cityId){
            $.ajax({
                type:"post",
                url:"/address/getCityByProId/",
                data:"provinceId="+provinceId,
                success:function (data) {
                    var str="<option value=''>请选择市</option>"
                    for(var i=0;i<data.length;i++){
                        str=str+"<option value='"+data[i].cityId+"'>"+data[i].cityName+"</option>";
                    }
                    $("#addrCity").html(str);
                    $("#addrCity").val(cityId);
                    form.render();
                }
            });
        }
        function reArea(cityId,areaId){
            if (areaId!=null&&areaId!=""){
                $.ajax({
                    type:"post",
                    url:"/address/getAreaByCityId/",
                    data:"cityId="+cityId,
                    success:function (data) {
                        var str="<option value=''>请选择县/区</option>"
                        for(var i=0;i<data.length;i++){
                            str=str+"<option value='"+data[i].areaId+"'>"+data[i].areaName+"</option>";
                        }
                        $("#addrArea").html(str);
                        $("#addrArea").val(areaId);
                        form.render();
                    }
                });
            }else {
                $("#addrArea").empty();
                var option = $("<option>").val("none").text("暂无信息");
                $("#addrArea").append(option);
            }

        }
        function reStreet(areaId,streetId,cityId){
            if (areaId!=null&&areaId!=""){
                $.ajax({
                    type:"post",
                    url:"/address/getStreetByAreaId/",
                    data:"areaId="+areaId,
                    success:function (data) {
                        if (data.length==0){
                            $("#test1").css("display","none");
                            $("#test2").css("display","none");
                            /*$("#addrStreet").get(0).value = "none";*/
                            $("#addrStreet").val("none");
                        }
                        else {
                            var str="<option value=''>请选择街道</option>"
                            for(var i=0;i<data.length;i++){
                                str=str+"<option value='"+data[i].streetId+"'>"+data[i].streetName+"</option>";
                            }
                            $("#addrStreet").html(str);
                            $("#addrStreet").val(streetId);
                            form.render();
                        }
                    }
                });
            }else {
                $.ajax({
                    type:"post",
                    url:"/address/getStreetByCityId/",
                    data:"cityId="+cityId,
                    success:function (data) {
                       if (data.length==0){
                           $("#test1").css("display","none");
                           $("#test2").css("display","none");
                           /*$("#addrStreet").get(0).value = "none";*/
                           $("#addrStreet").val("none");
                       }else {
                           var str="<option value=''>请选择街道</option>"
                           for(var i=0;i<data.length;i++){
                               str=str+"<option value='"+data[i].streetId+"'>"+data[i].streetName+"</option>";
                           }
                           $("#addrStreet").html(str);
                           $("#addrStreet").val(streetId);
                           form.render();
                       }
                    }
                });
            }
        }
        form.verify({
            addrReceiver:function (value) {
                if (value.length<3||value.length>8){
                    return '收货人名字长度必须在3-8个汉字或字符之间';
                }
            }
            ,addrPhone:function (value) {
                var regPhone=/^1[34578]\d{9}$/;
                if (!regPhone.test(value)){
                    return '手机格式不正确';
                }
            }
            ,addrDetail:function (value) {
                if (value.length<5||value.length>50){
                    return '详细地址长度必须在5-50个汉字或字符之间';
                }
            }
            ,addrPostcode:function (value) {
                var pattern = /^[0-9]{6}$/;
                if(!pattern.test(value)){
                    return '非法的邮政编码';
                }
            }
        });
        form.on('submit(address-submit)',function () {
            $.ajax({
                type:"post",
                url:"/userAddress/addAddress",
                data:$("#addAddrForm").serialize(),
                success:function (data) {
                    if(data=="success"){
                        layer.msg("添加收货地址成功！",{icon:1,anim:4,time:1000},function() {
                            window.location.href = "/user/toAddAddress";
                        });
                    }else {
                        layer.msg("添加收货地址失败！",{icon:5,anim:4,time:1000});
                    }
                },
                error:function (data) {
                    layer.msg("请求失败！",{icon:5,anim:4,time:1000});
                }
            });
            return false;
        });
        form.on('submit(update-submit)',function () {
            $.ajax({
                type:"post",
                url:"/userAddress/updateAddress",
                data:$("#addAddrForm").serialize(),
                success:function (data) {
                    if(data=="success"){
                        layer.msg("修改收货地址成功！",{icon:1,anim:4,time:1000},function () {
                            window.location.href="/user/toAddAddress";
                        });
                    }else {
                        layer.msg("修改收货地址失败！",{icon:5,anim:4,time:1000});
                    }
                },
                error:function (data) {
                    layer.msg("请求失败！",{icon:5,anim:4,time:1000});
                }
            });
            return false;
        });
        $("#btn_update").on(function () {
            window.location.href="/user/toAddAddress";
        })
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }
            });
        });
    });
</script>
</body>
</html>