<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户修改个人信息页面</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/layui.css}" media="all" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/admin.css}" rel="stylesheet">
    <link th:href="@{../../static/css/login.css}" rel="stylesheet" >
    <link th:href="@{../../static/css/index.css}" rel="stylesheet">
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>
</head>
<body>
<nav th:replace="header :: header"></nav>
<br><br><br><br><br>
<div class="container-fluid">
    <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>修改个人信息</h2>
    </div>
    <br>
    <div style="width:500px;height:auto;margin:0 auto;">
        <form class="layui-form" id="updateForm">
            <input type="hidden" name="userId" id="userId" th:value="${user.userId}">
            <div class="layui-form-item" >
                <label class="layui-form-label" for="userName">用户名:</label>
                <div class="layui-input-block">
                    <input type="text" name="userName" id="userName"
                           lay-verify="userName" placeholder="请输入用户名" th:value="${user.userName}"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话:</label>
                <div class="layui-input-block">
                    <input type="text" name="userPhone" id="userPhone"
                           lay-verify="userPhone" placeholder="请输入电话号码" th:value="${user.userPhone}"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱:</label>
                <div class="layui-input-block">
                    <input type="text" name="userEmail" id="userEmail"
                           lay-verify="email" placeholder="请输入邮箱" th:value="${user.userEmail}"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出生日期:</label>
                <div class="layui-input-block">
                    <input type="text" name="userBirth" lay-verify="userBirth" class="layui-input" id="userBirth" placeholder="请选择您的出生日期"
                           th:value="${user.userBirth}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别:</label>
                <div class="layui-input-block">
                    <select name="userSex" id="userSex" lay-verify="userSex" th:field="${user.userSex}" th:value="${user.userSex}">
                        <option th:selected="${user.userSex=='男'}" value="男">男</option>
                        <option th:selected="${user.userSex=='女'}" value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像:</label>
                <div class="layui-input-block">
                    <input type="hidden" id="userImg" name="userImg"  th:value="${user.userImg}">
                    <img style="width:100px;height:100px;" th:src="@{../../header/{userImg}(userImg=${user.userImg})}">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="header" class="layui-btn" >
                        <i class="layui-icon">&#xe67c;</i>上传本地照片
                    </button>
                </div>
            </div>
            <div id="headerView" class="layui-form-item" style="display: none">
                <label class="layui-form-label">新头像预览:</label>
                <div class="layui-input-block">
                    <img id="PreViewH" style="width:100px;height:100px;border-radius:50%">
                </div>
            </div>
            <br>
            <div class="layui-form-item" style="padding-left:110px;">
                <button type="submit" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
                <button type="reset" class="layui-btn layui-btn-warm">重置内容</button>
            </div>
        </form>
    </div>
    <br><br>
    <div th:replace="footer :: footer"></div>
</div>

<script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        upload.render({
           elem:'#header',
            url:'/user/upload',
            done:function (res) {
                layer.msg('上传头像成功！',{icon:1,anim:4, time:1500});
                $("#userImg").prop("value",res.userImg);
                $("#headerView").css("display","inline")
                $("#PreViewH").prop("src", "/header/"+res.userImg);

            },
            error:function () {
               layer.msg('上传头像失败！',{icon:5,time:1500});
            }
        });

        form.on('submit(update-submit)',function () {
            if ($("#userName").prop("flag")==="fail"){
                layer.msg("该用户名已被注册,请重新填写",{icon:5})
                return false;
            }
            if ($("#userPhone").prop("flag")==="fail"){
                layer.msg("该手机号码已被注册,请重新填写",{icon:5})
                return false;
            }
            if ($("#userEmail").prop("flag")==="fail"){
                layer.msg("该邮箱已被注册,请重新填写",{icon:5})
                return false;
            }
            var user = $("#updateForm").serialize()
            $.ajax({
                type:"post",
                url:"/user/updateUser",
                data:user,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("修改信息成功！即将跳转到商城主页！",{icon:1,anim:4,time:1500},function() {
                            window.location.href = "/CSM/toIndex";
                        });
                    }else{
                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            return false;
        });

        laydate.render({
            elem:'#userBirth'
        });

        form.verify({
            userName:function (value) {
                if (value.length<3||value.length>8){
                    return '用户名必须为3-8个字符';
                }
            }
            ,userPhone:function (value) {
                var regPhone=/^1[34578]\d{9}$/;
                var userPhone = $("#userPhone").val();
                if (!regPhone.test(userPhone)){
                    return '手机格式不正确';
                }
            }
            ,userSex:function (value) {
                if (value==""){
                    return '请选择您的性别';
                }
            }
            ,userBirth:function (value) {
                if (value==""){
                    return '请选择您的出生日期';
                }
            }
        });
        $("#userName").blur(function () {
            var userName = $("#userName").val();
            var userId = $("#userId").val();
            $.ajax({
                type:"post",
                url:"/user/checkByName2/"+userName+"/"+userId,
                success:function (data) {
                    if (data==='ok'){
                        $("#userName").css("border","green 1px solid");
                        $("#userName").prop("flag","success");
                    }else {
                        $("#userName").css("border","red 1px solid");
                        $("#userName").prop("flag","fail");
                        layer.msg("该用户名已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        $("#userPhone").blur(function () {
            var userPhone = $("#userPhone").val();
            var userId = $("#userId").val();
            $.ajax({
                type:"post",
                url:"/user/checkByPhone2/"+userPhone+"/"+userId,
                success:function (data) {
                    if (data==='ok'){
                        $("#userPhone").css("border","green 1px solid");
                        $("#userPhone").prop("flag","success");
                    }else {
                        $("#userPhone").css("border","red 1px solid");
                        $("#userPhone").prop("flag","fail");
                        layer.msg("该手机号已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        $("#userEmail").blur(function () {
            var userEmail = $("#userEmail").val();
            var userId = $("#userId").val();
            $.ajax({
                type:"post",
                url:"/user/checkByEmail2/"+userEmail+"/"+userId,
                success:function (data) {
                    if (data==='ok'){
                        $("#userEmail").css("border","green 1px solid");
                        $("#userEmail").prop("flag","success");
                    }else {
                        $("#userEmail").css("border","red 1px solid");
                        $("#userEmail").prop("flag","fail");
                        layer.msg("该邮箱已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
</script>
<script>
    $("#test>li").mouseenter(function () {
        $(this).addClass("current");
    });
    $("#test>li").mouseleave(function () {
        $(this).removeClass("current");
    });
</script>
</body>
</html>