.show_msg{
	width:100%;
	height:35px;
	text-align:center;
	position:fixed;
	left: 0;
	z-index: 999;
}
.show_succeed{
	display: inline-block;
	height: 35px;
	padding: 0 15px;
	line-height: 35px;
	background:#5bc0de;
	border-radius: 50px;
	color: #fff;
	font-size: 1em;
}
.show_error{
	display: inline-block;
	height: 35px;
	padding: 0 15px;
	line-height: 35px;
	background:red;
	border-radius: 50px;
	color: #fff;
	font-size: 1em;
}		