*{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body{
	font:14px/1.5 "Helvetica Neue",Helvetica,Arial,
	"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}
div{
	display: block;
}
img{
	border: 0;
}
a{
	text-decoration: none;
	color: black;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.span16 ul li:hover{
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body {
    padding-top: 30px;
	font-family: "Microsoft YaHei";
	background-color: #F5F5F5;
}
div:hover {
	text-decoration: none;
}
.table th, .table td {
	text-align: center;
	vertical-align: middle!important;
}

.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 5px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}



.sidebar-1 {
	height: 100%;
}
.big {
	width: 280px;
	height: 160px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.big img {
	display:block;
	position: relative;
}
.bigimg img {
	opacity:1;
	-moz-transform:scale(1, 1);
	-webkit-transform:scale(1, 1);
	-o-transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	transform:scale(1, 1);
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.bigimg:hover img {
	opacity:1;
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	-o-transform:scale(1.2, 1.2);
	-ms-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}
.boxes {
	width:280px;
	height:245px;
	background-color:#f5f5f5;
	border:none;
	overflow:hidden;
	z-index:10
}
.foot-style {
	text-align: center;
	font-size: 14px;
}
.margin-t {
	margin-top: 30px;
}
.pd-10 {
	padding-top: 5px;
}

.logo {
    padding:0;
}
#myCarousel {
    margin: 25px 0 0 0;
}
#navbar-collapse ul {
    margin-top:0;
}
.carousel-inner img{
    margin: 0 auto;
}
.carousel-control{
    font-size: 100px;

}

.center {
	text-align: center;
}
.margin-l {
	margin-left: 8%;
}
.big-button {
	margin-left: 10px;
}
.detail-img {
	width: 100%;
}
.detail-x {
	font-size: 18px;
}
.pd-5 {
	padding-top: 30px;
}
.pointer:hover {
	cursor: pointer;
}
.confirm-margin {
	margin-top: 10px;
}
.bigHead {
	padding-top: 10px;
}
.product-name {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
.product-price {
	text-align: center;
	color: #b92c28;
	font-size: 24px;
	padding-bottom: 5px;
}
.delete-button {
	margin-left: 11px;
}

.search-padding{
	padding-left: 5%;
	padding-right: 5%;
	padding-top:15px;
	padding-bottom:15px;
}

.list-group-item-diy{
	color: #555555;
	text-align: center;
}
.list-group-item-diy a,.list-group-item-diy a:hover,.list-group-item-diy a:visited{
	color: #555555;
}

.division {
	padding-top: 15px;
	padding-bottom: 15px;
}

.evaluationTable td{
	text-align: left;
}

.evaluationButton {
	padding-top: 10px;
}
.span16{
	padding-top:35px;
	width: 1060px;
    height: auto;
    float: right;
}
.span16 li{
	float: left;
    height: 300px;
    width: 234px;
    margin: 0 36px 14px 0;
    background-color: #FFFFFF;
    text-align: center;
    transition: box-shadow .3s linear;
    overflow:hidden;
}
.span16 img{
	margin-left:-12px;
	width: 260px;
    height: 160px;
    margin-top: 20px;
    margin-bottom:15px;
}
.span16 .goods-title{
	font-size: 16px;
    margin: 3px 0;
}
.span16 a{
	text-decoration: none;
    color: black;
}
.span16 .title{
	margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.span16 .goods-desc{
	font-size: 12px;
    color: #ADADAD;
    margin: 5px 0;
}
.span16 .brick4{
	margin: 0 0 14px 0;
}
.newprice {
    color: #FF6700;
}
a{
	text-decoration: none;
    color: black;
}
