/* 公共属性 */
body{font-size: 14px; color: #666;}
.zyl_center{text-align: center;}


/* 间距 */
.zyl_pad_01{padding: 5px 20px 5px 20px;}
.zyl_mar_01{margin-top: 20px;}
.zyl_mar_02{margin-top: 30px;}


/* 登陆表单 */
.zyl_lofo_main{background-color: rgba(0,0,0,0.46); width: 400px; height: 350px;position: absolute; right: 10%; top: 22%;}
.zyl_lofo_icon{position: absolute; left: 5px; top: 8px; font-size: 20px;}
.zyl_lofo_vercode{line-height: 35px; padding-left: 30px; font-size: 24px;}
@media screen and (max-width: 768px) {
	.zyl_lofo_main{width: 100%; height: 350px; right: 0;}
}


/* 粒子背景 */
.zyl_login_cont{width: 100%; height: 100%; background-color: #009688;}

/* 背景虚影 -- 虚影样式源于网络  */
