<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>申请商家</title>
    <link th:href="@{../static/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{../static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{../static/js/bootstrap.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{../static/css/layui.css}">
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../static/css/admin.css}">
    <link th:href="@{../static/css/index.css}" rel="stylesheet">
    <script th:src="@{../static/js/layui.js}"></script>
</head>
</head>
<body>
<nav th:replace="header :: header"></nav>
<div class="container-fluid">
    <form id="regForm" form autocomplete="off">
        <div class="layadmin-user-login layadmin-user-display-show" style="padding-top:30px;padding-bottom:30px;"
             id="LAY-user-login">
            <div class="layadmin-user-login-main">
                <div class="layadmin-user-login-box layadmin-user-login-header">
                    <h2>用户申请商家</h2>
                </div>
                <input type="hidden" name="storeUser" id="storeUser" lay-verify="storeUser"
                       th:value="${session.user.getUserId()}">
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="userName"></label>
                        <input type="text" id="userName" name="userName" lay-verify="userName"
                               th:value="${session.user.getUserName()}" class="layui-input" readonly
                        />
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="storeName"></label>
                        <input type="text" id="storeName" name="storeName" lay-verify="storeName" placeholder="店铺名称"
                               class="layui-input">
                    </div>

                    <div class="layui-form-item">
                        <textarea class="form-control" rows="3" id="storeDesc" name="storeDesc" lay-verify="storeDesc"
                                  placeholder="店铺描述"></textarea>
                    </div>
                    <br>
                    <div class="layui-form-item">
                        <button id="btn" class="layui-btn layui-btn-fluid" lay-submit="" type="button"
                                lay-filter="reg-submit" >申 请
                        </button>
                    </div>
                    <div>
                        <button id="back" class="layui-btn layui-btn-fluid" type="button">返回首页</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div th:replace="footer :: footer"></div>
</div>
<!--尾部-->
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        $("#test>li").mouseenter(function () {
            $(this).addClass("current");
        });
        $("#test>li").mouseleave(function () {
            $(this).removeClass("current");
        })

        $("#btn").click(function () {
            var storeName = $("#storeName").val();
            var storeDesc = $("#storeDesc").val();

            if($("#storeName").val() == ""){

                layer.msg("请输入店铺名称!")
                return false;
            }
            if($("#storeDesc").val() == ""){

                layer.msg("请输入店铺描述!")
                return false;
            }
            $.ajax({
                type: "post",
                url: "/store/shenqing/"+storeName + "/" + storeDesc,
                success: function(msg){
                    if(msg=='success'){
                        layer.msg("申请成功!",{icon:1,time:800},function () {
                            window.location.href="/CSM/toIndex";
                        });
                    }else if(msg == 'into'){
                        layer.msg("申请失败,您已经申请过了!",{icon:5,time:800});
                    }else {
                        layer.msg("申请失败!",{icon:5,time:800});
                    }
                }
            });

        })

        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
</script>

</body>
</html>