<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8" />
    <title>cart</title>
    <link rel="stylesheet" th:href="@{../../../static/css/order/proList.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/public.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/sweetalert.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/layui.css}">

</head>
<body style="background-color: #fff;">
<!--------------------------------------cart--------------------->
<nav th:replace="header :: header"></nav>
<div class="cart mt" style="width: 1200px;margin-left: 150px;">

    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl">购物车</span>
        </p>
    </div>
    <!-----------------table------------------->
    <div class="table wrapper">
        <div class="tr">
            <div>商品</div>
            <div>单价</div>
            <div>数量</div>
            <div>小计</div>
            <div>操作</div>
        </div>
        <div id="cartlist">
            <div class="th" th:if="${not #lists.isEmpty(cartGoodsList)}" th:each="cartGoods:${cartGoodsList}">
                <div class="pro clearfix">
                    <label class="fl">
                        <input type="checkbox" name="cart" th:value="${cartGoods.getCartId()}">
                        <span></span>
                    </label>
                    <a class="fl" href="javascript:void(0)">
                        <dl class="clearfix">
                            <dt class="fl"><img th:src="@{'../../../header/goods/' + ${cartGoods.getGoodsImg()}}" style="width: 120px;height: 120px;"></dt>
                            <dd class="fl">
                                <p style="width:220px;" id="gotoptitle" th:text="${cartGoods.getGoodsName()}"></p>
                                <p style="width:220px;" id="cartalt" th:text="'商品分类：'+${cartGoods.getTypeName()}"></p>
                                <p style="width:220px;"  th:text="'商品属性：'+${cartGoods.getGoodsAttr()}"></p>
                                商品库存：<span th:id="'good' + ${cartGoods.getCartId()}" style="width:220px;"  th:text="${cartGoods.getGoodsNums()}"></span>
                            </dd>
                        </dl>
                    </a>
                </div>
                <div class="price" id="gotopprice"><p th:text="'￥'+${cartGoods.getCartPrice()}"></p></div>
                <div class="number">
                    <p class="num clearfix">
                        <img class="fl sub"  th:onclick="'javascript:reduce('+${cartGoods.getCartId()}+','+${cartGoods.getGoodsId()}+')'" th:src="@{'../../../static/img/aimg/sub.jpg'}">
                        <span class="fl"   th:id="${cartGoods.getCartId()}" th:text="${cartGoods.getCartNum()}"></span>
                        <img class="fl add"  th:onclick="'javascript:add('+${cartGoods.getCartId()}+','+${cartGoods.getGoodsId()}+')'" th:src="@{'../../../static/img/aimg/add.jpg'}">
                    </p>
                </div>
                <div class="price sAll"><p th:text="'￥'+${cartGoods.getAllcartNum()}"></p></div>
                <div class="price"><a class="del" th:href="'javascript:cartGoodsDelete('+${cartGoods.getCartId()}+')'">删除</a></div>
            </div>
        </div>

        <div class="goOn" style="display: block;" th:if="${#lists.isEmpty(cartGoodsList)}">空空如也~<a th:href="@{/CSM/toIndex}">去逛逛</a></div>


        <div class="tr clearfix">
            <label class="fl">
                <input class="checkAll" type="checkbox"/>
                <span></span>
            </label>
            <p class="fl">
                <a href="javascript:void(0)">全选</a>
            </p>
            <p class="fr">
                <span>共<small id="sl">0</small>件商品</span>
                <span style="margin-right: 20px">合计:&nbsp;<small id="all">￥0.00</small></span>
                <a href="javascript:void(0)" class="count" onclick="jiesuan();">结算</a>
            </p>
        </div>
    </div>
</div>
<div class="mask"></div>

<!--footer-->
<br><br>
<div th:replace="footer :: html"></div>

<script th:src="@{../../../static/js/jquery-3.4.1.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../../../../static/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../../../static/js/sweetalert.min.js}"></script>
<script th:src="@{../../../static/js/pro.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{../../../static/js/cart.js}"></script>
<script th:src="@{../../../static/js/getParams.js}"></script>
<script th:src="@{../../../static/js/layui.js}" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
     /*   $("#test>li").mouseenter(function () {
            $(this).addClass("current");
        });
        $("#test>li").mouseleave(function () {
            $(this).removeClass("current");
        })*/
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
</script>
<script>

     add = function (cartId,goodsId) {
        $.ajax({
            type:"post",
            url:"/addCartNums/"+cartId+"/"+goodsId,
            success:function (data) {
            }
        })
    }
    reduce = function (cartId,goodsId) {
        $.ajax({
            type:"post",
            url:"/reduceCartNums/"+cartId+"/"+goodsId,
            success:function (data) {
                if (data=="no"){
                    layer.msg("不能再减啦",{icon:5,time:800});
                }
            }
        })
    }
    function cartGoodsDelete(CartId) {
        layer.open({
            title:'提示',
            type:1,
            offset:'auto',
            content:'<div style="padding: 20px 60px;font-size: 15px">'+ '是否确定将该商品移出购物车?' +'</div>',
            btn:['确定','取消'],
            btnAlign:'c',
            shade:0,
            yes:function () {
                $.ajax({
                    type:"post",
                    url:"/cartGoodsDelete/"+CartId,
                    success:function (data) {
                        if (data=="success"){
                            layer.msg("已将商品移出购物车",{icon:1,time:900},function () {
                                window.location.href="/goods/cart";
                            });
                        }else {
                            layer.msg("移出商品失败",{icon:5,time:900});
                        }
                    }
                });
            },
            btn2:function () {
                layer.closeAll();
            }
        });
    }
    function jiesuan() {
        var Classifys =[];
        var ClassifysNums =[];
        var ClassifysNums2 =[];
        $('.th input[type="checkbox"]:checked').each(function(){
            Classifys.push($(this).val());
            var num = $("#" + $(this).val()).text();
            var num2 = $("#good" + $(this).val()).text();
            ClassifysNums.push(num);
            ClassifysNums2.push(num2);//库存
        });
        for(j = 0,len=ClassifysNums.length; j < len; j++) {
            if(ClassifysNums[j] > ClassifysNums2[j]){
                layer.msg("购物数量大于库存数量！请重新选择数量！",{icon:5,time:800});
                return false;
            }
        }
        window.location.href="/cartGoodsPay/"+Classifys + "/" + ClassifysNums;
    }


</script>

</body>
</html>
