<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>收藏夹</title>
    <link rel="stylesheet" th:href="@{../static/css/alert.css}">
    <link th:href="@{../static/assets2/css/vendor/font-awesome.css}" rel="stylesheet">
    <link th:href="@{../static/assets2/css/plugins.css}" rel="stylesheet">
    <link th:href="@{../static/assets2/css/helper.min.css}" rel="stylesheet">
    <link th:href="@{../static/assets2/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../static/css/default.css}">
    <link rel="stylesheet" th:href="@{../static/css/singleShop.css}">
    <script th:src="@{../static/assets2/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--header-->
    <link th:href="@{../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../static/js/jquery.1.12.4.min.js}" type="text/javascript" ></script>
    <script th:src="@{../static/js/bootstrap.js}" type="text/javascript"></script>
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>

</head>

<body>
<nav th:replace="header :: header"></nav>
<br>

<div id="page-content-wrapper">
    <div class="container">
        <!-- Wishlist Page Content Start -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Wishlist Table Area -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="pro-thumbnail">图片</th>
                            <th class="pro-title">商品名称</th>
                            <th class="pro-title">商品属性</th>
                            <th class="pro-price">价格(元)</th>
                            <th class="pro-quantity">库存量</th>
                            <th class="pro-subtotal">加入购物车</th>
                            <th class="pro-remove">删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(collectGoodsList)}">
                            <h2>暂无收藏的商品</h2>
                        </tr>
                        <tr th:if="${not #lists.isEmpty(collectGoodsList)}">
                            <h2>我的收藏夹</h2>
                        </tr>
                        <tr th:if="${not #lists.isEmpty(collectGoodsList)}" th:each="collect:${collectGoodsList}">
                            <td class="pro-thumbnail" th:if="${collect.getGoodsState() eq 1}"><a th:href="'javascript:getGoodsById('+${collect.getGoodsId()}+')'"><img style="width: 75px;height: 60px" th:src="@{'../../header/goods/' + ${collect.getGoodsImg()}}" class="img-fluid" /></a></td>
                            <td class="pro-title" th:if="${collect.getGoodsState() eq 1}"><a th:href="'javascript:getGoodsById('+${collect.getGoodsId()}+')'" th:text="${collect.getGoodsName()}"></a></td>
                            <td class="pro-price" th:if="${collect.getGoodsState() eq 1}"><span th:text="${collect.getGoodsAttr()}"></span></td>
                            <td class="pro-price" th:if="${collect.getGoodsState() eq 1}"><span th:text="${collect.getGoodsPrice()}"></span></td>
                            <td class="pro-quantity" th:if="${collect.getGoodsState() eq 1}"><span th:text="${collect.getGoodsNums()}"></span></td>
                            <td class="pro-subtotal" th:if="${collect.getGoodsState() eq 1}"><a th:href="'javascript:cartGoods('+${collect.getGoodsId()}+','+${collect.getGoodsPrice()}+')'"class="btn-add-to-cart" >加入购物车</a></td>
                            <td class="pro-remove" th:if="${collect.getGoodsState() eq 1}"><a href="javascript:void(0);" th:onclick="'javascript:removeCollect('+${collect.getCollectId()}+')'" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Wishlist Page Content End -->
    </div>
</div>

<script th:src="@{../static/assets2/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/jquery-migrate-1.4.1.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/popper.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{../static/assets2/js/plugins.js}"></script>
<script th:src="@{../static/assets2/js/active.js}"></script>
<script th:src="@{../static/js/alert.js}"></script>
<script th:src="@{../static/index/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{../static/js/layui.js}"></script>
<script>
    layui.use(['layer'],function () {
        var layer = layui.layer;
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
    var getGoodsById = function (goodsId) {
        window.location.href="/goods/getGoodsById/"+goodsId;
    }
    $("#test>li").mouseenter(function () {
        $(this).addClass("current");
    });
    $("#test>li").mouseleave(function () {
        $(this).removeClass("current");
    })

    /*加入购物车*/
    function cartGoods(id,price) {
        $.ajax({
            type:"post",
            url:"/cartGoods/"+id + "/" + price,
            success:function (data) {
                if (data=="sucess"){
                    layer.msg("加入购物车成功",{icon:1,time:900});
                }else if (data=="add"){
                    layer.msg("购物车中该商品数量+1",{icon:1,time:900});
                }else if(data=="fail"){
                    layer.msg("加入购物车失败",{icon:5,time:900});
                }
            },
            error:function (data) {
                layer.msg("请求失败");
            }
        })
    }
    var removeCollect = function (collectId) {
        layer.open({
            title:'提示',
            type:1,
            offset:'auto',
            content:'<div style="padding: 20px 50px;font-size: 15px">'+ '是否取消收藏该商品?' +'</div>',
            btn:['是','否'],
            btnAlign:'c',
            shade:0,
            yes:function () {
                $.ajax({
                    type:"post",
                    url:"/collect/delCollectById/"+collectId,
                    success:function(data){
                        if (data=="success"){
                            layer.msg("取消收藏成功",{icon:1,time:800},function () {
                                window.location.href="/collect/userCollect"
                            });
                        }else {
                            layer.msg("取消收藏失败",{icon:5});
                        }
                    },
                    error:function () {
                        layer.msg("请求失败",{icon:5});
                    }
                });
            },
            btn2:function () {
                layer.closeAll();
            }
        });
    }
    $("#delete").click(function () {
        $("#deleteForm").submit();
    })
</script>
</body>
</html>
