<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link th:href="@{../static/css/bootstrap.css}" rel="stylesheet">
        <link th:href="@{../static/css/style.css}" rel="stylesheet">
        <link th:href="@{../static/css/index.css}" rel="stylesheet">
        <script th:src="@{../static/js/jquery.1.12.4.min.js}" type="text/javascript" ></script>
        <script th:src="@{../static/js/bootstrap.js}" type="text/javascript"></script>
    </head>
</head>
<body>
<div class="container conbom" th:fragment="footer" >
    <div class="con-bom-top">
        <div class="daohang-one"><div class="one-left"><img th:src="@{../../static/img/footer/daoone.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">正品保障</p><p class="onezi">正品行货&nbsp;放心选购</p></div></div>
        <div class="daohang-one"><div class="one-left"><img th:src="@{../../static/img/footer/bomtwo.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">满86包邮</p><p class="onezi">满86元&nbsp;免运费</p></div></div>
        <div class="daohang-one"><div class="one-left"><img th:src="@{../../static/img/footer/bomthree.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">售后无忧</p><p class="onezi">七天无理由退货</p></div></div>
        <div class="daohang-one"><div class="one-left"><img th:src="@{../../static/img/footer/bomfour.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">准时送达</p><p class="onezi">收货时间由你做主</p></div></div>
    </div>
    <div class="con-bom-middle">
        <div class="middle-one"><div class="mid-wen">新手入门</div><div class="mid-zi"><p><a>购物流程</a><p><a>会员制度</a><p><a>订单查询</a><p><a>发票制度</a><p><a>网站地图</a></div></div>
        <div class="middle-one"><div class="mid-wen">支付方式</div><div class="mid-zi"><p><a>货到发款</a><p><a>网上支付</a><p><a>礼品卡支付</a><p><a>其它支付</a></div></div>
        <div class="middle-one"><div class="mid-wen">配送服务</div><div class="mid-zi"><p><a>配送进度查询</a><p><a>商品验货与签收</a></div></div>
        <div class="middle-one"><div class="mid-wen">售后服务</div><div class="mid-zi"><p><a>退换货政策</a><p><a>联系客服</a></div></div>
    </div>
    <div class="con-bom-bom">
        <div class="bom-top"><span>经营执照&nbsp;&nbsp;|&nbsp;&nbsp;互联网信息服务资格证&nbsp;&nbsp;|&nbsp;&nbsp;联系电话:15891589414&nbsp;&nbsp;</span></div>
        <div class="bom-mid"><span>Copyright©&nbsp;电脑商城2022-10-01，All&nbsp;Rights&nbsp;Reserved</span></div>
    </div>
</div>
</body>
</html>
