<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/index/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/index/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/index/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/index/css/simple-line-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/index/css/fix-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/index/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/layui.css}">
    <!--header-->
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/jquery.1.12.4.min.js}" type="text/javascript" ></script>
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>
</head>
<nav th:replace="header :: header"></nav>
<br>
<body>
<div id="page-container">
    <main>
        <div class="container container-240">
            <div>
                <ul class="breadcrumb v4">
                    <li><a th:href="@{/CSM/toIndex}">主页</a></li>
                    <li class="active">Computer Shop</li>
                </ul>
                <div>
                    <a th:href="@{/goods/getGoodsById/19}" class="image-bd effect_img2"><img th:src="@{../../header/goods/show.png}"  class="img-reponsive"></a>
                </div>
                <div class="pd-top">
                    <h1 class="title">商品列表</h1>
                </div>
                <div th:if="${#lists.isEmpty(allGoodsList)}" style="padding-bottom: 40px"><h3>暂时无该商品信息，敬请期待</h3><br><a th:href="@{/CSM/toIndex}">返回商城主页</a></div>
                <div class="product-collection-grid product-grid spc1">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 product-item" style="cursor: pointer" th:each="goodsList:${allGoodsList}" >
                            <div class="pd-bd product-inner" th:onclick="'javascript:getGoodsById('+${goodsList.getGoodsId()}+')'">
                                <div class="product-img">
                                    <a href="#"><img style="width: 200px;height: 176px" th:src="@{'../../header/goods/' + ${goodsList.getGoodsImg()}}" alt="" ></a>
                                </div>
                                <div class="product-info">
                                    <div>
                                        <p class="product-title">[[${goodsList.getGoodsName()}]]</p>
                                        <h4 class="product-title">[[${goodsList.getGoodsAttr()}]]</h4>
                                        <div class="product-bottom">
                                            <div class="product-price"><span>[[${goodsList.getGoodsPrice()}]] 元</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group">
                                <a th:href="'javascript:cartGoods('+${goodsList.getGoodsId()}+','+${goodsList.getGoodsPrice()}+')'" class="btn-icon">
                                    <span class="icon-handbag f-22"></span>
                                </a>
                                <a th:href="'javascript:collectGoodsById('+${goodsList.getGoodsId()}+')'" class="btn-icon">
                                    <span class="icon-heart f-22"></span>
                                </a>
                                <a th:href="'javascript:getGoodsById('+${goodsList.getGoodsId()}+')'" class="btn-icon btn-view">
                                    <span class="icon-eye f-22"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</div>

<script th:src="@{../../static/index/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{../../static/js/layui.js}"></script>
<script>

    layui.use(['layer'],function () {
        var layer = layui.layer;
        getGoodsById = function(goodsId){
            window.location.href="/goods/getGoodsById/"+goodsId;
        }
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });

    });
    var collectGoodsById = function (goodsId) {
        $.ajax({
            type:"post",
            url:"/collect/collectGoods/"+goodsId,
            success:function (data) {
                if (data=="success"){
                    layer.msg("已将该商品加入收藏夹",{icon:1,time:800});
                }else if (data=="fail_Repeat"){
                    removeCollect(goodsId);
                }else if (data=="fail"){
                    layer.msg("出错了。。。收藏商品失败",{icon:5,time:800});
                }
            }
        });
    }
    $("#test>li").mouseenter(function () {
        $(this).addClass("current");
    });
    $("#test>li").mouseleave(function () {
        $(this).removeClass("current");
    })
    var getGoodsById = function (goodsId) {
        window.location.href="/goods/getGoodsById/"+goodsId;
    }
    var removeCollect = function (goodsId) {
        layer.open({
            title:'提示',
            type:1,
            offset:'auto',
            content:'<div style="padding: 20px 50px;font-size: 15px">'+ '该商品已存在您的收藏夹中，是否取消收藏?' +'</div>',
            btn:['是','否'],
            btnAlign:'c',
            shade:0,
            yes:function () {
                $.ajax({
                    type:"post",
                    url:"/collect/delReCollect/"+goodsId,
                    success:function(data){
                        if (data=="success"){
                            layer.closeAll();
                            layer.msg("取消收藏成功",{icon:1,time:800})

                        }else {
                            layer.msg("取消收藏失败",{icon:5});
                        }
                    },
                    error:function () {
                        layer.msg("请求失败",{icon:5});
                    }
                });
            },
            btn2:function () {
                layer.closeAll();
            }

        });
    }

    /*加入购物车*/
    function cartGoods(id,price) {
       $.ajax({
           type:"post",
           url:"/cartGoods/"+id + "/" + price,
           success:function (data) {
               if (data=="sucess"){
                   layer.msg("加入购物车成功",{icon:1,time:850});
               }else if (data=="add"){
                   layer.msg("购物车中该商品数量+1",{icon:1,time:850});
               }else if(data=="fail"){
                   layer.msg("加入购物车失败",{icon:5,time:900});
               }
           },
           error:function (data) {
               layer.msg("请求失败");
           }
       })
    }


</script>
</body>
</html>
