<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>单一商品</title>
    <link th:href="@{../../static/css/layui.css}" media="all" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{../../static/css/alert.css}">
    <link th:href="@{../../static/assets2/css/vendor/font-awesome.css}" rel="stylesheet">
    <link th:href="@{../../static/assets2/css/plugins.css}" rel="stylesheet">
    <link th:href="@{../../static/assets2/css/helper.min.css}" rel="stylesheet">
    <link th:href="@{../../static/assets2/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../../static/css/default.css}">
    <link rel="stylesheet" th:href="@{../../static/css/singleShop.css}">
    <script th:src="@{../../static/assets2/js/vendor/modernizr-2.8.3.min.js}"></script>
  <!--  header-->
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/jquery.1.12.4.min.js}" type="text/javascript" ></script>
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>
</head>

<body style="background-color: white">
<nav th:replace="header :: header"></nav>
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-product-page-content">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-thumbnail-wrap">
                                <div class="product-thumb-carousel owl-carousel">
                                    <div class="single-thumb-item" >
                                        <a href="#"><img width="400px" height="360px" th:src="@{'../../header/goods/' + ${goods.getGoodsImg()}}" class="img-fluid"  alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details">
                                <h2></h2>
                                <div id="wrap">
                                    <div id="bottom">
                                        <p>价格： <font>￥ <span id='price'>[[${goods.getGoodsPrice()}]]</span></font></p>
                                        <p>所属店家：<span>[[${goods.getStoreName()}]]</span></p>
                                        <p>商品名称：<span>[[${goods.getGoodsName()}]]</span></p>
                                        <p>商品属性：<span>[[${goods.getGoodsAttr()}]]</span></p>
                                        <p>商品描述：<span>[[${goods.getGoodsDesc()}]]</span></p>
                                        <p >剩余数量：<span id="goodsNums">[[${goods.getGoodsNums()}]]</span></p>
                                        <p><span>请选择购买数量：[一次性限购五个]</span></p>
                                        <div style="height: 38px;padding-top:5px;" id="text">
                                            <button id="redbtn" class="layui-btn layui-btn-sm layui-btn-danger" style="float: left;">-</button>
                                            <div class="layui-input-inline" style="width: 50px; float: left;margin-right: 5px;margin-left: 5px">
                                                <input style="height: 30px" type="text" id="num" name="num" autocomplete="off" value="1" readonly class="layui-input">
                                            </div>
                                            <button id="addbtn" class="layui-btn layui-btn-sm layui-btn-danger" style="float: left;">+</button>
                                        </div>
                                        <br>
                                        <div class="product-quantity d-flex align-items-center">
                                            <button class="btn btn-cart-large" id="gos" style="width: 200px;background-color: orangered" th:onclick="'javascript:getGoodsByIdBuy('+${goods.getGoodsId()}+')'">
                                                <i class="fa fa-shopping-cart"></i> 立即购买
                                            </button>
                                        </div>
                                        <div class="product-btn-group">
                                            <a th:href="'javascript:cartGoods('+${goods.getGoodsId()}+','+${goods.getGoodsPrice()}+')'" class="btn btn-round btn-cart" title="加入购物车" ><i class="fa fa-shopping-cart"></i></a>
                                            <a th:href="'javascript:collectGoodsById('+${goods.getGoodsId()}+')'" class="btn btn-round btn-cart" title="加入收藏夹" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product Details End -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Single Product Page Content End -->
        <br><br>
        <div class="row clearfix" style="margin-left: 100px">
            <h3 style="padding-left:30px;">商品评价区域：</h3>
            <div class="col-md-12 column">
                <div class="media-body" style="padding-left:20px;">
                    <div th:if="${#lists.isEmpty(evaluateList)}">
                        <hr>
                        <h4 style="color: gray">本商品暂无评价信息</h4>
                    </div>
                        <div th:each="evaList:${evaluateList}">
                            <hr class="layui-bg-orange">
                            <a href="javascript:;" class="media-left" style="float: left;">
                                <img class="layui-nav-img" th:if="${#strings.isEmpty(evaList.getEvaUser())}"th:src="@{'../../static/img/header/default.jpg'}" style="height:55px; width:55px;">
                                <img class="layui-nav-img" th:if="${not #strings.isEmpty(evaList.getEvaUser())}" th:src="@{'../../header/' + ${evaList.getUser_Img()}}" style="height:55px; width:55px;">
                            </a>
                            <div class="pad-btm">
                                <p class="fontColor"><span>已购商品用户</span>
                                <div th:switch="${evaList.getEvaLevel()}">
                                    <p th:case="0">差评</p>
                                    <p th:case="1">差评</p>
                                    <p th:case="2">中评</p>
                                    <p th:case="3">中评</p>
                                    <p th:case="4">四星好评</p>
                                    <p th:case="5">五星好评</p>
                                </div>
                                </p>
                                <p class="fontColor">
                                    <span>[[${evaList.getEvaDate()}]]</span>
                                </p>
                            </div>
                            <p class="message-text"><span>评论内容：</span>[[${evaList.getEvaContent()}]]</p>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script th:src="@{../../static/assets2/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{../../static/assets2/js/vendor/jquery-migrate-1.4.1.min.js}"></script>
<script th:src="@{../../static/assets2/js/vendor/popper.min.js}"></script>
<script th:src="@{../../static/assets2/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{../../static/assets2/js/ajax-mail.js}"></script>
<script th:src="@{../../static/assets2/js/plugins.js}"></script>
<script th:src="@{../../static/assets2/js/active.js}"></script>
<script th:src="@{../../static/js/alert.js}"></script>
<script th:src="@{../../static/js/shopIndex.js}"></script>

<script type="text/javascript">
    layui.use(['layer','rate'],function () {
        var layer = layui.layer;
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });


    /*加入购物车*/
    function cartGoods(id,price) {
        $.ajax({
            type:"post",
            url:"/cartGoods/"+id + "/" + price,
            success:function (data) {
                if (data=="sucess"){
                    layer.msg("加入购物车成功",{icon:1,time:850});
                }else if (data=="add"){
                    layer.msg("购物车中该商品数量+1",{icon:1,time:850});
                }else if(data=="fail"){
                    layer.msg("加入购物车失败",{icon:5,time:850});
                }
            },
            error:function (data) {
                layer.msg("请求失败");
            }
        })
    }
    var collectGoodsById = function (goodsId) {
        $.ajax({
            type:"post",
            url:"/collect/collectGoods/"+goodsId,
            success:function (data) {
                if (data=="success"){
                    layer.msg("已将该商品加入收藏夹",{icon:1,time:850});
                }else if (data=="fail_Repeat"){
                    removeCollect(goodsId);
                }else if (data=="fail"){
                    layer.msg("出错了。。。收藏商品失败",{icon:5,time:850});
                }
            }
        });
    }
    var removeCollect = function (goodsId) {
        layer.open({
            title:'提示',
            type:1,
            offset:'auto',
            content:'<div style="padding: 20px 50px;font-size: 15px">'+ '该商品已存在您的收藏夹中，是否取消收藏?' +'</div>',
            btn:['是','否'],
            btnAlign:'c',
            shade:0,
            yes:function () {
                $.ajax({
                    type:"post",
                    url:"/collect/delReCollect/"+goodsId,
                    success:function(data){
                        if (data=="success"){
                            layer.closeAll();
                            layer.msg("取消收藏成功",{icon:1,time:850})

                        }else {
                            layer.msg("取消收藏失败",{icon:5,time:850});
                        }
                    },
                    error:function () {
                        layer.msg("请求失败",{icon:5});
                    }
                });
            },
            btn2:function () {
                layer.closeAll();
            }

        });
    }

    $("#test>li").mouseenter(function () {
        $(this).addClass("current");
    });
    $("#test>li").mouseleave(function () {
        $(this).removeClass("current");
    });
    $("#addbtn").click(function () {
        var num = parseInt($("#num").val());
        if(num>=5){
            $("#addbtn").prop("disable",true);
        }else {
            $("#num").val(num + 1);
        }
    })
    $("#redbtn").click(function () {
        var num = parseInt($("#num").val());
        if (num-1<=0){
            $("#redbtn").prop("disable",true);
        }else {
            num--;
            $("#num").val(num);
        }
    });
    var getGoodsByIdBuy = function (goodsId) {
        var goodsNum = $("#goodsNums").text();
        var num = $("#num").val();
        if (goodsNum==0){
            layer.msg("抱歉，当前商品库存不足，暂时不能购买次商品。",{icon:5,time:900})
        }else if((goodsNum-num)<0){
            layer.msg("商品库存不足,请重新选择数量",{icon:5,time:900});
        }
        else {
            window.location.href="/goods/getGoodsByIdBuy/"+goodsId + "/" + num;
        }

    }

</script>
<script>
    
</script>

</body>
</html>
