<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/jquery.1.12.4.min.js}" type="text/javascript"></script>
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>

</head>
<body>

<nav class="navbar navbar-fixed-top" style="background-color: rgba(0,0,0,0.46)" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: white" th:href="@{/CSM/toIndex}">欢迎光临电脑商城</a>
        </div>

        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="padding-right:30px;" id="test">
                <li th:if="${#strings.isEmpty(session.user)}"><a th:href="@{/CSM/toShowReg}" style="color: white">注册</a>
                </li>
                <li th:if="${#strings.isEmpty(session.user)}"><a th:href="@{/CSM/toLogin}" style="color: white">登录</a>
                </li>
                <li th:if="${not #strings.isEmpty(session.user)}"><a th:href="@{/CSM/toIndex}"
                                                                     style="color: white">商城主页</a></li>
                <li th:if="${not #strings.isEmpty(session.user)}">
                    <a th:if="${session.user.roleId == 1}" th:href="@{/CSM/BecomeSeller}"
                       style="color: white">成为卖家</a>
                    <a th:if="${session.user.roleId == 2}"
                       th:href="@{/CSM/toStoreIndex}" id="myStore" style="color: white">我的店铺</a>
                </li>
                <li th:if="${not #strings.isEmpty(session.user)}"><a
                        th:href="@{/goods/cart}" style="color: white">购物车</a>
                </li>
                <li th:if="${not #strings.isEmpty(session.user)}"><a
                        th:href="@{/order/toOrderByUserId}" style="color: white">我的订单</a>
                </li>
                <li th:if="${not #strings.isEmpty(session.user)}"><a th:href="@{/collect/userCollect}"
                                                                     style="color: white">我的收藏</a></li>
                <li th:if="${not #strings.isEmpty(session.user)}"><a th:href="@{#}"
                                                                     style="color: white">用户：[[${session.user.userName}]]</a></li>
                <li th:if="${not #strings.isEmpty(session.user)}" class="dropdown" style="color: white">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <div style="margin-top:-10px;float:left;width:42px; height:42px; overflow:hidden;">
                            <img th:src="@{../../../header/{userImg}(userImg=${session.user.userImg})}"
                                 style="width:42px;height:42px; border-radius:50%" class="layui-nav-img"></div> &nbsp;&nbsp;&nbsp;&nbsp;<span
                            style="color: white">用户中心</span><span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 150px">
                        <li><a th:href="@{/user/getById/{userId}(userId=${session.user.userId})}">个人信息</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a th:href="@{/user/toAddAddress}">收货信息</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a th:href="@{/user/toUpPwd}">修改密码</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a th:href="@{#}" id="logout">注销登录</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

    });
</script>
<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>

</body>
</html>
