<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>电脑商城</title>
    <script th:src="@{../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../static/css/public.css}" rel="stylesheet"/>
    <link th:href="@{../static/css/cz.css}" rel="stylesheet"/>
    <!--引入iconfont-->
    <link th:href="@{../static/css/iconfont.css}" rel="stylesheet" >
    <!--引入swiper-->
    <link th:href="@{../static/css/swiper.min.css}" rel="stylesheet">
    <script th:src="@{../static/js/swiper.js}"></script>
    <!---->
    <link th:href="@{../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../static/css/style.css}" rel="stylesheet">
    <link th:href="@{../static/css/index.css}" rel="stylesheet">
    <script th:src="@{../static/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{../static/js/index.js}"></script>
    <script th:src="@{../static/js/layui.js}"></script>
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>
</head>
<body>
<nav th:replace="header :: header"></nav>
<br>
<div class="cz_head_nav">
    <div class="h-list">
        <ul>
            <li><a th:href="@{/goods/getAllGoods}">全部商品</a></li>
            <li><a th:href="@{/goods/getGoodsByType/1}">笔记本电脑</a></li>
            <li><a th:href="@{/goods/getGoodsByType/2}">台式电脑</a></li>
            <li><a th:href="@{/goods/getGoodsByType/4}">电脑硬件</a></li>
            <li><a th:href="@{/goods/getGoodsByType/3}">电脑配件</a></li>
            <li class="dropdown" >
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <span>全部品牌</span>
                </a>
                <ul class="dropdown-menu" id="brand">
                </ul>
            </li>
        </ul>
    </div>
    <div class="h-sear" id="cz-search" style="margin-right: 100px">
        <input type="text" id="goodsName">
        <i id="search" class="iconfont icon-xiazai17"></i>
    </div>

</div>
<div class="cz_body">
    <!--轮播图banner部分-->
    <section class="cz_banner">
        <div class="swiper-container main-swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="bannerList:${bannerList}"><a th:href="@{/goods/getGoodsById/{bannerGoods}(bannerGoods=${bannerList.getBannerGoods()})}">
                    <img th:src="@{../header/banner/{bannerImg}(bannerImg=${bannerList.getBannerImg()})}" alt=""></a></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination main-swiper-pagination"></div>
        </div>
    </section>
    <!--笔记本-->
    <section class="b-r m-top-25">
        <div class="phone-parts">
            <div class="g-top">
                <h2>笔记本电脑</h2>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="goodscon">
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 60px;width: 240px;height: 200px;" th:src="@{../static/img/header/goods/ASUS01.png}" alt=""></div>
                                </div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">华硕(ASUS) 天选</a></p>
                                <p><a href="">15.6英寸游戏笔记本电脑</a></p>
                            </div>
                            <p class="goods-price">￥<span>5998.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/11}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="goodscon" >
                            <div class="swiper-container hotGoods-swiper-container" onclick="togoods1()">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 50px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/ASUS02.jpg}" alt=""></div>

                                </div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">华硕(ASUS) 顽石六代Pro</a></p>
                                <p><a href=""> 15.6英寸轻薄笔记本电脑</a></p>
                            </div>
                            <p class="goods-price">￥<span>3998.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/12}" class="check-detail">查看详情</a>
                            </div>

                        </div>
                    </td>
                    <td>
                        <div class="goodscon" >
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 30px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/Lenovo.jpg}" alt=""></div>
                                </div>
                                <!--分页器 -->
                                <div class="swiper-pagination  hotGoods-swiper-pagination"></div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">联想(Lenovo)小新Pro13 </a></p>
                                <p><a href="">英特尔酷睿i5 全面屏独显轻薄笔记本电脑</a></p>
                            </div>
                            <p class="goods-price">￥<span>3998.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/13}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="goodscon">
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 40px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/Lenovo02.png}" alt=""></div>
                                </div>
                                <!--分页器 -->
                                <div class="swiper-pagination  hotGoods-swiper-pagination"></div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">联想(Lenovo)拯救者</a></p>
                                <p><a href="">15.6英寸游戏笔记本电脑</a></p>
                            </div>
                            <p class="goods-price">￥<span>6998.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/14}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <br>
    <!--台式电脑-->
    <section class="b-r m-top-25">
        <div class="phone-parts">
            <div class="g-top">
                <h2>台式电脑</h2>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="goodscon">
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 60px;width: 240px;height: 200px;" th:src="@{../static/img/header/goods/戴尔(DELL)灵越3670_02.jpg}" alt=""></div>
                                </div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">戴尔(DELL)灵越</a></p>
                                <p><a href="">i5 高性能 台式电脑整机23.6英寸</a></p>
                            </div>
                            <p class="goods-price">￥<span>5999.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/22}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="goodscon" >
                            <div class="swiper-container hotGoods-swiper-container" >
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 50px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/惠普战99_01.jpg}" alt=""></div>

                                </div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">惠普 战99_02</a></p>
                                <p><a href=""> 商用办公台式电脑</a></p>
                            </div>
                            <p class="goods-price">￥<span>5999.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/23}" class="check-detail">查看详情</a>
                            </div>

                        </div>
                    </td>
                    <td>
                        <div class="goodscon" >
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 30px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/联想(Lenovo)天逸510S .jpg}" alt=""></div>
                                </div>
                                <!--分页器 -->
                                <div class="swiper-pagination  hotGoods-swiper-pagination"></div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">联想(Lenovo)天逸510S </a></p>
                                <p><a href="">英特尔酷睿i5 全面屏独显轻薄笔记本电脑</a></p>
                            </div>
                            <p class="goods-price">￥<span>3999.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/24}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="goodscon">
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 40px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/lbsp4.jpg}" alt=""></div>
                                </div>
                                <!--分页器 -->
                                <div class="swiper-pagination  hotGoods-swiper-pagination"></div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">灵越AIO 5491</a></p>
                                <p><a href="">微边框一体机台式电脑23.8英寸</a></p>
                            </div>
                            <p class="goods-price">￥<span>6799.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/18}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <!--配件和硬件-->
    <section class="b-r m-top-25">
        <div class="phone-parts">
            <div class="g-top">
                <h2>配件和硬件</h2>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="goodscon">
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 60px;width: 240px;height: 200px;" th:src="@{../static/img/header/goods/鼠标01.jpg}" alt=""></div>
                                </div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">AW610M雷蛇鼠标</a></p>
                                <p><a href="">无线RGB游戏电竞鼠标</a></p>
                            </div>
                            <p class="goods-price">￥<span>300.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/19}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="goodscon" >
                            <div class="swiper-container hotGoods-swiper-container" >
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 50px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/1589551857(1).jpg}" alt=""></div>

                                </div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">罗技键盘</a></p>
                                <p><a href="">有线鼠标 商务办公鼠标（黑色）</a></p>
                            </div>
                            <p class="goods-price">￥<span>99.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/32}" class="check-detail">查看详情</a>
                            </div>

                        </div>
                    </td>
                    <td>
                        <div class="goodscon" >
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 30px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/金士顿(Kingston)固态硬盘_01.jpg}" alt=""></div>
                                </div>
                                <!--分页器 -->
                                <div class="swiper-pagination  hotGoods-swiper-pagination"></div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">金士顿固态硬盘</a></p>
                                <p><a href="">笔记本台式机固态硬盘ssd 256g</a></p>
                            </div>
                            <p class="goods-price">￥<span>300.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/30}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="goodscon">
                            <div class="swiper-container hotGoods-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img style="padding-left: 40px;width: 280px;height: 200px;" th:src="@{../static/img/header/goods/金士顿(Kingston) DDR4 2666_01.png}" alt=""></div>
                                </div>
                                <!--分页器 -->
                                <div class="swiper-pagination  hotGoods-swiper-pagination"></div>
                            </div>
                            <div class="goods-link">
                                <p><a href="">金士顿内存条DDR4</a></p>
                                <p><a href="">金士顿 DDR4 2666 8GB 台式机内存条</a></p>
                            </div>
                            <p class="goods-price">￥<span>299.00</span></p>
                            <div class="whole-link">
                                <a th:href="@{/goods/getGoodsById/29}" class="check-detail">查看详情</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>


</div>

<br><br>
<div th:replace="footer :: footer"></div>
<script>
</script>
<script>
    //banner----swiper初始化
    var mySwiper = new Swiper ('.main-swiper-container', {
        autoplay:true,
        speed:3000,
        loop: true,
        effect : 'fade',
        fadeEffect: {
            crossFade: true,
        },
        //分页器
        pagination: {
            el: '.main-swiper-pagination',
            clickable:true,
        },
    });
    //热门商品部分
    var hotGoodsSwiper=new Swiper ('.hotGoods-swiper-container', {
        autoplay:false,
        effect : 'fade',
        fadeEffect: {
            crossFade: true,
        },
        //分页器
        pagination: {
            el: '.hotGoods-swiper-pagination',
            clickable:true,
        },
    });

</script>
<script th:src="@{../../static/js/notice.js}"></script>
<script type="text/javascript">

    layui.use(['layer','notice'], function() {

        var layer = layui.layer;
        var notice = layui.notice;
        notice.options = {
            closeButton:true,//显示关闭按钮
            debug:false,//启用debug
            positionClass:"toast-top-right",//弹出的位置,
            showDuration:"1000",//显示的时间
            hideDuration:"1000",//消失的时间
            timeOut:"4000",//停留的时间
            extendedTimeOut:"3000",//控制时间
            showEasing:"swing",//显示时的动画缓冲方式
            hideEasing:"linear",//消失时的动画缓冲方式
            iconClass: 'toast-info', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名
            onclick: function () {
                openurl("/admin/orders");
            }, // 点击关闭回调
        };
        $(function () {
            notice.info("您有订单未进行付款，点击此处前往付款");
        })
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });

        $(function () {
            getAllBrand();
        })

        $("#search").click(function () {
            var goodsName = $("#goodsName").val();
            window.location.href="/goods/getGoodsByLikeName/"+goodsName;
        })

        $("#test>li").mouseenter(function () {
            $(this).addClass("current");
        });
        $("#test>li").mouseleave(function () {
            $(this).removeClass("current");
        })
    });
</script>
</body>
</html>