<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户登录界面</title>
    <link rel="stylesheet" th:href="@{../static/login/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{../static/login/css/login.css}" />
    <script th:src="@{../static/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{../static/login/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{../static/login/assembly/jqarticle/jparticle.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/login/assembly/zylVerificationCode/zylVerificationCode.js}"></script>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .layui-input{background-color: inherit; padding-left: 30px;border:1px solid blue}
    </style>
</head>
<body style="width:100%;height:100%">

<!-- Head End -->

<!-- Carousel -->
<div class="layui-row" th:href="@{#}" >
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-carousel zyl_login_height" id="zyllogin" lay-filter="zyllogin">
            <div carousel-item="">
                <div>
                    <img href="#" style="width: 1520px;height: 780px"  th:src="@{../static/img/header/desk/desk1.jpg}" />
                </div>
                <div>
                    <img href="#" style="width: 1520px;height: 780px;"  th:src="@{../static/img/header/desk/desk2.jpg}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="zyl_lofo_main">
    <fieldset class="layui-elem-field layui-field-title zyl_mar_02">
        <legend ><p style="color: rgba(45,90,175,0.95);font-family: YouYuan;font-weight: 600">欢迎登陆 -电脑商城</p></legend>
    </fieldset>
    <div class="layui-row layui-col-space15">
        <form class="layui-form zyl_pad_01" id="loginform">
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <input type="text" id="userName" name="userName" lay-verify="required" autocomplete="off" placeholder="用户名/手机号/邮箱" class="layui-input" onblur="checkuserMess()" >
                    <i class="layui-icon layui-icon-username zyl_lofo_icon"></i>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <input type="password" id="userPwd" name="userPwd" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input" >
                    <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md6">
                        <div class="layui-form-item">
                            <input type="text" name="vercode" id="vercode"  autocomplete="off" placeholder="验证码" class="layui-input" maxlength="4" lay-verify="vercodes">
                            <i class="layui-icon layui-icon-vercode zyl_lofo_icon"></i>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <div class="zyl_lofo_vercode zylVerCode" onclick="zylVerCode()"></div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space20">
            <div class="layui-col-sm12 layui-col-md6">
                <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit="" lay-filter="demo1">立即登录</button>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <a class="layui-btn layui-btn-normal layui-btn-fluid" th:href="@{/CSM/toShowReg}" id="reg_btn">注册账号</a>
            </div>
            </div>
            <div class="layui-row layui-col-space20">
                <div class="layui-col-sm12 layui-col-md12">
                    <a class="layui-btn layui-btn-normal layui-btn-fluid" th:href="@{/CSM/toIndex}" id="index_btn">前往商城主页</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['carousel', 'form','jquery'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //自定义验证规则
        form.verify({
            pass: [/^[\S]{1,9}$/,'密码必须6到12位，且不能出现空格']
            ,vercodes: function(value){
                //获取验证码
                var zylVerCode = $(".zylVerCode").html();
                var lowerCase = zylVerCode.toLowerCase();//小写
                var upperCase = zylVerCode.toUpperCase();//大写
                if(value!=zylVerCode&&value.toLowerCase()!=lowerCase&&value.toUpperCase()!=upperCase){
                    return '验证码错误，请重新输入';
                }
            }
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        form.on('submit(demo1)', function(data){
           $.ajax({
               type:"post",
               url:"/user/user_login",
               data:$("#loginform").serialize(),
               success:function (data) {
                   if (data=="ok"){
                       layer.msg("登录成功,即将跳转到商城主页!",{icon:1,anim:4,time:1000},function() {
                           window.location.href = "/CSM/toIndex";
                       });
                   }else if(data=="not"){
                       layer.msg("该用户已被禁用", {icon: 5});
                   }else if(data=="delete"){
                       layer.msg("该用户不存在", {icon: 5});
                   }
                   else {
                       layer.msg("账号和密码不匹配，登录失败", {icon: 5,time:1000});
                   }
               },
               error:function (data) {
                   layer.msg("请求错误",{icon:5,time:800});
               }
           });
            return false
        });


        //设置轮播主体高度
        var zyl_login_height = $(window).height()/1;
        var zyl_car_height = $(".zyl_login_height").css("cssText","height:" + zyl_login_height + "px!important");


        //Login轮播主体
        carousel.render({
            elem: '#zyllogin'//指向容器选择器
            ,width: '100%' //设置容器宽度
            ,height:'zyl_car_height'
            ,arrow: 'always' //始终显示箭头
            ,anim: 'fade' //切换动画方式
            ,autoplay: true //是否自动切换false true
            ,arrow: 'always' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
            ,indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
            ,interval: '3000' //自动切换时间:单位：ms（毫秒）
        });

        //监听轮播--案例暂未使用
        carousel.on('change(zyllogin)', function(obj){
            var loginCarousel = obj.index;
        });

        //粒子线条
    });
</script>
<script>
    function checkuserMess(){
        var regPhone=/^1[34578]\d{9}$/;
        var regName=/^\w{3,}$/;
        var regEmai=/^\w+@\w+\.[A-Za-z]{2,3}(\.[A-Za-z]{2,3})?$/;

        var userName = $("#userName").val();
        var userPwd=$("#userPwd").val();
        if (!regEmai.test(userName)&&!regPhone.test(userName)){
            $("#userName").attr("name","userName");
        }
        if(regEmai.test(userName)){
            $("#userName").attr("name","userEmail");
        }

        if(regPhone.test(userName)){
            $("#userName").attr("name","userPhone");
        }
    }
</script>
<script>
   $(function () {
       $("#com1").click(function () {
           alert(123);
       })

   })
</script>
</body>
</html>
