<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>请先登录</title>

</head>

<body>
<div style="text-align: center;margin-top: 100px">
    <h3>您还没登录，请登录或注册登录</h3>

    <p><a style="font-size: 15px;color: red" th:href="@{/CSM/toLogin}">前往登录</a></p>
</div>
</body>
</html>