<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>我的订单</title>
    <link rel="stylesheet" th:href="@{../../static/css/alert.css}">
    <link th:href="@{../../static/assets2/css/vendor/font-awesome.css}" rel="stylesheet">
    <link th:href="@{../../static/assets2/css/plugins.css}" rel="stylesheet">
    <link th:href="@{../../static/assets2/css/helper.min.css}" rel="stylesheet">
    <link th:href="@{../../static/assets2/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../static/css/default.css}">
    <link rel="stylesheet" th:href="@{../static/css/singleShop.css}">
    <script th:src="@{../../static/assets2/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--header-->
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <style>
        .current {
            background-color: rgba(20, 8, 31, 0.55);
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
</head>

<body>
<nav th:replace="header :: header"></nav>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" style="margin-top: 200px;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="height: 0px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >×</button>
                <h4 class="modal-title" id="myModalLabel">评价</h4>
            </div>
            <div class="modal-body">
                <div>
                <div id="test2"></div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block" style="margin-left: -5px;">
                        <textarea id="Receiving" placeholder="请输入评论内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <input type="hidden" id="OrderId" value="">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="Receiving()">评价</button>
            </div>
        </div>
    </div>
</div>

<div id="page-content-wrapper">
    <div class="container">
        <!-- Wishlist Page Content Start -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Wishlist Table Area -->
                <div class="cart-table table-responsive" style="width: 1400px;margin-left: -140px;">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <!--<th class="pro-thumbnail">商品名称</th>-->
                            <th class="pro-thumbnail">订单号</th>
                            <th class="pro-title">订单时间</th>
                            <th class="pro-title">商品图片</th>
                            <th class="pro-title">商品名称</th>
                            <th class="pro-price">订单价格(元)</th>
                            <th class="pro-quantity">订单状态</th>
                            <th class="pro-subtotal">收货人</th>
                            <th class="pro-remove">联系方式</th>
                            <th class="pro-remove">收获地址</th>
                            <th class="pro-remove">店铺</th>
                            <th class="pro-remove">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(orderinfoList)}">
                            <h2>暂无订单</h2>
                        </tr>
                        <tr th:if="${not #lists.isEmpty(orderinfoList)}">
                            <h2>我的订单</h2>
                        </tr>
                        <tr th:if="${not #lists.isEmpty(orderinfoList)}" th:each="orderGoods,iterStat:${orderGoodsList}">
                            <td class="pro-price"><span th:id="${iterStat.index}"
                                    th:text="${orderGoods.getOrderId()}"></span></td>
                            <td class="pro-price"><span
                                    th:text="${orderGoods.getUpdateTimeGoods()}"></span></td>
                            <td class="pro-price"><img style="height:50px;width:60px" th:src="@{'../../header/goods/' + ${orderGoods.getGoodsImg()}}" ></td>
                            <td class="pro-price"><span
                                    ><a th:text="${orderGoods.getGoodsName()}" href="#" th:onclick="'javascript:getGoodsById('+${orderGoods.getGoodsId()}+')'"></a></span></td>
                            <td class="pro-price"><span
                                    th:text="${orderGoods.getOrderPrice()}"></span></td>
                            <td class="pro-price">
                                <span style="display: none;" th:id="${iterStat.index} + 'state'" th:text="${orderGoods.getOrderState()}"></span>
                                <span th:if="${orderGoods.getOrderState() == 1}"><a
                                        href="#"
                                        th:onclick="'javascript:getGoodsByIdBuy('+${iterStat.index}+')'" style="color: red">待付款</a></span>
                                <span th:if="${orderGoods.getOrderState()  == 2}">待发货</span>
                                <span th:if="${orderGoods.getOrderState()  == 3}"><a
                                        href="#"
                                        th:onclick="'javascript:getGoodsByIdReceiving('+${iterStat.index}+')'" style="color: red">确认收货</a></span>
                                <span th:if="${orderGoods.getOrderState() == 4}"><a
                                        href="#"
                                        th:onclick="'javascript:modelAppraisals('+${iterStat.index}+')'" style="color: #e83e8c">前往评价</a></span>
                                <span th:if="${orderGoods.getOrderState()  == 5}" style="color: #1E9FFF">完成</span></td>
                            <td class="pro-price"><span
                                    th:text="${orderGoods.getOrderReceiver()}"></span></td>
                            <td class="pro-price"><span
                                    th:text="${orderGoods.getOrderPhone()}"></span></td>
                            <td class="pro-price"><span
                                    th:text="${orderGoods.getOrderAddress()}"></span></td>
                            <td class="pro-price"><span th:text="${orderGoods.getGoodsStore()}">店铺</span></td>
                            <td class="pro-remove"><a
                                    href="#"
                                    th:onclick="'javascript:removeCollect('+${iterStat.index}+')'"
                                    ><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Wishlist Page Content End -->
    </div>
</div>

<script th:src="@{../static/index/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/jquery-migrate-1.4.1.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/popper.min.js}"></script>
<script th:src="@{../static/assets2/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{../static/assets2/js/plugins.js}"></script>
<script th:src="@{../static/assets2/js/active.js}"></script>
<script th:src="@{../static/js/alert.js}"></script>
<script th:src="@{../static/js/layui.js}"></script>

<script th:inline="javascript">
    layui.use(['layer'], function () {
        var layer = layui.layer;

        var getGoodsById = function(goodsId){
            window.location.href="/goods/getGoodsById/"+goodsId;
        }

        $("#myStore").click(function () {
            $.ajax({
                type:"get",
                url:"/store/isStop",
                success:function (data) {
                    if (data=="success"){
                        window.location.href="/CSM/toStoreIndex";
                    }else {
                        layer.msg("您的店铺被停运了，请联系管理员,联系方式：15891589414",{icon:5,time:2000});
                    }
                }
            })
        })
        $("#logout").click(function () {
            layer.open({
                title: '提示',
                type: 1,
                offset: 'auto',
                content: '<div style="padding: 20px 60px;font-size: 15px">' + '您是否确定注销登录?' + '</div>',
                btn: ['确定', '取消'],
                btnAlign: 'c',
                shade: 0,
                yes: function () {
                    $.ajax({
                        type: "get",
                        url: "/user/user_logout",
                        success: function (data) {
                            if (data == "success") {
                                window.location.href = "/CSM/toLogin";
                            } else {
                                layer.msg("注销登录失败", {icon: 5});
                            }
                        },
                        error: function () {
                            layer.msg("请求失败", {icon: 5});
                        }
                    });
                },
                btn2: function () {
                    layer.closeAll();
                }

            });
        });
    });
    var getGoodsById = function (goodsId) {
        window.location.href = "/goods/getGoodsById/" + goodsId;
    }
    $("#test>li").mouseenter(function () {
        $(this).addClass("current");
    });
    $("#test>li").mouseleave(function () {
        $(this).removeClass("current");
    })
    /*删除订单*/
    var removeCollect = function (OrderId) {

        var state1 =$("#" + OrderId + "state");

        if(state1.text() == 2 || state1.text() == 3){
            layer.msg("当前订单处于处理状态，不能删除!",{icon:5,time:800});
            return false;
        }
        var cont=$("#" + OrderId);

        var orderId = cont.text();

        layer.open({
            title: '提示',
            type: 1,
            offset: 'auto',
            content: '<div style="padding: 20px 50px;font-size: 15px">' + '是否取消该商品订单?' + '</div>',
            btn: ['是', '否'],
            btnAlign: 'c',
            shade: 0,
            yes: function () {
                $.ajax({
                    type: "post",
                    url: "/order/delOrderById/" + orderId,
                    success: function (data) {
                        if (data == "success") {
                            layer.closeAll();
                            layer.msg("取消订单成功", {icon: 1});
                            window.location.href = "/order/toOrderByUserId";
                        } else {
                            layer.msg("取消订单失败", {icon: 5});
                        }
                    },
                    error: function () {
                        layer.msg("请求失败", {icon: 5});
                    }
                });
            },
            btn2: function () {
                layer.closeAll();
            }
        });
    }
    $("#delete").click(function () {
        $("#deleteForm").submit();
    })
    /*待付款*/
    var getGoodsByIdBuy = function (OrderId) {
        var cont=$("#" + OrderId);
        window.location.href = "/payment/getOrderIdByIdBuy/" + cont.text();
    }
    /*确认收获*/
    var getGoodsByIdReceiving = function (OrderId) {
        var cont=$("#" + OrderId);

            layer.open({
                title: '提示',
                type: 1,
                offset: 'auto',
                content: '<div style="padding: 20px 50px;font-size: 15px">' + '是否确认收货?' + '</div>',
                btn: ['是', '否'],
                btnAlign: 'c',
                shade: 0,
                yes: function () {
                    $.ajax({
                        url:"/goods/getGoodsByIdReceiving",
                        data:{"orderId":cont.text()},
                        success:function (e) {
                            if(e == "success"){
                                layer.msg("确认收货成功",{icon:1,time:800},function () {
                                    window.location.href = "/order/toOrderByUserId";
                                })
                            }else {
                                layer.msg("确认收货失败",{icon:1,time:800});
                            }
                        }
                    });
                },
                btn2: function () {
                    layer.closeAll();
                }
            });
    }
    var modelAppraisals = function (OrderId) {
        var cont=$("#" + OrderId);

        $("#OrderId").attr("value",cont.text());

        $('#myModal').modal('show');

    }
    /*商品评价*/
    function Receiving() {
        var fen = $("#test2").children(".layui-inline").text();
        var OrderId = $("#OrderId").val();
        var receiving = $("#Receiving").val();

        $.ajax({
            url:"/evaluate/Receiving",
            data:{"orderId":OrderId,"fen":fen,"receiving":receiving},
            success:function (e) {
                if(e == "success"){
                    layer.msg("评价完成",{icon:1,time:800},function () {
                        window.location.href = "/order/toOrderByUserId";
                    });
                }else {
                    alert("评价失败")
                }
            }
        });
    }



</script>
<script>
    layui.use(['rate'], function(){
        var rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#test1'
        })

        //显示文字
        var star = rate.render({
            elem: '#test2'
            ,value: 0//初始值
            ,text: true //开启文本
        });

        //半星效果
        rate.render({
            elem: '#test3'
            ,value: 2.5 //初始值
            ,half: true //开启半星
        })
        rate.render({
            elem: '#test4'
            ,value: 3.5
            ,half: true
            ,text: true
        })

        //自定义文本
        rate.render({
            elem: '#test5'
            ,value: 3
            ,text: true
            ,setText: function(value){ //自定义文本的回调
                var arrs = {
                    '1': '极差'
                    ,'2': '差'
                    ,'3': '中等'
                    ,'4': '好'
                    ,'5': '极好'
                };
                this.span.text(arrs[value] || ( value + "星"));
            }
        })
        rate.render({
            elem: '#test6'
            ,value:0
            ,half: true
            ,text: true
            ,setText: function(value){
                this.span.text(value);
            }
        })

        //自定义长度
        rate.render({
            elem: '#test7'
            ,length: 3
        });
        rate.render({
            elem: '#test8'
            ,length: 10
            ,value: 8 //初始值
        });

        //只读
        rate.render({
            elem: '#test9'
            ,value: 4
            ,readonly: true
        });

        //主题色
        rate.render({
            elem: '#test10'
            ,value: 3
            ,theme: '#FF8000' //自定义主题色
        });
        rate.render({
            elem: '#test11'
            ,value: 3
            ,theme: '#009688'
        });

        rate.render({
            elem: '#test12'
            ,value: 2.5
            ,half: true
            ,theme: '#1E9FFF'
        })
        rate.render({
            elem: '#test13'
            ,value: 2.5
            ,half: true
            ,theme: '#2F4056'
        });
        rate.render({
            elem: '#test14'
            ,value: 2.5
            ,half: true
            ,theme: '#FE0000'
        })
    });
</script>
</body>
</html>
