<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>申请商家</title>
    <link th:href="@{../../../static/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../../../static/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/admin.css}">

    <link rel="stylesheet" th:href="@{../../../static/css/order/mygxin.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/proList.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/public.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/sweetalert.css}">

    <link th:href="@{../../../static/css/index.css}" rel="stylesheet">
    <script th:src="@{../../../static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{../../../static/js/layui.js}"></script>
    <script th:src="@{../../../static/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{../../../../static/js/public.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../../../static/js/pro.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../../../static/js/user.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../../../static/js/sweetalert.min.js}"></script>
    <script th:src="@{../../../static/js/address.js}"></script>
    <script th:src="@{../../../static/js/cart.js}"></script>
    <script th:src="@{../../../static/js/distpicker.data.js}"></script>
    <script th:src="@{../../../static/js/main.js}"></script>
    <script th:src="@{../../../static/js/distpicker.js}"></script>
    <script th:src="@{../../../static/js/getParams.js}"></script>
</head>

<style>
    select{
        font-family: "微软雅黑";
        width: 249px;
        height: 40px;
        font-size: 18px;
        color: black;
        text-align: center;
        border: 1px #1a1a1a solid;
        border-radius: 5px;
    }

    select:focus{
        border: 2px #ddd solid;
        box-shadow: 0 0 15px 1px black;
    }
</style>

</head>
<body>
<nav th:replace="header :: header"></nav>
<div class="order cart mt">


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #F2F2F2;">
                <div class="modal-header" style="background-color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择地址</h4>
                </div>
                <br>
                <div th:if="${#lists.isEmpty(addressList)}" style="text-align: center"><h3>暂无收货地址</h3></div>
                <div th:if="${not #lists.isEmpty(addressList)}" th:each="address : ${addressList}">
                <div style="width: 550px;height: 100px;margin: 20px 20px 20px 20px;">
                <div class="layui-card" style="height: 100px;">
                    <div class="layui-card-body" style="height: 100px;">
                            <div>
                                <input type="hidden" th:value="${goods.getGoodsId()}" id="input1">
                                <div class="tit clearfix">
                                    <p class="fl" th:text="${address.getAddrReceiver()}">
                                    </p>
                                    <p class="fr">
                                        <a href="javascript:void(0)" class="setDefault" th:onclick="setdefault([[${address.getAddrId()}]])">设为默认</a>
                                    </p>
                                </div>
                                <div class="addCon">
                                    <p th:text="${address.getAddrProvince()}+' '+${address.getAddrCity()}+' '+${address.getAddrArea()}+' '+${address.getAddrStreet()}+' '+${address.getAddrDetail()}"></p>
                                    <p th:text="${address.getAddrPhone()}"></p>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">新增地址</h4>
                </div>
                <div class="modal-body">
                    <form class="layui-form" action="" method="post" style="margin:50px auto">
                        <div class="layui-form-item">
                            <label class="layui-form-label">收货人联系方式</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" id="phone" oninput = "value=value.replace(/[^\d]/g,'')" required  lay-verify="required" placeholder="请输入收货人联系方式" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">收货人名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" id="name" required  lay-verify="required" placeholder="请输入收货人名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">请选择地区</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="layui-inline">
                                <select name="province" id="province" lay-verify="required" lay-search lay-filter="province">
                                    <option value="">省份</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <select name="city" id="city" lay-verify="required" lay-search lay-filter="city">
                                    <option value="">地级市</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <select name="district" id="district" lay-verify="required" lay-search>
                                    <option value="">县/区</option>
                                </select>
                            </div>
                            <br/>
                            <div class="layui-form-item">
                                <label class="layui-form-label">街道</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" id="jiedao" required  lay-verify="required" placeholder="请输入街道" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">详细地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" id="detailsAddress" required  lay-verify="required" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮政编码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" id="youzheng" required  lay-verify="required" oninput = "value=value.replace(/[^\d]/g,'')" placeholder="请输入邮政编码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addAddress()">新增</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" th:value="${goods.getGoodsId()}" id="input2">
    <!-----------------site------------------->
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">订单确认</span>
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderL fl">
            <!--------h3---------------->
            <h3>收货信息<a th:href="@{/user/toAddAddress}" class="fr" style="margin-left: 20px;" data-toggle="modal" >新增地址</a><a href="#" class="fr" style="margin-left: 20px;" data-toggle="modal" data-target="#myModal">选择地址</a></h3>
            <!--------address---------------->
            <div  th:if="${address1==null}"><h3 id="checkAddress">暂无收货信息</h3></div>
            <div th:if="${address1!=null}" class="addres clearfix" id="orderaddress" style="overflow: scroll; width: 720px;height: 400px;">
            <div>
                <div class="tit clearfix">
                    <p class="fl" th:text="${address1.getAddrReceiver()}">
                    </p>
                    <span style="color: red">[默认地址]</span>
                </div>
                <div class="addCon">
                    <p th:text="${address1.getAddrProvince()}+' '+${address1.getAddrCity()}+' '+${address1.getAddrArea()}+' '+${address1.getAddrStreet()}+' '+${address1.getAddrDetail()}"></p>
                    <p th:text="${address1.getAddrPhone()}"></p>
                </div>
            </div>
            </div>
            <h3>支付方式</h3>
            <div class="way clearfix">
                <img class="on" th:src="@{'../../../static/img/aimg/way01.jpg'}">
            </div>

        </div>
        <div class="orderR fr">
            <div class="msg">
                <!--------ul---------------->
                <ul class="clearfix" th:if="${goods.getGoodsId()==null}">
                    <li class="fl">
                        <img th:src="@{'../../../header/goods/' + ${goods.getGoodsImg()}}" style="width: 87px;height: 87px;">
                    </li>
                    <li class="fl">
                        <p style="width:240px;height:auto;" th:text="${goods.getGoodsName()}"></p>
                        <p th:text="'数量：'+${num}"></p>
                    </li>
                    <li class="fr" th:text="'￥'+${goods.getGoodsPrice()}"></li>
                </ul>
                <ul class="clearfix" th:if="${goods.getGoodsId()!=null}">
                    <li class="fl">
                        <img th:src="@{'../../../header/goods/' + ${goods.getGoodsImg()}}" style="width: 87px;height: 87px;">
                    </li>
                    <li class="fl">
                        <p style="width:240px;height:auto;" th:text="${goods.getGoodsName()}"></p>
                        <p style="width:240px;height:auto;" th:text="${goods.getGoodsAttr()}"></p>
                        <p th:text="'数量：'+${num}"></p>
                        <input type="hidden" th:value="${num}" id="num1">
                    </li>
                    <li class="fr" th:text="'￥'+${goods.getGoodsPrice()}"></li>
                </ul>
            </div>
            <div>
                    <div class="tips">
                        <p><span class="fl">商品金额：</span><span class="fr" th:text="'￥'+${goods.getGoodsPrice()}"></span></p>
                        <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                        <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
                    </div>
                    <div class="count tips">
                        <p><span class="fl">合计：</span><span class="fr" th:text="'￥'+${goods.getGoodsPrice()}"></span></p>
                    </div>


                <a href="#" class="pay" onclick="pay()">去支付</a>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <div class="container conbom" th:fragment="footer" >
        <div class="con-bom-top">
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/daoone.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">正品保障</p><p class="onezi">正品行货&nbsp;放心选购</p></div></div>
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/bomtwo.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">满86包邮</p><p class="onezi">满86元&nbsp;免运费</p></div></div>
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/bomthree.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">售后无忧</p><p class="onezi">七天无理由退货</p></div></div>
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/bomfour.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">准时送达</p><p class="onezi">收货时间由你做主</p></div></div>
        </div>
        <div class="con-bom-middle">
            <div class="middle-one"><div class="mid-wen">新手入门</div><div class="mid-zi"><p><a>购物流程</a><p><a>会员制度</a><p><a>订单查询</a><p><a>发票制度</a><p><a>网站地图</a></div></div>
            <div class="middle-one"><div class="mid-wen">支付方式</div><div class="mid-zi"><p><a>货到发款</a><p><a>网上支付</a><p><a>礼品卡支付</a><p><a>其它支付</a></div></div>
            <div class="middle-one"><div class="mid-wen">配送服务</div><div class="mid-zi"><p><a>配送进度查询</a><p><a>商品验货与签收</a></div></div>
            <div class="middle-one"><div class="mid-wen">售后服务</div><div class="mid-zi"><p><a>退换货政策</a><p><a>联系客服</a></div></div>
        </div>
        <div class="con-bom-bom">
            <div class="bom-top"><span>经营执照&nbsp;&nbsp;|&nbsp;&nbsp;互联网信息服务资格证&nbsp;&nbsp;|&nbsp;&nbsp;联系电话:15891589414&nbsp;&nbsp;</span></div>
            <div class="bom-mid"><span>Copyright©&nbsp;电脑商城2022-10-01，All&nbsp;Rights&nbsp;Reserved</span></div>
        </div>
    </div>
</div>
<script th:src="@{../../../static/js/area.js}"></script>
<script th:src="@{../../../static/js/select.js}"></script>



<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        $("#back").click(function () {
            window.location.href="/CSM/toAdminIndex";
        })

        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });

    });
</script>
<!--尾部-->
<script type="text/javascript">
    //提交修改
    $("#updateForm").submit(function () {
        if(checkName($("#ordername"))&&checkTelephone($("#orderphone"))&&checkProvince($("#orderprovince"))
            &&checkCity($("#ordercity"))&&checkCounty($("#ordercounty"))&&checkParticulars($("#orderparticulars"))){

            $.get("/order/updateAddress",$(this).serialize(),function (data) {
                if (data){
                    location.href="/order/refreshAddress";
                }
            })
        }
        return false;
    })
    //设为默认地址
    function setdefault(id) {
        var goodsId = $("#input1").val();
        var num = $("#num1").val();
        window.location.href="/setDefault/"+id + "/" + goodsId + "/" + num;
    }


    function pay() {
        if($("#checkAddress").length>0 ){
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '请填写收货信息后再进行购买' +'</div>',
                btn:['前往填写收货信息','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                  window.location.href="/user/toAddAddress"
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        }else {
            var goodsId = $("#input1").val();
            var num = $("#num1").val();
            window.location.href="/payment/payById/"+goodsId + "/" + num;
        }

    }




</script>


</body>
</html>
