<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>申请商家</title>
    <link th:href="@{../../../static/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../../../static/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/admin.css}">

    <link rel="stylesheet" th:href="@{../../../static/css/order/mygxin.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/proList.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/public.css}">
    <link rel="stylesheet" th:href="@{../../../static/css/order/sweetalert.css}">

    <link th:href="@{../../../static/css/index.css}" rel="stylesheet">
    <script th:src="@{../../../static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{../../../static/js/layui.js}"></script>
    <script th:src="@{../../../static/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{../../../../static/js/public.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../../../static/js/pro.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../../../static/js/user.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../../../static/js/sweetalert.min.js}"></script>
    <script th:src="@{../../../static/js/address.js}"></script>
    <script th:src="@{../../../static/js/cart.js}"></script>
    <script th:src="@{../../../static/js/distpicker.data.js}"></script>
    <script th:src="@{../../../static/js/main.js}"></script>
    <script th:src="@{../../../static/js/distpicker.js}"></script>
    <script th:src="@{../../../static/js/getParams.js}"></script>
</head>

<style>
    select{
        font-family: "微软雅黑";
        width: 249px;
        height: 40px;
        font-size: 18px;
        color: black;
        text-align: center;
        border: 1px #1a1a1a solid;
        border-radius: 5px;
    }

    select:focus{
        border: 2px #ddd solid;
        box-shadow: 0 0 15px 1px black;
    }
</style>

</head>
<body>
<nav th:replace="header :: header"></nav>
<div class="order cart mt">


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #F2F2F2;">
                <div class="modal-header" style="background-color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择地址</h4>
                </div>
                <div th:if="${#lists.isEmpty(addressList)}"><h3>暂无收货地址</h3></div>
                <div th:if="${not #lists.isEmpty(addressList)}" th:each="address : ${addressList}">
                <div style="width: 550px;height: 100px;margin: 20px 20px 20px 20px;">
                <div class="layui-card" style="height: 100px;">
                    <div class="layui-card-body" style="height: 100px;">
                            <div>
                                <div class="tit clearfix">
                                    <p class="fl" th:text="${address.getAddrReceiver()}">
                                    </p>
                                    <p class="fr">
                                        <a href="javascript:void(0)" class="setDefault" th:onclick="setdefault([[${address.getAddrId()}]])">设为默认</a>
                                    </p>
                                </div>
                                <div class="addCon">
                                    <p th:text="${address.getAddrProvince()}+' '+${address.getAddrCity()}+' '+${address.getAddrArea()}+' '+${address.getAddrStreet()}+' '+${address.getAddrDetail()}"></p>
                                    <p th:text="${address.getAddrPhone()}"></p>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-----------------site------------------->
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">订单确认</span>
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderL fl">
            <h3>收件信息<a th:href="@{/user/toAddAddress}" class="fr" style="margin-left: 20px;" data-toggle="modal" >新增地址</a><a href="#" class="fr" style="margin-left: 20px;" data-toggle="modal" data-target="#myModal">选择地址</a></h3>
            <br>
            <div th:if="${#lists.isEmpty(addressList)}" style="text-align: center"><h3>暂无收货地址</h3></div>
            <div  th:if="${address1==null}"><h3 id="checkAddress">暂无收货信息</h3></div>
            <div  th:if="${address1!=null}" class="addres clearfix" id="orderaddress" style="overflow: scroll; width: 720px;height: 400px;">
            <div>
                <div class="tit clearfix">
                    <p class="fl" th:text="${address1.getAddrReceiver()}">
                    </p>
                    <span style="color: red">[默认地址]</span>
                    <p class="fr">
                        <a href="javascript:void(0)" th:onclick="swal('默认地址不能删除')">删除</a>
                        <span>|</span>
                    </p>
                </div>
                <div class="addCon">
                    <p th:text="${address1.getAddrProvince()}+' '+${address1.getAddrCity()}+' '+${address1.getAddrArea()}+' '+${address1.getAddrStreet()}+' '+${address1.getAddrDetail()}"></p>
                    <p th:text="${address1.getAddrPhone()}"></p>
                </div>
            </div>
            </div>
            <h3>支付方式</h3>
            <!--------way---------------->
            <div class="way clearfix">
                <img class="on" th:src="@{'../../../static/img/aimg/way01.jpg'}">
            </div>

        </div>
        <div class="orderR fr">
            <div class="msg">
                <div th:each="goods : ${goodsList}">
                <!--------ul---------------->
                <ul class="clearfix" th:if="${goods.getGoodsId()==null}">
                    <li class="fl">
                        <img th:src="@{'../../../header/goods/' + ${goods.getGoodsImg()}}" style="width: 87px;height: 87px;">
                    </li>
                    <li class="fl">
                        <p style="width:240px;height:auto;" th:text="${goods.getGoodsName()}"></p>
                        <p th:text="'数量：'+${goods.getGoodsNums()}"></p>
                    </li>
                    <li class="fr" th:text="'￥'+${goods.getGoodsPrice()}"></li>
                </ul>
                <ul class="clearfix" th:if="${goods.getGoodsId()!=null}">
                    <li class="fl">
                        <img th:src="@{'../../../header/goods/' + ${goods.getGoodsImg()}}" style="width: 87px;height: 87px;">
                    </li>
                    <li class="fl">
                        <p style="width:240px;height:auto;" th:text="${goods.getGoodsName()}"></p>
                        <p style="width:240px;height:auto;" th:text="${goods.getGoodsAttr()}"></p>
                        <p th:text="'数量：'+${goods.getGoodsNums()}"></p>
                        <input type="hidden" th:value="${goods.getGoodsNums()}" id="num1">
                    </li>
                    <li class="fr" th:text="'￥'+${goods.getGoodsPrice()}"></li>
                </ul>
                </div>
            </div>
            <div>
                    <div class="tips">
                        <p><span class="fl">商品金额：</span><span class="fr" th:text="'￥'+${Allprice}"></span></p>
                        <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                        <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
                    </div>
                    <div class="count tips">
                        <p><span class="fl">合计：</span><span class="fr" th:text="'￥'+${Allprice}"></span></p>
                    </div>

                <a href="#" class="pay" onclick="pay()">去支付</a>
            </div>
        </div>
    </div>


    <!-- 尾部 -->
    <div class="container conbom" th:fragment="footer" >
        <div class="con-bom-top">
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/daoone.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">正品保障</p><p class="onezi">正品行货&nbsp;放心选购</p></div></div>
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/bomtwo.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">满86包邮</p><p class="onezi">满86元&nbsp;免运费</p></div></div>
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/bomthree.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">售后无忧</p><p class="onezi">七天无理由退货</p></div></div>
            <div class="daohang-one"><div class="one-left"><img th:src="@{../../../static/img/footer/bomfour.jpg}" width="100%" height="100%"></div><div class="one-two"><p class="onewen">准时送达</p><p class="onezi">收货时间由你做主</p></div></div>
        </div>
        <div class="con-bom-middle">
            <div class="middle-one"><div class="mid-wen">新手入门</div><div class="mid-zi"><p><a>购物流程</a><p><a>会员制度</a><p><a>订单查询</a><p><a>发票制度</a><p><a>网站地图</a></div></div>
            <div class="middle-one"><div class="mid-wen">支付方式</div><div class="mid-zi"><p><a>货到发款</a><p><a>网上支付</a><p><a>礼品卡支付</a><p><a>其它支付</a></div></div>
            <div class="middle-one"><div class="mid-wen">配送服务</div><div class="mid-zi"><p><a>配送进度查询</a><p><a>商品验货与签收</a></div></div>
            <div class="middle-one"><div class="mid-wen">售后服务</div><div class="mid-zi"><p><a>退换货政策</a><p><a>联系客服</a></div></div>
        </div>
        <div class="con-bom-bom">
            <div class="bom-top"><span>经营执照&nbsp;&nbsp;|&nbsp;&nbsp;互联网信息服务资格证&nbsp;&nbsp;|&nbsp;&nbsp;联系电话:15891589414&nbsp;&nbsp;</span></div>
            <div class="bom-mid"><span>Copyright©&nbsp;电脑商城2022-10-01，All&nbsp;Rights&nbsp;Reserved</span></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;


        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/user/user_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });

    });
</script>
<script type="text/javascript">


    //设为默认地址
    function setdefault(id) {
        window.location.href="/setDefault/"+id;
    }
    //删除地址
    function deleteByOrderAddress(id){
        swal({
            title: "您确定要删除吗？",
            text: "您确定要删除这条数据？",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "是的，我要删除",
            confirmButtonColor: "#ec6c62"
        }, function() {
            $.post("/order/deleteAddressById",{"id":id},function (data) {
                if(data){
                    swal("操作成功!", "已成功删除数据！", "success");
                    setTimeout(function () {
                        location.href="/order/refreshAddress";
                    }, 1000);
                }else{
                    swal("操作失败", "删除操作失败了!", "error");
                }
            },"json");
        });
    }

    function pay() {
        if($("#checkAddress").length>0 ){
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '请填写收货信息后再进行购买' +'</div>',
                btn:['前往填写收货信息','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    window.location.href="/user/toAddAddress"
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        }else {
            window.location.href="/payment/pay/";
        }

    }

</script>
</body>
</html>
