<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{../static/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{../static/js/bootstrap.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{../static/css/layui.css}">
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../static/css/admin.css}">
    <link th:href="@{../static/css/index.css}" rel="stylesheet">
    <script th:src="@{../static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{../static/js/layui.js}"></script>
    <style>
        .current{
            background-color: rgba(20,8,31,0.55);
        }
    </style>


</head>
<body>
<nav th:replace="header :: header"></nav>
<div class="container-fluid">
    <form id="regForm" form autocomplete="off">
        <div class="layadmin-user-login layadmin-user-display-show" style="padding-top:30px;padding-bottom:30px;"
             id="LAY-user-login">
            <div class="layadmin-user-login-main">
                <div class="layadmin-user-login-box layadmin-user-login-header">
                    <h2>用户注册</h2>
                </div>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="userName"></label>
                        <input type="text" id="userName" name="userName"  lay-verify="userName" placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="userPwd"></label>
                        <input type="password" name="userPwd" id="userPwd" lay-verify="userPwd" placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="rePwd"></label>
                        <input type="password" name="rePwd" id="rePwd" lay-verify="rePwd" placeholder="确认密码" class="layui-input">
                    </div>

                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="userPhone"></label>
                        <input type="text" name="userPhone" id="userPhone" lay-verify="userPhone" placeholder="手机号"  class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="userEmail"></label>
                        <input type="text" name="userEmail" id="userEmail" lay-verify="email" placeholder="邮箱" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-date" for="userBirth"></label>
                        <input type="text" name="userBirth" class="layui-input" id="userBirth" placeholder="请选择您的出生日期" lay-verify="userBirth">
                    </div>
                    <div>
                        <select name="userSex" id="userSex" lay-verify="userSex">
                            <option value="">请选择您的性别</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <br>
                    <div class="layui-form-item">
                        <button id="btn" class="layui-btn layui-btn-fluid" lay-submit="" type="button"
                                lay-filter="reg-submit">注 册</button>
                    </div>
                    <div>
                        <button id="back" class="layui-btn layui-btn-fluid" type="button">返回登录</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div th:replace="footer :: footer"></div>
</div>
<!--尾部-->
<script type="text/javascript">
    layui.use(['form','layer','laydate'], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        laydate.render({
           elem:'#userBirth'
        });
        form.verify({
            userName:function (value) {
                if (value.length<3||value.length>16){
                    return '用户名必须为3-16个字符';
                }
            }
            ,userPwd:function (value) {
                if (value.length<3||value.length>6){
                    return '密码必须为6-16个字符';
                }else {
                    $("#userPwd").css("border","green 1px solid");
                }
            }
            ,rePwd:function (value) {
                var rePwd = $("#userPwd").val();
                console.log(rePwd);
                if (value!=rePwd){
                    return '两次输入的密码不一致!';
                }else {
                    $("#rePwd").css("border","green 1px solid");
                }
            }
            ,userSex:function (value) {
                if (value==""){
                    return '请选择您的性别';
                }
            }
            ,userBirth:function (value) {
                if (value==""){
                    return '请选择您的出生日期';
                }
            }
            ,userPhone:function (value) {
                var regPhone=/^1[34578]\d{9}$/;
                var userPhone = $("#userPhone").val();
                if (!regPhone.test(userPhone)){
                    return '手机格式不正确';
                }
            }
        })

        $("#userName").blur(function () {
            var userName = $("#userName").val();
            console.log(userName);
            $.ajax({
                type:"post",
                url:"/user/checkByName/"+userName,
                success:function (data) {
                    if (data==='ok'){
                        $("#userName").css("border","green 1px solid");
                        $("#userName").prop("flag","success");
                    }else {
                        $("#userName").css("border","red 1px solid");
                        $("#userName").prop("flag","fail");
                        layer.msg("该用户名已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        $("#userPhone").blur(function () {
            var userPhone = $("#userPhone").val();
            console.log(userPhone);
            $.ajax({
                type:"post",
                url:"/user/checkByPhone/"+userPhone,
                success:function (data) {
                    if (data=='ok'){
                        $("#userPhone").css("border","green 1px solid");
                        $("#userPhone").prop("flag","success");
                    }else {
                        $("#userPhone").css("border","red 1px solid");
                        $("#userPhone").prop("flag","fail");
                        layer.msg("该手机号码已被注册,请重新填写",{icon:5});
                    }
                }
            });
        });

        $("#userEmail").blur(function () {
            var userEmail = $("#userEmail").val();
            var regEmai=/^\w+@\w+\.[A-Za-z]{2,3}(\.[A-Za-z]{2,3})?$/;
            console.log(userEmail);
            $.ajax({
                type:"post",
                url:"/user/checkByEmail/"+userEmail,
                success:function (data) {
                    if (data=='ok'){
                        $("#userEmail").css("border","green 1px solid");
                        $("#userEmail").prop("flag","success");
                    }else {
                        $("#userEmail").css("border","red 1px solid");
                        $("#userEmail").prop("flag","fail");
                        layer.msg("该邮箱已被注册,请重新填写",{icon:5});
                    }
                }
            });
        });

        form.on('submit(reg-submit)',function () {
            if ($("#userName").prop("flag")==="fail"){
                layer.msg("该用户名已被注册,请重新填写",{icon:5})
                return false;
            }
            if ($("#userPhone").prop("flag")==="fail"){
                layer.msg("该手机号码已被注册,请重新填写",{icon:5})
                return false;
            }
            if ($("#userEmail").prop("flag")==="fail"){
                layer.msg("该邮箱已被注册,请重新填写",{icon:5})
                return false;
            }
            $.ajax({
                type:"post",
                url:"/user/registerUser",
                data:$("#regForm").serialize(),
                success:function (data) {
                    if (data=="success"){
                        layer.msg("注册成功！即将跳转到登陆页面！",{icon:1,anim:4,time:1500},function() {
                            window.location.href = "/CSM/toLogin";
                        });
                    }else{
                        layer.msg("注册失败！请重新注册！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            return false;
        });
        $("#back").click(function () {
            window.location.href="/CSM/toLogin";
        });
        $("#test>li").mouseenter(function () {
            $(this).addClass("current");
        });
        $("#test>li").mouseleave(function () {
            $(this).removeClass("current");
        })
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定注销登录?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    window.location.href='/CSM/toLogin';
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
</script>
</body>
</html>