<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/layui.css}" media="all" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/admin.css}" rel="stylesheet">
    <link th:href="@{../../static/css/login.css}" rel="stylesheet" >
    <link th:href="@{../../static/css/index.css}" rel="stylesheet">

</head>
<body>
<button id="Eva">评价</button>
<div id="evaData" style="width:600px;padding-top:15px;display:none;">
    <form id="evaForm">
        <input type="hidden" id="evaOrderId" name="evaOrderId" />
        <div class="layui-form-item">
            <label class="layui-form-label" style="padding-top:15px;">评分:</label>
            <div class="layui-input-inline">
                <input type="hidden" name="evaLevel" required lay-verify="required" id="evaStar" />
                <div id="evaLevel" style="width: 200px;margin-left: 10px"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">评论图:</label>
            <div  class="layui-input-block">
                <button type="button" class="layui-btn" id="morePic">多图片上传</button>
                <button type="button" class="layui-btn" id="startUp">开始上传</button>
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
            </div>
        </div>
        <input type="text" id="imgUrls" name="imgUrls" style="display: none;" class="layui-input">
        <div class="layui-form-item">
            <label class="layui-form-label">评价内容:</label>
            <div class="layui-input-inline" style="margin-left: 15px">
                <textarea rows="8" cols="50" class="layui-textarea" style="width: 400px" required lay-verify="required" name="evaContent"></textarea>
            </div>
        </div>
        <button type="reset" style="display:none;" id="evaReset"></button>
    </form>
</div>
<script>
    layui.use(['layer','element','form','rate','upload'],function () {
        var success=0;
        var fail=0;
        var imgurls="";
        var layer = layui.layer;
        var element = layui.element;
        var form = layui.form;
        var rate = layui.rate;
        var upload = layui.upload;
        form.render();
        element.render();
        var ins1 = rate.render({
            elem: '#evaLevel',  //绑定元素
            theme: '#FF5722',
            choose:function(value){
                $("#evaStar").val(value);
            }
        });
        $("#Eva").click(function () {
            layer.open({
                type:1,
                title:'发表评价',
                shade:0.4,
                fix:false,
                shadeClose:true,
                maxmin:false,
                area:['630px','400px'],
                content:$("#evaData"),
                btn:['发表评价','取消'],
                success:function (layero,index) {
                    layero.addClass('layui-form');
                    form.render();
                },
                btn2:function () {
                }

            })
        });
        upload.render({
            elem:'#morePic',
            url:'/evaluate/uploadEvaImg',
            multiple:true,
            number:5,
            size:10240,
            auto:false,
            bindAction:'#startUp',
            before:function (data) {
                data.preview(function (index,file,result) {
                    $('#demo2').append('<img style="width:70px;height:70px;" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            },
            done:function (res,index,upload) {
                console.log(res.code);
                if (res.code=="1"){
                    fail++;
                }else {
                    success++;
                    imgurls=imgurls+""+res.src+",";
                }
                $('#imgUrls').val(imgurls);

            },
            allDone:function (data) {
                layer.msg("总共要上传图片总数为："+(fail+success)+"\n"
                    +"其中上传成功图片数为："+success+"\n"
                    +"其中上传失败图片数为："+fail
                );
            }
        });
    });
</script>
</body>
</html>