<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加商品品牌</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
</head>
<body>
<form method="post" class="layui-form" style="margin-top:2%;" id="bannerForm">
    <div class="layui-form-item">
        <label class="layui-form-label">品牌名称：</label>
        <div class="layui-input-block">
            <input type="text" name="brandName" id="brandName" class="layui-input" lay-verify="require">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input class="layui-btn" type="submit" lay-filter="add-submit" lay-submit="" value="添加" />
            <input class="layui-btn" type="reset" value="重置" />
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;

        form.on('submit(add-submit)',function () {
            var brandName = $("#brandName").val();
            $.ajax({
                type:"post",
                url:"/brand/addBrand/"+brandName,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("添加成功",{icon:1,anim:4,time:800},function() {
                            window.location.href = "/admin/brandList";
                        });
                    }else{
                        layer.msg("添加失败！请重试！",{icon:5,anim:6,time:800});
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>