<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上架商品</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>上架商品</legend>
</fieldset>
<form method="post" class="layui-form" style="display: none;margin-top: 40px" id="brandForm">
    <div class="layui-form-item">
        <label class="layui-form-label">品牌名称：</label>
        <div class="layui-input-block">
            <input type="text" name="brandName" id="brandName" class="layui-input" lay-verify="require">
        </div>
    </div>

</form>
<form method="post" class="layui-form" style="margin-top:2%;" id="goodsForm">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称：</label>
        <div class="layui-input-block">
            <input type="text" name="goodsName" id="GoodsName" class="layui-input" lay-verify="GoodsName">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品数量：</label>
        <div class="layui-input-block">
            <input type="number" name="goodsNums" id="goodsNums" class="layui-input" lay-verify="required"
                   onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品品牌：</label>
        <div class="layui-input-block">
            <select name="goodsBrand" id="goodsBrand"  lay-verify="required">
                <option value="">请选择商品品牌</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品类型：</label>
        <div class="layui-input-block">
            <select name="goodsType" id="goodsType"  lay-verify="required">
                <option value="">请选择商品类型</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品价格：</label>
        <div class="layui-input-block">
            <input type="number" name="goodsPrice" id="goodsPrice" class="layui-input" lay-verify="required" onkeyup="clearNoNum(this)" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品属性：</label>
        <div class="layui-input-block">
            <input type="text" name="goodsAttr" id="goodsAttr" class="layui-input" lay-verify="goodsAttr"  >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品描述：</label>
        <div class="layui-input-block">
            <textarea name="goodsDesc" id="goodsDesc" lay-verify="goodsDesc" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品图片:</label>
        <div class="layui-input-block">
            <input type="hidden" id="goodsImg" name="goodsImg" lay-verify="goodsImg" >
            <button type="button" id="goods" class="layui-btn" >
                <i class="layui-icon">&#xe67c;</i>上传本地照片
            </button>
        </div>
    </div>
    <div id="headerView" class="layui-form-item" style="display: none">
        <label class="layui-form-label">商品图片预览:</label>
        <div class="layui-input-block">
            <img id="PreViewH" style="width:200px;height:200px;">
        </div>
    </div>
    <input type="hidden" id="goodsStore" name="goodsStore" >
    <br><br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input class="layui-btn" type="submit" lay-filter="reg-submit" lay-submit="" value="添加商品" />
            <input class="layui-btn layui-btn-warm" type="button" id="addBrand" value="添加商品品牌" />
            <input class="layui-btn" type="reset" value="重置" />
        </div>
    </div>
</form>

<script type="text/javascript">
    layui.use(['form','layer','laydate','upload'], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var upload  = layui.upload;
        var laydate = layui.laydate;
        laydate.render({
            elem:'#userBirth'
        });
        $(function () {

        });
        $("#addBrand").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:$("#brandForm"),
                area: ['400px;', '200px;'],
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    var brandName = $("#brandName").val();
                    $.ajax({
                        type:"post",
                        url:"/brand/addBrand/"+brandName,
                        success:function (data) {
                            if (data=="success"){
                                layer.msg("添加成功",{icon:1,anim:4,time:800},function() {
                                    window.location.href = "/goods/toAddGoods";
                                });
                            }else{
                                layer.msg("添加失败！请重试！",{icon:5,anim:6,time:800});
                            }
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }
            });
        })
        upload.render({
            elem:'#goods',
            url:'/goods/upload',
            done:function (res) {
                layer.msg('上传商品图片成功！',{icon:1,anim:4, time:1500});
                $("#goodsImg").prop("value",res.goodsImg);
                $("#headerView").css("display","inline")
                $("#PreViewH").prop("src", "/header/goods/"+res.goodsImg);
            },
            error:function () {
                layer.msg('上传商品图片失败！',{icon:5,time:1500});
            }
        });
        $(function () {
            getAllBrand();
            getAllGoodsType();
            getStoreByUser();
        })
        var getStoreByUser=function () {
            $.ajax({
                type:"get",
                url:"/store/getStoreByUser",
                success:function (data) {
                    $("#goodsStore").val(data);
                }
            })
        }
        var getAllBrand=function () {
            $.ajax({
                type:"get",
                url:"/goods/getAllBrand",
                dataType:"json",
                success:function (data) {
                    var str = "<option value=''>请选择商品品牌</option>";
                    for (var i = 0;i<data.length;i++){
                        str = str+"<option value='"+data[i].brandId+"'>"+data[i].brandName+"</option>";
                    }
                    $("#goodsBrand").html(str);
                    form.render();
                }
            })
        }
        var getAllGoodsType = function(){
            $.ajax({
                type:"get",
                url:"/goods/getAllGoodsType",
                dataType:"json",
                success:function (data) {
                    var str = "<option value=''>请选择商品类型</option>";
                    for (var i = 0;i<data.length;i++){
                        str = str+"<option value='"+data[i].typeId+"'>"+data[i].typeName+"</option>";
                    }
                    $("#goodsType").html(str);
                    form.render();
                }
            })
        }
        form.on('submit(reg-submit)',function () {
            $.ajax({
                type:"post",
                url:"/goods/addGoods",
                data:$("#goodsForm").serialize(),
                success:function (data) {
                    if (data=="success"){
                        layer.msg("上架商品成功",{icon:1,anim:4,time:800},function () {
                            window.location.href="/admin/goods";
                        });
                    }else{
                        layer.msg("上架商品失败！",{icon:5,anim:6});
                    }
                }
            });
            return false;
        });
        form.verify({
            goodsName:function (value) {
                if (value.length>20||value.length<3){
                    return '商品名称必须为3-20个字符';
                }
            }
            ,goodsAttr:function (value) {
                if (value.length>30||value.length<3){
                    return '商品属性必须为3-30个字符';
                }
            }
            ,goodsDesc:function (value) {
                if (value.length>100||value.length<5){
                    return '商品描述必须为5-64个字符';
                }
            }
            ,goodsImg:function (value) {
                if (value==""||value==null){
                    return '请上传商品图片';
                }
            }
        })
        clearNoNum = function(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, "");  //清除“数字”和“.”以外的字符
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');//只能输入两个小数
            if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
                obj.value = parseFloat(obj.value);
            }
        }
    });
</script>

</body>
</html>