<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <script th:src="@{../../static/js/notice.js}"></script>
    <link rel="stylesheet" th:href="@{../../static/css/notice.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">电脑商城后台管理</div>
        <ul class="layui-nav layui-layout-left">
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{../../header/admin/{adminImg}(adminImg=${session.admin.adminImg})}" class="layui-nav-img">
                    [[${session.admin.adminName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/admin/getAdminById/{adminId}(adminId=${session.admin.adminId})}">个人信息</a></dd>
                    <dd><a th:href="@{/admin/toUpPwd}">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{#}" id="logout">退出系统</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/userList')" >用户列表</a></dd>
                        <dd><a href="javascript:void(0);" th:onClick="openurl('/admin/userAdd')">添加用户</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">店铺管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/store')">店铺列表</a></dd>
                        <!--<dd><a href="javascript:void(0);" th:onClick="openurl('/admin/storeAdd')">添加店铺</a></dd>-->
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/storeList')">店铺申请中心</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">轮播图管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/bannerList')" >轮播图列表</a></dd>
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/bannerAdd')">添加轮播图</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">商品品牌管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/brandList')" >商品品牌列表</a></dd>
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/addBrand')">添加商品品牌</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
    <div class="layui-body" style="margin-left: 30px;margin-top: 10px">
        <!-- 内容主体区域 -->
        <iframe name="myiframe" id="primaryWin" scrolling="no" frameborder="0" style="width:1140px;height:660px"
             th:src="@{/admin/userList}" >
        </iframe>
        <!-- 主体区域 -->
    </div>
</div>
<script>
    layui.use(['element','layer','notice'],function(){
        var element = layui.element;
        var layer = layui.layer;
        var notice = layui.notice;
        notice.options = {
            closeButton:true,//显示关闭按钮
            debug:false,//启用debug
            positionClass:"toast-top-right",//弹出的位置,
            showDuration:"1000",//显示的时间
            hideDuration:"1000",//消失的时间
            timeOut:"3000",//停留的时间
            extendedTimeOut:"2000",//控制时间
            showEasing:"swing",//显示时的动画缓冲方式
            hideEasing:"linear",//消失时的动画缓冲方式
            iconClass: 'toast-info', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名
            onclick: function () {
                alert(123);
            }, // 点击关闭回调
        };
        $(function () {
           /* var a = "cyf";
            if (a=="cyf1"){
                notice.info("提示信息：毛都没有...");
            }else {
                notice.info("提示信息：123123123213...123123123213213");
            }*/
        })
        // 手动移除notice 或者使用 removeToast
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定退出系统?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/admin/admin_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toAdminLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });

</script>
<script type="text/javascript">

    function openurl(url) {
        var rframe = parent.document.getElementById("primaryWin");
        rframe.src = url;
    }
</script>
</body>
</html>
