<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加用户信息</legend>
</fieldset>
<form method="post" class="layui-form" style="margin-top:2%;" id="reForm">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="userName" id="userName" class="layui-input" lay-verify="userName">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码：</label>
        <div class="layui-input-block">
            <input type="password" name="userPwd" id="userPwd" class="layui-input" lay-verify="userPwd" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码：</label>
        <div class="layui-input-block">
            <input type="password" name="rePwd" id="rePwd" class="layui-input" lay-verify="rePwd" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号：</label>
        <div class="layui-input-block">
            <input type="text" name="userPhone" id="userPhone" class="layui-input" lay-verify="userPhone" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-block">
            <input type="text" name="userEmail" id="userEmail" class="layui-input" lay-verify="userEmail" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">出生日期：</label>
        <div class="layui-input-block">
            <input type="text" name="userBirth" class="layui-input" id="userBirth" placeholder="请选择您的出生日期" lay-verify="userBirth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别：</label>
        <div class="layui-input-block">
            <select name="userSex" id="userSex" lay-verify="userSex">
                <option value="">请选择您的性别</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input class="layui-btn" type="submit" lay-filter="reg-submit" lay-submit="" value="创建用户" />
            <input class="layui-btn" type="reset" value="重置" />
        </div>
    </div>
</form>

<script type="text/javascript">
        layui.use(['form','layer','laydate'], function() {
            var form = layui.form;
            var layer=layui.layer;
            var $ = layui.jquery;
            var laydate = layui.laydate;
            laydate.render({
                elem:'#userBirth'
            });
            form.verify({
                userName:function (value) {
                    if (value.length<3||value.length>8){
                        return '用户名必须为3-8个字符';
                    }
                }
                ,userPwd:function (value) {
                    if (value.length<3||value.length>6){
                        return '密码必须为8-16个字符';
                    }else {
                        $("#userPwd").css("border","green 1px solid");
                    }
                }
                ,rePwd:function (value) {
                    var rePwd = $("#userPwd").val();
                    console.log(rePwd);
                    if (value!=rePwd){
                        return '两次输入的密码不一致!';
                    }else {
                        $("#rePwd").css("border","green 1px solid");
                    }
                }
                ,userSex:function (value) {
                    if (value==""){
                        return '请选择您的性别';
                    }
                }
                ,userBirth:function (value) {
                    if (value==""){
                        return '请选择您的出生日期';
                    }
                }
                ,userPhone:function (value) {
                    var regPhone=/^1[34578]\d{9}$/;
                    var userPhone = $("#userPhone").val();
                    if (!regPhone.test(userPhone)){
                        return '手机格式不正确';
                    }
                }
            })

            $("#userName").blur(function () {
                var userName = $("#userName").val();
                console.log(userName);
                $.ajax({
                    type:"post",
                    url:"/user/checkByName/"+userName,
                    success:function (data) {
                        if (data==='ok'){
                            $("#userName").css("border","green 1px solid");
                            $("#userName").prop("flag","success");
                        }else {
                            $("#userName").css("border","red 1px solid");
                            $("#userName").prop("flag","fail");
                            layer.msg("该用户名已被注册,请重新填写",{icon:5});
                        }
                    }
                })
            });
            $("#userPhone").blur(function () {
                var userPhone = $("#userPhone").val();
                console.log(userPhone);
                $.ajax({
                    type:"post",
                    url:"/user/checkByPhone/"+userPhone,
                    success:function (data) {
                        if (data=='ok'){
                            $("#userPhone").css("border","green 1px solid");
                            $("#userPhone").prop("flag","success");
                        }else {
                            $("#userPhone").css("border","red 1px solid");
                            $("#userPhone").prop("flag","fail");
                            layer.msg("该手机号码已被注册,请重新填写",{icon:5});
                        }
                    }
                });
            });
            $("#userEmail").blur(function () {
                var userEmail = $("#userEmail").val();
                var regEmai=/^\w+@\w+\.[A-Za-z]{2,3}(\.[A-Za-z]{2,3})?$/;
                console.log(userEmail);
                $.ajax({
                    type:"post",
                    url:"/user/checkByEmail/"+userEmail,
                    success:function (data) {
                        if (data=='ok'){
                            $("#userEmail").css("border","green 1px solid");
                            $("#userEmail").prop("flag","success");
                        }else {
                            $("#userEmail").css("border","red 1px solid");
                            $("#userEmail").prop("flag","fail");
                            layer.msg("该邮箱已被注册,请重新填写",{icon:5});
                        }
                    }
                });
            });
            form.on('submit(reg-submit)',function () {
                if ($("#userName").prop("flag")==="fail"){
                    layer.msg("该用户名已被注册,请重新填写",{icon:5})
                    return false;
                }
                if ($("#userPhone").prop("flag")==="fail"){
                    layer.msg("该手机号码已被注册,请重新填写",{icon:5})
                    return false;
                }
                if ($("#userEmail").prop("flag")==="fail"){
                    layer.msg("该邮箱已被注册,请重新填写",{icon:5})
                    return false;
                }
                $.ajax({
                    type:"post",
                    url:"/user/registerUser",
                    data:$("#reForm").serialize(),
                    success:function (data) {
                        if (data=="success"){
                            layer.msg("添加用户成功",{icon:1,anim:4,time:1000},function () {
                                window.location.href="/admin/userAdd";
                            });
                        }else{
                            layer.msg("添加用户失败！",{icon:5,anim:6});
                        }
                    }
                });
                return false;
            });
        });
</script>
</body>
</html>