<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>管理员登录</title>
    <link rel="stylesheet" th:href="@{../../static/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../../static/css/admin.css}">
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{../../static/js/layui.js}"></script>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>欢迎管理员登录</h2>
        </div>
        <form id="loginform">
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="adminName" ></label>
                <input type="text" name="adminName" id="adminName" lay-verify="required" placeholder="用户名/手机号/邮箱" onblur="checkAdminMess()" class="layui-input">
            </div>

            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="adminPwd"></label>
                <input type="password" name="adminPwd" id="adminPwd" lay-verify="required" placeholder="密码" class="layui-input">
            </div>

            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="vercode"></label>
                        <input type="text" name="vercode" id="vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img th:src="@{/admin/verifyCode}" class="layadmin-user-login-codeimg" id="code_img">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登录</button>
            </div>

        </div>
        </form>
    </div>

</div>

<script>
    $(function(){
        $("#code_img").click(function(){
            $(this).attr("src","/admin/verifyCode?id="+Math.random());
        });
    });

    layui.use(['form', 'jquery'], function(){
        var $ = layui.jquery;
        var form = layui.form;
        form.render();

        //提交
        form.on('submit(LAY-user-login-submit)', function(obj){
            $.ajax({
                type : "POST",  //提交方式
                url : "/admin/admin_login",
                data : $("#loginform").serialize(),
                success : function(data) {//返回数据根据结果进行相应的处理
                    if(data=='ok'){
                        layer.msg('登录成功',{icon: 1,anim:4,time:1000},function () {
                            window.location.href="/CSM/toAdminIndex";
                        })
                    }
                    if(data=='fail'){
                        layer.msg('账号与密码不匹配，登录失败', {icon:5},function () {
                            window.location.href="/CSM/toAdminLogin";
                        });
                    }
                    if(data=='fail_code'){
                        layer.msg('验证码错误', {icon:5});
                    }
                }
            });
            return false
        });

    });
</script>
<script>
    function checkAdminMess(){
        var regPhone=/^1[34578]\d{9}$/;
        var regName=/^\w{3,}$/;
        var regEmai=/^\w+@\w+\.[A-Za-z]{2,3}(\.[A-Za-z]{2,3})?$/;

        var adminName = $("#adminName").val();
        var adminPwd=$("#adminPwd").val();
        if (!regEmai.test(adminName)&&!regPhone.test(adminName)){
            $("#adminName").attr("name","adminName");
        }
        if(regEmai.test(adminName)){
            $("#adminName").attr("name","adminEmail");
        }

        if(regPhone.test(adminName)){
            $("#adminName").attr("name","adminPhone");
        }
    }
</script>
</body>

</html>