<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加轮播图</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
</head>
<body>
<form method="post" class="layui-form" style="margin-top:2%;" id="bannerForm">
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图名称：</label>
        <div class="layui-input-block">
            <input type="text" name="bannerName" id="bannerName" class="layui-input" lay-verify="bannerName">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品Id：</label>
        <div class="layui-input-block">
            <input type="text" name="bannerGoods" id="bannerGoods" class="layui-input" lay-verify="bannerGoods">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图片:</label>
        <div class="layui-input-block">
            <input type="hidden" id="bannerImg" name="bannerImg" lay-verify="bannerImg" >
            <button type="button" id="banner" class="layui-btn" >
                <i class="layui-icon">&#xe67c;</i>上传本地照片
            </button>
        </div>
    </div>
    <div id="headerView" class="layui-form-item" style="display: none">
        <label class="layui-form-label">轮播图预览:</label>
        <div class="layui-input-block">
            <img id="PreViewH" style="width:500px;height:200px;">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input class="layui-btn" type="submit" lay-filter="add-submit" lay-submit="" value="添加" />
            <input class="layui-btn" type="reset" value="重置" />
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        upload.render({
            elem:'#banner',
            url:'/banner/upload',
            done:function (res) {
                layer.msg('上传轮播图成功！',{icon:1,anim:4, time:1500});
                $("#bannerImg").prop("value",res.bannerImg);
                $("#headerView").css("display","inline")
                $("#PreViewH").prop("src", "/header/banner/"+res.bannerImg);
            },
            error:function () {
                layer.msg('上传轮播图失败！',{icon:5,time:1500});
            }
        });
        form.on('submit(add-submit)',function () {
            var banner = $("#bannerForm").serialize();
            $.ajax({
                type:"post",
                url:"/banner/addBanner",
                data:banner,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("添加成功",{icon:1,anim:4,time:1500},function() {
                            window.location.href = "/admin/bannerAdd";
                        });
                    }else{
                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            return false;
        });

        form.verify({
            bannerName:function (value) {
                if (value.length<3||value.length>15){
                    return '轮播图名称必须为3-15个字符';
                }
            },
            bannerImg:function (value) {
                if (value==null||value==""){
                    return '请上传轮播图'
                }
            },
            bannerGoods:function (value) {
                if (value==null||value==""){
                    return '请输入商品Id'
                }
            }
        });
    });
</script>
</body>
</html>