<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加店铺</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加店铺信息</legend>
</fieldset>
<form method="post" class="layui-form" style="margin-top:2%;" id="reForm">
    <div class="layui-form-item">
        <label class="layui-form-label">店铺状态：</label>
        <div class="layui-input-block">
            <select name="userId" id="userId" lay-verify="userSex">
                <option th:each="user:${userList}" th:id="${user.getUserId()}" th:value="${user.getUserId()}">[[${user.getUserName()}]]</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺名称：</label>
        <div class="layui-input-block">
            <input type="text" name="storeName" id="storeName" class="layui-input" lay-verify="userName">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">店铺描述：</label>
        <div class="layui-input-block">
            <input type="text" name="storeDescription" id="storeDescription" class="layui-input" lay-verify="userName">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺状态：</label>
        <div class="layui-input-block">
            <select name="storeStat" id="storeStat" lay-verify="userSex">
                <option value="">请选择店铺状态</option>
                <option value="1">正常</option>
                <option value="2">停运</option>
                <option value="3">申请</option>
                <option value="4">驳回</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item" style="width: 200px;margin-left: 100px;margin-top: 50px;">
        <button id="btn" class="layui-btn layui-btn-fluid" lay-submit="" type="button" lay-filter="reg-submit" onclick="shenqing();">申 请
        </button>
    </div>

</form>

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    function shenqing() {
        var userId = $("#userId").val();
        var storeName = $("#storeName").val();
        var storeDescription = $("#storeDescription").val();
        var storeStat = $("#storeStat").val();

        if($("#storeName").val() == ""){

            alert("请输入店铺名称!")
            return false;
        }

        if($("#storeDescription").val() == ""){

            alert("请输入店铺描述!")
            return false;
        }

        $.ajax({
            type: "post",
            url: "/store/shenqing2/"+storeName + "/" + storeDescription + "/" + storeStat + "/" + userId,
            success: function(msg){
                if(msg=='success'){
                    alert("申请成功!");
                }else if(msg == 'into'){
                    alert("申请失败,您已经申请过了!");
                }else {
                    alert("申请失败!");
                }
            }
        });


    }

</script>
</body>
</html>