<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员修改个人信息页面</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/style.css}" rel="stylesheet">
    <script th:src="@{../../static/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/layui.css}" media="all" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}" type="text/javascript"></script>
    <link th:href="@{../../static/css/admin.css}" rel="stylesheet">
    <link th:href="@{../../static/css/login.css}" rel="stylesheet" >
    <link th:href="@{../../static/css/index.css}" rel="stylesheet">

</head>
<body>
<br><br><br>
<div class="container-fluid">
    <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>修改个人信息</h2>
    </div>
    <br>
    <div style="width:500px;height:auto;margin:0 auto;">
        <form class="layui-form" id="updateForm">
            <input type="hidden" name="adminId" id="adminId" th:value="${admin.adminId}">
            <div class="layui-form-item" >
                <label class="layui-form-label" for="adminName">用户名:</label>
                <div class="layui-input-block">
                    <input type="text" name="adminName" id="adminName"
                           lay-verify="adminName" placeholder="请输入用户名" th:value="${admin.adminName}"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话:</label>
                <div class="layui-input-block">
                    <input type="text" name="adminPhone" id="adminPhone"
                           lay-verify="adminPhone" placeholder="请输入电话号码" th:value="${admin.adminPhone}"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱:</label>
                <div class="layui-input-block">
                    <input type="text" name="adminEmail" id="adminEmail"
                           lay-verify="email" placeholder="请输入邮箱" th:value="${admin.adminEmail}"
                           class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像:</label>
                <div class="layui-input-block">
                    <input type="hidden" id="adminImg" name="adminImg"  th:value="${admin.adminImg}">
                    <img style="width:100px;height:100px;" th:src="@{../../header/admin/{adminImg}(adminImg=${admin.adminImg})}">

                    <button type="button" id="header" class="layui-btn" style="margin-left: 15px" >
                        <i class="layui-icon">&#xe67c;</i>上传本地照片
                    </button>
                </div>
            </div>
            <div id="headerView" class="layui-form-item" style="display: none">
                <label class="layui-form-label">新头像预览:</label>
                <div class="layui-input-block">
                    <img id="PreViewH" style="width:100px;height:100px;border-radius:50%">
                </div>
            </div>
            <br>
            <div class="layui-form-item" style="padding-left:110px;">
                <button type="submit" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
                <button type="reset" class="layui-btn" id="back">返回主页</button>
                <button type="reset" class="layui-btn layui-btn-warm">重置内容</button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{../../static/js/jquery-3.4.1.js}" ></script>
<script type="text/javascript">
    layui.use(['form','layer','laydate',"upload"], function() {
        var form = layui.form;
        var layer=layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        upload.render({
            elem:'#header',
            url:'/admin/upload',
            done:function (res) {
                layer.msg('上传头像成功！',{icon:1,anim:4, time:1500});
                $("#adminImg").prop("value",res.adminImg);
                $("#headerView").css("display","inline")
                $("#PreViewH").prop("src", "/header/admin/"+res.adminImg);
            },
            error:function () {
                layer.msg('上传头像失败！',{icon:5,time:1500});
            }
        });
        $("#back").click(function () {
            window.location.href="/CSM/toAdminIndex";
        })
        form.on('submit(update-submit)',function () {
            var admin = $("#updateForm").serialize()
            $.ajax({
                type:"post",
                url:"/admin/updateAdmin",
                data:admin,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("修改信息成功",{icon:1,anim:4,time:1500},function() {
                            window.location.href = "/CSM/toAdminIndex";
                        });
                    }else{
                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            return false;
        });

        form.verify({
            adminName:function (value) {
                if (value.length<3||value.length>8){
                    return '用户名必须为3-8个字符';
                }
            }
            ,adminPhone:function (value) {
                var regPhone=/^1[34578]\d{9}$/;
                var adminPhone = $("#adminPhone").val();
                if (!regPhone.test(adminPhone)){
                    return '手机格式不正确';
                }
            }
        });
    });
</script>

</body>
</html>