<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div style="width:500px;height:auto;margin:15px auto;display: none" id="bannerForm">
    <form class="layui-form" id="bannerFormInfo" >
        <input type="hidden" name="bannerId" id="bannerId">
        <div class="layui-form-item" >
            <label class="layui-form-label" for="bannerName">轮播图名称:</label>
            <div class="layui-input-block">
                <input type="text" name="bannerName" id="bannerName"
                       lay-verify="bannerName" placeholder="请输入轮播图名称"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品Id:</label>
            <div class="layui-input-block">
                <input type="text" name="bannerGoods" id="bannerGoods"
                       lay-verify="bannerGoods" placeholder="请输入商品Id"
                       class="layui-input" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">轮播图:</label>
            <div class="layui-input-block">
                <input type="hidden" id="bannerImg" name="bannerImg" >
                <img style="width:400px;height:180px;" id="bannerImgShow">
                &nbsp;&nbsp;<br>
                <button type="button" id="bannerUpload" class="layui-btn" >
                    <i class="layui-icon">&#xe67c;</i>上传本地照片
                </button>
            </div>
        </div>
        <div id="headerView" class="layui-form-item" style="display: none">
            <label class="layui-form-label">轮播图预览:</label>
            <div class="layui-input-block">
                <img id="PreViewH" style="width:400px;height:180px">
            </div>
        </div>
        <br>
        <div class="layui-form-item" style="padding-left:110px;">
            <button type="submit" id="submitBtn" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
        </div>
        <br>
    </form>
</div>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div style="height:40px;width:80px;float:left;line-height:40px;">轮播图名称:</div>
        <input type="text" class="layui-input" style="width:250px;float:left;" id="keyWord" name="keyWord" value="" lay-verify="" placeholder="请输入轮播图名称关键字" autocomplete="off">
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon search"></i>搜索
            </a>
        </div>
        <div >
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn" id="refresh" name="refresh">
                    <i class="layui-icon layui-icon-refresh-3"></i>加载数据
                </a>
            </div>
        </div>
        <div style="float:right;width:110px;margin-right: 160px">
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn  layui-btn-danger layui-btn-normal" id="delete" name="delete">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </a>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="banner" lay-filter="banner"></table>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" title="编辑" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" title="刪除" lay-event="delete">刪除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        laydate.render({
            elem:'#userBirth'
        });
        /*==================搜索=========================*/
        $("#search").click(function ()
        {
            var keyWord=$("#keyWord").val();
            tableIns.reload({
                where: {
                    keyWord: keyWord
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });

        });
        $("#refresh").click(function () {
            window.location.href="/admin/bannerList"
        })
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#banner'
            , id: 'banner'
            , url: '/banner/getAllBannerByAdmin'
            ,width:970
            , cols: [[
                { checkbox: true, LAY_CHECKED: false } //其它参数在此省略
                ,{ field: 'bannerId', title: '编号', width: 120, align: 'center' }
                , { field: 'bannerName', title: '轮播图名称', width: 120, align: 'center'}
                , { field: 'bannerGoods', title: '商品Id', width: 220, align: 'center'}
                ,{field:'bannerImg', title: '轮播图', width: 220, align: 'center',templet: function(d){
                        var str="<div onclick=\"show(this)\">"+"<img style='width:200px;height:50px;' src='/header/banner/"+d.bannerImg+"' />"+"</div>";

                        return str;
                    }
                }
                ,{ field:'bannerSelect', title: '是否选用', width: 120, align: 'center',templet: function(d){
                        if(d.bannerSelect==1){
                            return "<input type='checkbox' lay-filter='switchTest' name='"+d.bannerId+"' lay-skin='switch' lay-text='已选|未选' checked>";
                        }else{
                            return "<input type='checkbox' lay-filter='switchTest' name='"+d.bannerId+"' lay-skin='switch' lay-text='已选|未选' >";
                        }
                    }
                },{title: '操作', fixed: 'right', width: 120, align: 'center', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10

        });
        show = function(t) {
            var t = $(t).find("img");
            //页面层
            layer.open({
                title:'查看图片',
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['90%', '75%'], //宽高
                shadeClose: true, //开启遮罩关闭
                end: function (index, layero) {
                    return false;
                },
                content: '<div style="text-align:center"><img style="width: 800px;height:400px;text-align: center" src="' + $(t).attr('src') + '" /></div>'
            });
        }
        /*==================选用和不选用轮播图=========================*/
        form.on('switch(switchTest)',function(data){
            var bannerId=data.elem.name;
            var flag=data.elem.checked;
            if(flag){
                $.ajax({
                    type:"post",
                    url:"/banner/selectBanner/"+1+"/"+bannerId,
                    success:function(data){
                        if(data=="success"){
                            layer.msg('成功选用该轮播信息',{icon:1,time:1000});
                        }else if(data=="full"){
                            layer.msg('选用数量不得超过4条！选用失败!',{icon:5,time:1000},function () {
                                window.location.href="/admin/bannerList";
                            });
                        }else if (data=="fail"){
                            layer.msg('选用失败',{icon:5,time:1000});
                        }
                    }
                });
            }else{
                $.ajax({
                    type:"post",
                    url:"/banner/selectBanner/"+2+"/"+bannerId,
                    success:function(data){
                        if(data=="success"){
                            layer.msg("取消选用该轮播信息",{icon:1,time:1000});
                        }else{
                            layer.msg("取消选用失败！请重试！",{icon:5,time:1000});
                        }
                    }
                });
            }
        });
        /*==================批量删除=========================*/
        $("#delete").click(function ()
        {
            var checkStatus = table.checkStatus('banner');
            var count = checkStatus.data.length;//选中的行数
            if (count>0)
            {
                var data = checkStatus.data; //获取选中行的数据
                var batchId = '';
                for (var i = 0; i < data.length; i++)
                {
                    batchId += data[i].bannerId + ",";
                }
                layer.confirm('是否确认删除轮播信息？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "post",
                            url: "/banner/batchDeleteBanner",
                            data: { 'batchId': batchId },
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('删除轮播信息成功', { icon: 1, shade: 0.4, time: 1000 },function () {
                                        tableIns.reload();
                                    });
                                }else{
                                    layer.msg('删除轮播信息失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                                tableIns.reload();
                                layer.close(index);
                            }
                        });
                    }
                });
            }
            else{
                layer.msg("请至少选择一条数据", { icon: 5, shade: 0.4, time: 1000 });
            }

        });
        /*==================上传头像=========================*/
        upload.render({
            elem:'#bannerUpload',
            url:'/banner/upload',
            done:function (res) {
                layer.msg('上传轮播图成功！',{icon:1,anim:4, time:1500});
                $("#bannerImg").prop("value",res.bannerImg);
                $("#headerView").css("display","inline");
                $("#PreViewH").prop("src", "/header/banner/"+res.bannerImg);
            },
            error:function () {
                layer.msg('上传轮播图失败！',{icon:5,time:1500});
            }
        });
        /*==================修改和删除=========================*/
        table.on('tool(banner)', function (obj)
        {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent === 'edit')
            {
                layer.open({
                    type: 1,
                    title: '编辑轮播图信息',
                    shade: 0.4,
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['800px;', '630px;'],
                    content: $('#bannerForm'),
                    success: function (layero, index)
                    {

                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#headerView").css("display","none");
                        $("#bannerId").val(data.bannerId);
                        $("#bannerName").val(data.bannerName);
                        $("#bannerGoods").val(data.bannerGoods);
                        $("#bannerImg").val(data.bannerImg);
                        $("#bannerImgShow").attr("src","/header/banner/"+data.bannerImg);
                        form.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){
                        form.verify();
                        form.on('submit(update-submit)',function (data) {
                            var banner = $("#bannerFormInfo").serialize();
                            $.ajax({
                                type:"post",
                                url:"/banner/updateBanner",
                                data:banner,
                                success:function (data) {
                                    if (data=="success"){
                                        layer.msg("修改信息成功！",{icon:1,anim:4,time:800},function () {
                                            tableIns.reload();
                                        });
                                    }else{
                                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                                    }
                                }
                            });
                            tableIns.reload();
                            layer.closeAll();
                            return false;
                        });
                        layero.find("#submitBtn").click();
                    }
                });
            }else if(layEvent === 'delete'){
                layer.confirm('是否删除该轮播信息？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "post",
                            url: "/banner/deleteBanner/"+data.bannerId,
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('删除轮播信息成功', { icon: 1, shade: 0.4, time: 1000 },function () {
                                        tableIns.reload();
                                    });
                                }else{
                                    layer.msg('删除轮播信息失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        tableIns.reload();
                        layer.close(index);
                    }
                });
            }
        });
        form.on('submit(update-submit)',function (data) {
            var banner = $("#bannerFormInfo").serialize();
            $.ajax({
                type:"post",
                url:"/banner/updateBanner",
                data:banner,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("修改信息成功！",{icon:1,anim:4,time:800},function () {
                            tableIns.reload();
                        });
                    }else{
                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1200});
                    }
                }
            });
            tableIns.reload();
            layer.closeAll();
            return false;
        });
        /*==================表单验证=========================*/
        form.verify({
            bannerName:function (value) {
                if (value.length<3||value.length>15){
                    return '轮播图名称必须为3-15个字符';
                }
            },
            bannerImg:function (value) {
                if (value==null||value==""){
                    return '请上传轮播图'
                }
            },
            bannerGoods:function (value) {
                if (value==null||value==""){
                    return '请输入商品Id'
                }
            }
        });

    });
</script>
</body>
</html>