<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div style="width:500px;height:auto;margin:15px auto;display: none" id="brandForm">
    <form class="layui-form" id="brandFormInfo" >
        <input type="hidden" name="brandId" id="brandId">
        <div class="layui-form-item" >
            <label class="layui-form-label" for="brandName">品牌名称:</label>
            <div class="layui-input-block">
                <input type="text" name="brandName" id="brandName"
                       lay-verify="brandName" placeholder="请输入商品品牌名称"
                       class="layui-input" />
            </div>
        </div>

        <br>
    </form>
</div>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div style="height:40px;width:80px;float:left;line-height:40px;">商品品牌名称:</div>
        <input type="text" class="layui-input" style="width:250px;float:left;" id="keyWord" name="keyWord" value="" lay-verify="" placeholder="请输入商品品牌名称关键字" autocomplete="off">
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon search"></i>搜索
            </a>
        </div>
        <div >
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn" id="refresh" name="refresh">
                    <i class="layui-icon layui-icon-refresh-3"></i>加载数据
                </a>
            </div>
        </div>
<!--        <div style="float:right;width:110px;margin-right: 160px">-->
<!--            <div class="layui-input-inline" style="width:100px;">-->
<!--                <a class="layui-btn  layui-btn-danger layui-btn-normal" id="delete" name="delete">-->
<!--                    <i class="layui-icon layui-icon-delete"></i>批量删除-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</form>
<div>
    <table id="brand" lay-filter="brand"></table>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" title="编辑" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" title="刪除" lay-event="delete">刪除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        laydate.render({
            elem:'#userBirth'
        });
        /*==================搜索=========================*/
        $("#search").click(function ()
        {
            var keyWord=$("#keyWord").val();
            tableIns.reload({
                where: {
                    keyWord: keyWord
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });

        });
        $("#refresh").click(function () {
            window.location.href="/admin/brandList"
        })
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#brand'
            , id: 'brand'
            , url: '/brand/getAllBrandByAdmin'
            ,width:600
            , cols: [[
                { field: 'brandId', title: '编号', align: 'center' }
                , { field: 'brandName', title: '商品品牌名称', align: 'center'}
                ,{title: '操作', fixed: 'right', width: 120, align: 'center', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10

        });

        /*==================修改和删除=========================*/
        table.on('tool(brand)', function (obj)
        {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent === 'edit')
            {
                layer.open({
                    type: 1,
                    title: '编辑品牌信息',
                    shade: 0.4,
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['500px;', '300px;'],
                    content: $('#brandForm'),
                    success: function (layero, index)
                    {
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#brandId").val(data.brandId);
                        $("#brandName").val(data.brandName);
                        form.render();
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){
                        form.verify();
                            var brandName = $("#brandName").val();
                            var brandId = $("#brandId").val();
                            if (brandName==""||brandName==null){
                                layer.msg("请填写商品品牌",{icon:5,time:800});
                            }
                            $.ajax({
                                type:"post",
                                url:"/brand/updateBrand/"+brandId+"/"+brandName,
                                success:function (data) {
                                    if (data=="success"){
                                        layer.msg("修改信息成功！",{icon:1,anim:4,time:800});
                                        tableIns.reload();
                                    }else{
                                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:800});
                                    }
                                }
                            });
                            tableIns.reload();
                            layer.closeAll();
                            return false;
                    }
                });
            }else if(layEvent === 'delete'){
                layer.confirm('是否删除该商品品牌？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "post",
                            url: "/brand/deleteBrand/"+data.brandId,
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('删除成功', { icon: 1, shade: 0.4, time: 1000 });
                                    tableIns.reload();
                                }else{
                                    layer.msg('删除失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        tableIns.reload();
                        layer.close(index);
                    }
                });
            }
        });

    });
</script>
</body>
</html>
