<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div class="layui-form-item" style="width:250px;float:left;">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <select id="keyWord" name="keyWord" lay-verify="required">
                    <option value="">请选择商品</option>
                </select>
            </div>
        </div>
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon search"></i>搜索
            </a>
        </div>
        <div>
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn" id="refresh" name="refresh">
                    <i class="layui-icon layui-icon-refresh-3"></i>重新加载数据
                </a>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="users" lay-filter="users"></table>
</div>

<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript">
    function dateFormat(time) {
        var date=new Date(time);
        var year=date.getFullYear();
        /* 在日期格式中，月份是从0开始的，因此要加0
         * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
         * */
        var month= date.getMonth()+1<10 ? "0"+(date.getMonth()+1) : date.getMonth()+1;
        var day=date.getDate()<10 ? "0"+date.getDate() : date.getDate();
        var hours=date.getHours()<10 ? "0"+date.getHours() : date.getHours();
        var minutes=date.getMinutes()<10 ? "0"+date.getMinutes() : date.getMinutes();
        var seconds=date.getSeconds()<10 ? "0"+date.getSeconds() : date.getSeconds();
        // 拼接
        return year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
    }

</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        laydate.render({
            elem:'#userBirth'
        });
        /*==================搜索=========================*/
        $("#search").click(function ()
        {
            var tableIns  = table.render({
                elem: '#users'
                , id: 'users'
                , url: '/goods/getAllCommByGoodsId'
                ,where:{"search":$("#keyWord").val()}
                ,width:1200
                , cols: [[
                    { field: 'evaId', title: '编号',width:80, align: 'center' }
                    , { field: 'evaUser', title: '用户',width:120,  align: 'center'}
                    , { field: 'evaGoods', title: '商品',width:180,  align: 'center' }
                    ,{field:'goodsImg', title: '商品图片', align:'center', width:120,templet: function(d){
                            var str="<div onclick=\"show(this)\">"+"<img style='width:50px;height:50px;' src='/header/goods/"+d.goodsImg+"' />"+"</div>";
                            return str;
                        }
                    }
                    , { field: 'evaContent', title: '评论内容', align: 'center' }
                    ,{ field:'evaLevel', title: '星级',width:150, align: 'center',templet: function(d){
                            if(d.evaLevel==5){
                                return "<button type='button' name='"+d.goodsState+"' class='layui-btn layui-btn-normal'>5星好评</button>";
                            }else if(d.evaLevel==4){
                                return "<button type='button' name='"+d.goodsState+"' class='layui-btn'>4星好评</button>";
                            }else if(d.evaLevel==3){
                                return "<button type='button' name='"+d.goodsState+"' class='layui-btn'>3星中评</button>";
                            }else if(d.evaLevel==2){
                                return "<button type='button' name='"+d.goodsState+"' class='layui-btn'>2星中评</button>";
                            }else if (d.evaLevel==1) {
                                return "<button type='button' name='"+d.goodsState+"' class='layui-btn layui-btn-danger'>1星差评</button>";
                            }
                        }
                    }
                    , { field: 'evaDate', title: '评论时间',width:200, align: 'center',sort:true ,templet:function (d) {
                            return dateFormat(d.evaDate);
                        }}
                ]]
                , page: true
                , limits: [5, 10, 15]
                , limit: 7 //默认采用10

            });
        });
        $("#refresh").click(function () {
            window.location.href="/admin/userList"
        })
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#users'
            , id: 'users'
            , url: '/goods/getAllEvaluateByStoreId'
            ,width:1200
            , cols: [[
                { field: 'evaId', title: '编号',width:80, align: 'center' }
                , { field: 'evaUser', title: '用户',width:120,  align: 'center'}
                , { field: 'evaGoods', title: '商品',width:180,  align: 'center' }
                ,{field:'goodsImg', title: '商品图片', align:'center', width:120,templet: function(d){
                        var str="<div onclick=\"show(this)\">"+"<img style='width:50px;height:50px;' src='/header/goods/"+d.goodsImg+"' />"+"</div>";
                        return str;
                    }
                }
                , { field: 'evaContent', title: '评论内容', align: 'center' }
                ,{ field:'evaLevel', title: '星级',width:150, align: 'center',templet: function(d){
                        if(d.evaLevel==5){
                            return "<button type='button' name='"+d.goodsState+"' class='layui-btn layui-btn-normal'>5星好评</button>";
                        }else if(d.evaLevel==4){
                            return "<button type='button' name='"+d.goodsState+"' class='layui-btn'>4星好评</button>";
                        }else if(d.evaLevel==3){
                            return "<button type='button' name='"+d.goodsState+"' class='layui-btn'>3星中评</button>";
                        }else if(d.evaLevel==2){
                            return "<button type='button' name='"+d.goodsState+"' class='layui-btn'>2星中评</button>";
                        }else if (d.evaLevel==1) {
                            return "<button type='button' name='"+d.goodsState+"' class='layui-btn layui-btn-danger'>1星差评</button>";
                        }
                    }
                }
                , { field: 'evaDate', title: '评论时间', width:200, align: 'center',sort:true ,templet:function (d) {
                        return dateFormat(d.evaDate);
                    }}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 7 //默认采用10
        });
        $(function () {
            getAllEvaGoods();
        });
        show = function(t) {
            var t = $(t).find("img");
            //页面层
            layer.open({
                title:'查看图片',
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['90%', '75%'], //宽高
                shadeClose: true, //开启遮罩关闭
                end: function (index, layero) {
                    return false;
                },
                content: '<div style="text-align:center"><img style="width: 350px;height:400px;text-align: center" src="' + $(t).attr('src') + '" /></div>'
            });
        }
        var getAllEvaGoods = function () {
            $.ajax({
                type:"get",
                url:"/goods/getAllGoodsByStore",
                dataType:"json",
                success:function (data) {
                    var str = "<option value=''>请选择商品</option>";
                    for (var i = 0;i<data.length;i++){
                        str = str+"<option value='"+data[i].goodsId+"'>"+data[i].goodsName+"</option>";
                    }
                    $("#keyWord").html(str);
                    form.render();
                }
            })
        }
    });
</script>
</body>
</html>