<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div style="height:40px;width:70px;float:left;line-height:40px;">商品名称:</div>
        <input type="text" class="layui-input" style="width:250px;float:left;" id="keyWord" name="keyWord" value="" lay-verify="" placeholder="请输入商品名称关键字" autocomplete="off">
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon search"></i>搜索
            </a>
        </div>
        <div >
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn" id="refresh" name="refresh">
                    <i class="layui-icon layui-icon-refresh-3"></i>加载商品数据
                </a>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="goods" lay-filter="goods"></table>
</div>

<div style="width:500px;height:auto;margin:15px auto;display: none" id="updateForm">
    <form class="layui-form" id="updateFormInfo" >
        <input type="hidden" name="goodsId" id="goodsId">
        <div class="layui-form-item" >
            <label class="layui-form-label" for="goodsName">商品名称:</label>
            <div class="layui-input-block">
                <input type="text" name="goodsName" id="goodsName"
                       lay-verify="goodsName" placeholder="请输入商品名称"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品数量:</label>
            <div class="layui-input-block">
                <input type="text" name="goodsNums" id="goodsNums"
                       lay-verify="goodsNums" placeholder="请输入商品数量"
                       class="layui-input"
                       onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品价格:</label>
            <div class="layui-input-block">
                <input type="text" name="goodsPrice" id="goodsPrice" lay-verify="goodsPrice"
                        placeholder="请输入商品价格"
                       class="layui-input" onkeyup="clearNoNum(this)" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品品牌：</label>
            <div class="layui-input-block">
                <select name="goodsBrand" id="goodsBrand"  lay-verify="required">
                    <option value="">请选择商品品牌</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品类型：</label>
            <div class="layui-input-block">
                <select name="goodsType" id="goodsType"  lay-verify="required">
                    <option value="">请选择商品类型</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品属性:</label>
            <div class="layui-input-block">
                <input type="text" name="goodsAttr" id="goodsAttr" lay-verify="goodsAttr"
                       placeholder="请输入商品属性"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品描述:</label>
            <div class="layui-input-block">
                <input type="text" name="goodsDesc" id="goodsDesc" lay-verify="goodsDesc"
                       placeholder="请输入商品描述"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像:</label>
            <div class="layui-input-block">
                <input type="hidden" id="goodsImg" name="goodsImg" >
                <img style="width:100px;height:100px;" id="goodsImgShow">
                &nbsp;&nbsp;&nbsp;
                <button type="button" id="goodsUp" class="layui-btn" >
                    <i class="layui-icon">&#xe67c;</i>上传本地照片
                </button>
            </div>
        </div>
        <div id="headerView" class="layui-form-item" style="display: none">
            <label class="layui-form-label">商品图片预览:</label>
            <div class="layui-input-block">
                <img id="PreViewH" style="width:100px;height:100px;">
            </div>
        </div>
        <br>
        <div class="layui-form-item" style="padding-left:110px;">
            <button type="submit" id="submitBtn" style="display: none" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
        </div>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" title="编辑" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" title="刪除" lay-event="delete">下架</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        laydate.render({
            elem:'#userBirth'
        });
        /*==================搜索=========================*/
        $("#search").click(function ()
        {
            var tableIns  = table.render({
                elem: '#goods'
                , id: 'goods'
                , url: '/goods/getAllGoodsByStoreIdAndGoodId'
                ,where:{"search":$("#keyWord").val()}
                ,width:1950
                , cols: [[
                    { field: 'goodsId', title: '编号',width:80, align: 'center' }
                    , { field: 'goodsName', title: '商品名称', width:200, align: 'center'}
                    ,{field:'goodsImg', title: '商品图片', align:'center', width:120,templet: function(d){
                            var str="<div onclick=\"show(this)\">"+"<img style='width:50px;height:50px;' src='/header/goods/"+d.goodsImg+"' />"+"</div>";
                            return str;
                        }
                    }
                    , { field: 'goodsSales', title: '销量',width:80,align: 'center' }
                    , { field: 'goodsPrice', title: '价格',width:100, align: 'center' }
                    , { field: 'goodsNums', title: '库存',width:80,align: 'center' }
                    , { field: 'brandName', title: '品牌',width:120, align: 'center' }
                    , { field: 'typeName', title: '类型',width:120, align: 'center' }
                    , { field: 'goodsAttr', title: '属性',width:250,align: 'center' }
                    , { field: 'goodsDesc', title: '描述',width:520, align: 'center' }
                    , { field: 'goodsState', title: '状态',width:150, align: 'center',templet:function (d) {
                            if (d.goodsState==1){
                                return "<button type='button' class='layui-btn layui-btn-danger' onclick=\"stopOpen('" +d.goodsId+ "')\">上架中</button>";
                            }else if (d.goodsState==2){
                                return "<button type='button' class='layui-btn' onclick=\"startOpen('" +d.goodsId+ "')\">下架中</button>";
                            }
                        }}
                    ,{title: '操作', fixed: 'right', width:120, align: 'center', toolbar: '#bar'}
                ]]
                , page: true
                , limits: [5, 10, 15]
                , limit: 7 //默认采用10

            });
        });

        show = function(t) {
            var t = $(t).find("img");
            //页面层
            layer.open({
                title:'查看图片',
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['90%', '75%'], //宽高
                shadeClose: true, //开启遮罩关闭
                end: function (index, layero) {
                    return false;
                },
                content: '<div style="text-align:center"><img style="width: 350px;height:400px;text-align: center" src="' + $(t).attr('src') + '" /></div>'
            });
        }
        $("#refresh").click(function () {
           tableIns.reload();
        })
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#goods'
            , id: 'goods'
            , url: '/goods/getAllGoodsByStoreId'
            ,width:1950
            , cols: [[
                { field: 'goodsId', title: '编号',width:80, align: 'center' }
                , { field: 'goodsName', title: '商品名称', width:200, align: 'center'}
                ,{field:'goodsImg', title: '商品图片', align:'center', width:120,templet: function(d){
                        var str="<div onclick=\"show(this)\">"+"<img style='width:50px;height:50px;' src='/header/goods/"+d.goodsImg+"' />"+"</div>";
                        return str;
                    }
                }
                , { field: 'goodsSales', title: '销量',width:80,align: 'center' }
                , { field: 'goodsPrice', title: '价格',width:100, align: 'center' }
                , { field: 'goodsNums', title: '库存',width:80,align: 'center' }
                , { field: 'brandName', title: '品牌',width:120, align: 'center' }
                , { field: 'typeName', title: '类型',width:120, align: 'center' }
                , { field: 'goodsAttr', title: '属性',width:250,align: 'center' }
                , { field: 'goodsDesc', title: '描述',width:520, align: 'center' }
                , { field: 'goodsState', title: '状态',width:150, align: 'center',templet:function (d) {
                        if (d.goodsState==1){
                            return "<button type='button' class='layui-btn layui-btn-danger' onclick=\"stopOpen('" +d.goodsId+ "')\">上架中</button>";
                        }else if (d.goodsState==2){
                            return "<button type='button' class='layui-btn' onclick=\"startOpen('" +d.goodsId+ "')\">下架中</button>";
                        }
                    }}
                ,{title: '操作', fixed: 'right', width:120, align: 'center', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 7 //默认采用10

        });

        /*上架和下架*/
        stopOpen = function(goodsId){
            layer.confirm('是否下架该商品？', {
                btn: ['确认', '取消']
                ,btn1: function(index, layero){
                    $.ajax({
                        type: "post",
                        url: "/goods/deleteGood?goodsId="+goodsId,
                        success: function(msg){
                            if(msg=='success'){
                                layer.msg('下架商品成功', { icon: 1, shade: 0.4, time: 800 },function () {
                                    tableIns.reload();
                                });
                            }else{
                                layer.msg('下架商品失败', { icon: 5, shade: 0.4, time: 800 });
                            }
                        }
                    });
                    tableIns.reload();
                    layer.close(index);
                }
            });
        }
        startOpen = function(goodsId){
            layer.confirm('是否上架该商品？', {
                btn: ['确认', '取消']
                ,btn1: function(index, layero){
                    $.ajax({
                        type: "post",
                        url: "/goods/renewGoods/"+goodsId,
                        success: function(msg){
                            if(msg=='success'){
                                layer.msg('上架商品成功', { icon: 1, shade: 0.4, time: 800 },function () {
                                    tableIns.reload();
                                });
                            }else{
                                layer.msg('上架商品失败', { icon: 5, shade: 0.4, time: 1000 });
                            }
                        }
                    });
                    tableIns.reload();
                    layer.close(index);
                }
            });
        }
        /*==================修改和删除=========================*/
        table.on('tool(goods)', function (obj)
        {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent === 'edit')
            {
                layer.open({
                    type: 1,
                    title: '编辑商品信息',
                    shade: 0.4,
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['800px;', '600px;'],
                    content: $('#updateForm'),
                    success: function (layero, index)
                    {
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#headerView").css("display","none");
                        $("#goodsId").val(data.goodsId);
                        $("#goodsName").val(data.goodsName);
                        $("#goodsNums").val(data.goodsNums);
                        $("#goodsPrice").val(data.goodsPrice);
                        $("#goodsBrand").val(data.goodsBrand);
                        $("#goodsType").val(data.goodsType);
                        $("#goodsAttr").val(data.goodsAttr);
                        $("#goodsDesc").val(data.goodsDesc);
                        $("#goodsImg").val(data.goodsImg);
                        $("#goodsImgShow").attr("src","/header/goods/"+data.goodsImg);
                        form.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){
                        form.verify();
                        var goods = $("#updateFormInfo").serialize();
                        form.on('submit(update-submit)',function () {
                            $.ajax({
                                type:"post",
                                url:"/goods/updateGoods",
                                data: goods,
                                success:function (data) {
                                    if (data=="success"){
                                        layer.msg("修改信息成功！",{icon:1,anim:4,time:800},function () {
                                            tableIns.reload();
                                        });
                                    }else{
                                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:800});
                                    }
                                }
                            });
                            tableIns.reload();
                            layer.closeAll();
                            return false;
                        });
                        layero.find("#submitBtn").click();
                    }
                });
            }else if(layEvent === 'delete'){
                layer.confirm('是否下架该商品？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "post",
                            url: "/goods/deleteGood?goodsId="+data.goodsId,
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('下架商品成功', { icon: 1, shade: 0.4, time: 1000 },function () {
                                        tableIns.reload();
                                    });
                                }else{
                                    layer.msg('下架商品失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        tableIns.reload();
                        layer.close(index);
                    }
                });
            }
        });
        upload.render({
            elem:'#goodsUp',
            url:'/goods/upload',
            done:function (res) {
                layer.msg('上传商品图片成功！',{icon:1,anim:4, time:1500});
                $("#goodsImg").prop("value",res.goodsImg);
                $("#headerView").css("display","inline")
                $("#PreViewH").prop("src", "/header/goods/"+res.goodsImg);
            },
            error:function () {
                layer.msg('上传商品图片失败！',{icon:5,time:1500});
            }
        });
        /*==================提交修改=========================*/
        form.on('submit(update-submit)',function () {
            var goods = $("#updateFormInfo").serialize();
            $.ajax({
                type:"post",
                url:"/goods/updateGoods",
                data: goods,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("修改信息成功！",{icon:1,anim:4,time:800},function () {
                            tableIns.reload();
                        });
                    }else{
                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            tableIns.reload();
            layer.closeAll();
            return false;
        });
        $(function () {
            getAllBrand();
            getAllGoodsType();
        })
        var getAllBrand=function () {
            $.ajax({
                type:"get",
                url:"/goods/getAllBrand",
                dataType:"json",
                success:function (data) {
                    var str = "<option value=''>请选择商品品牌</option>";
                    for (var i = 0;i<data.length;i++){
                        str = str+"<option value='"+data[i].brandId+"'>"+data[i].brandName+"</option>";
                    }
                    $("#goodsBrand").html(str);
                    form.render();
                }
            })
        }
        var getAllGoodsType = function(){
            $.ajax({
                type:"get",
                url:"/goods/getAllGoodsType",
                dataType:"json",
                success:function (data) {
                    var str = "<option value=''>请选择商品品牌</option>";
                    for (var i = 0;i<data.length;i++){
                        str = str+"<option value='"+data[i].typeId+"'>"+data[i].typeName+"</option>";
                    }
                    $("#goodsType").html(str);
                    form.render();
                }
            })
        }
        form.verify({
            goodsName:function (value) {
                if (value.length>20||value.length<3){
                    return '商品名称必须为3-20个字符';
                }
            }
            ,goodsAttr:function (value) {
                if (value.length>30||value.length<3){
                    return '商品属性必须为3-30个字符';
                }
            }
            ,goodsDesc:function (value) {
                if (value.length>64||value.length<5){
                    return '商品描述必须为5-64个字符';
                }
            }
            ,goodsImg:function (value) {
                if (value==""||value==null){
                    return '请上传商品图片';
                }
            }
        })
        clearNoNum = function(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, "");  //清除“数字”和“.”以外的字符
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');//只能输入两个小数
            if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
                obj.value = parseFloat(obj.value);
            }
        }
    });
</script>
</body>
</html>