<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <script th:src="@{../../static/js/notice.js}"></script>
    <link rel="stylesheet" th:href="@{../../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../../static/css/admin.css}">
    <link rel="stylesheet" th:href="@{../../static/css/notice.css}">
    <style type="text/css">
        .layui-col-xs6{
            width:220px;
            height:90px;
        }
        .layadmin-backlog-body{
            width:180px;
            height:90px;
        }
    </style>
</head >
<!--商品用户-->
<body style="background-color:#F2F2F2;padding-top: 20px;padding-left: 15px">
<div class="layui-card" style="width: 480px; height: 195px;float:left;">
    <div class="layui-card-header">商品和用户统计</div>
    <div class="layui-card-body" id="todo" style="width: 440px; height: 120px;">
        <div class="layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 80px;">
            <li class="layui-col-xs6" id="goods" >
                <a class="layadmin-backlog-body" href="#">
                    <h3>商品数量</h3>
                    <p><cite style="line-height:45px;" id="totalGoods"></cite></p>
                </a>
            </li>
            <li class="layui-col-xs6" >
                <a class="layadmin-backlog-body">
                    <h3>用户数量</h3>
                    <p><cite style="line-height:45px;" id="totalUsers"></cite></p>
                </a>
            </li>
        </div>
    </div>
</div>
<!--评论-->
<div class="layui-card" style="width: 550px; height: 195px;float:left;margin-left:15px;">
     <div class="layui-card-header">评论统计</div>
    <div class="layui-card-body" id="todo2" style="width: 440px; height: 120px;">
        <div class="layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 80px;">
            <li class="layui-col-xs6" id="evaluate" >
                <a class="layadmin-backlog-body" href="#">
                    <h3>好评</h3>
                    <p><cite style="line-height:45px;" id="totalevaluate"></cite></p>
                </a>
            </li>
            <li class="layui-col-xs6" id="evaluate2" >
                <a class="layadmin-backlog-body" href="#">
                    <h3>差评</h3>
                    <p><cite style="line-height:45px;" id="totalevaluate2"></cite></p>
                </a>
            </li>

        </div>
    </div>
    <div class="layui-card-body" id="hot" style="width: 560px; height:180px;"></div>
</div>
<!--订单-->
<div class="layui-card"  style="width: 480px; height: 195px;float:left;" >
    <div class="layui-card-header">订单统计</div>
    <div class="layui-card-body" id="todo1" style="width: 440px; height: 120px;">
        <div class="layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 80px;">
            <li class="layui-col-xs6" id="order" >
                <a class="layadmin-backlog-body" href="#">
                    <h3>总订单量</h3>
                    <p><cite style="line-height:45px;" id="totalOrder"></cite></p>
                </a>
            </li>
            <li class="layui-col-xs6" id="order2" >
                <a class="layadmin-backlog-body" href="#">
                    <h3>待发货</h3>
                    <p><cite style="line-height:45px;" id="tolalDeliver"></cite></p>
                </a>
            </li>
        </div>
    </div>
</div>

<div class="layui-card" style="width: 550px; height: 195px;float:left;margin-left:15px;">
    <div class="layui-card-header">敬请期待</div>
    <div class="layui-card-body" id="volume" style="width: 580px; height: 260px;"></div>
</div>
<script type="text/javascript">
    $(function () {
        getGoodsCount();
        getUsersCount();
        getOrderWaitDeliverCount();
        getOrderCount();
        getEvaBad();
        getEvaGood();
    })
    $("#goods").click(function () {
        window.location.href="/admin/goods";
    })
    $("#order").click(function () {
        window.location.href="/admin/orders";
    })
    $("#order2").click(function () {
        window.location.href="/admin/orders";
    })
    $("#evaluate").click(function () {
        window.location.href="/admin/commentary";
    })
    $("#evaluate2").click(function () {
        window.location.href="/admin/commentary";
    })


    function getEvaGood() {
        $.ajax({
            type:"get",
            url:"/evaluate/getCountWhereF",
            success:function (data) {
                $("#totalevaluate").text(data);
            }
        })
    }
    function getEvaBad() {
        $.ajax({
            type:"get",
            url:"/evaluate/getCountWhereO",
            success:function (data) {
                $("#totalevaluate2").text(data);
            }
        })
    }

    function getGoodsCount() {
        $.ajax({
            type:"get",
            url:"/order/getGoodsCountByStore",
            success:function (data) {
                $("#totalGoods").text(data);
            }
        })
    }

    function getUsersCount() {
        $.ajax({
            type:"get",
            url:"/order/getUserCountByOrder",
            success:function (data) {
                $("#totalUsers").text(data);
            }
        })
    }
    function getOrderCount() {
        $.ajax({
            type:"get",
            url:"/order/getOrderCountByStore",
            success:function (data) {
                $("#totalOrder").text(data);
            }
        })
    }
    function getOrderWaitDeliverCount() {
        $.ajax({
            type:"get",
            url:"/order/getOrderCountWaitDeliver",
            success:function (data) {
                $("#tolalDeliver").text(data);
            }
        })
    }

</script>
</body>
</html>