<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<form class="layui-form">

</form>
<div>
    <table id="users" lay-filter="users"></table>
</div>

<div style="width:200px;height:auto;margin:15px auto;display: none" id="updateForm">
    <form class="layui-form" id="updateFormInfo" >
        <div class="layui-form-item">
            <label class="layui-form-label">审核:</label>
            <div class="layui-input-block">
                <select name="shenhe" id="shenhe" lay-verify="shenhe">
                    <option value="通过">通过</option>
                    <option value="驳回">驳回</option>
                </select>
            </div>
        </div>
        <br>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" title="编辑" lay-event="edit">审核</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        laydate.render({
            elem:'#userBirth'
        });
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#users'
            , id: 'users'
            , url: '/store/getAllstore'
            ,width:900
            , cols: [[
                {field: 'storeName', title: '店铺名称', width:200,align: 'center'}
                ,{field: 'userName', title: '用户', width:200, align: 'center'}
                ,{field: 'storeDesc', title: '店铺描述', width:400,align: 'center'}
                ,{title: '操作', fixed: 'right', width: 100, align: 'center', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10

        });

        table.on('tool(users)', function (obj)
        {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent === 'edit')
            {
                layer.open({
                    type: 1,
                    title: '审核店铺',
                    shade: 0.4,
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['400px;', '300px;'],
                    content: $('#updateForm'),
                    btn:['审核','取消'],
                    yes: function(index, layero){
                        var shenhe = $("#shenhe").val();
                        $.ajax({
                            type: "post",
                            url: "/store/shenheStore/"+data.storeId + "/" + shenhe + "/" + data.userName,
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('审核成功', { icon: 1, shade: 0.4, time: 1000 },function () {
                                        tableIns.reload();
                                    });
                                }else{
                                    layer.msg('审核失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        tableIns.reload();
                        layer.close(index);
                    }
                });

            }else if(layEvent === 'delete'){
                layer.confirm('是否删除该用户？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        tableIns.reload();
                        layer.close(index);
                    }
                });
            }
        });
    });
</script>
</body>
</html>