<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <script th:src="@{../../static/js/notice.js}"></script>
    <link rel="stylesheet" th:href="@{../../static/css/notice.css}">
</head>
<body class="layui-layout-body">
<div style="width:500px;height:auto;margin:15px auto;display: none" id="updateForm">
    <form class="layui-form" id="updateFormInfo" >
        <input type="hidden" name="storeId" id="storeId">
        <div class="layui-form-item" >
            <label class="layui-form-label" for="userName">卖家名称:</label>
            <div class="layui-input-block">
                <input type="text" name="userName" id="userName"
                       lay-verify="userName"
                       class="layui-input"th:value="${session.user.userName}" readonly/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺名称:</label>
            <div class="layui-input-block">
                <input type="text" name="storeName" id="storeName"
                       lay-verify="require"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺描述:</label>
            <div class="layui-input-block">
                <textarea type="text" name="storeDesc" id="storeDesc"
                       lay-verify="require"
                          class="layui-textarea" ></textarea>
            </div>
        </div>
        <br>
        <div class="layui-form-item" style="padding-left:110px; display: none">
            <button type="submit" id="submitBtn" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
        </div>
    </form>
</div>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">店铺后台管理</div>
        <ul class="layui-nav layui-layout-left">

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a th:href="@{/CSM/toIndex}" id="logout">商城主页</a></li>
            <li class="layui-nav-item"><a th:href="'javascript:updateInfo()'" id="storeInfo">店铺信息</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{../../header/{userImg}(userImg=${session.user.userImg})}" class="layui-nav-img">
                    [[${session.user.userName}]]
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/goods')">商品列表</a></dd>
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/goods/toAddGoods')">上架商品</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onClick="openurl('/admin/orders')">订单列表</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">评论管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/commentary')">查看评论</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">店铺统计</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" th:onclick="openurl('/admin/store_show')">查看统计</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" style="margin-left: 30px;margin-top: 10px">
        <!-- 内容主体区域 -->
        <iframe name="myiframe" id="primaryWin"  frameborder="0" style="width:100%;height:100%;overflow:scroll;" th:src="@{/admin/goods}">
        </iframe>
    </div>
    </div>


</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" title="刪除" lay-event="delete">刪除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script>
    function openurl(url) {
        var rframe = parent.document.getElementById("primaryWin");
        rframe.src = url;
    }
</script>
<script>
    layui.use(['element','layer','notice','form'],function(){
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var notice = layui.notice;
        notice.options = {
            closeButton:true,//显示关闭按钮
            debug:false,//启用debug
            positionClass:"toast-top-right",//弹出的位置,
            showDuration:"1000",//显示的时间
            hideDuration:"1000",//消失的时间
            timeOut:"4000",//停留的时间
            extendedTimeOut:"3000",//控制时间
            showEasing:"swing",//显示时的动画缓冲方式
            hideEasing:"linear",//消失时的动画缓冲方式
            iconClass: 'toast-info', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名
            onclick: function () {
                openurl("/admin/orders");
            }, // 点击关闭回调
        };
        updateInfo = function(){
            layer.open({
                type: 1,
                title: '店铺信息',
                shade: 0.4,
                area: ['600px;', '400;'],
                content: $('#updateForm'),
                offset:'auto',
                success: function ()
                {
                    $.ajax({
                        type:"get",
                        url:"/store/getStoreInfo",
                        success:function (data) {
                            $("#storeId").val(data.storeId);
                            $("#storeName").val(data.storeName);
                            $("#storeDesc").val(data.storeDesc);
                        }
                    });
                    form.render();
                },
                btn:['修改','取消'],
                yes: function(index, layero){
                    form.verify();
                    form.on('submit(update-submit)',function (data) {
                        var store = $("#updateFormInfo").serialize();
                        var storeName = $("#storeName").val();
                        var storeDesc = $("#storeDesc").val();
                        if (storeName==null||storeName==""){
                            layer.msg("请填写店铺名称",{icon:5,time:800});
                        }
                        if (storeDesc==null||storeDesc==""){
                            layer.msg("请填写店铺描述",{icon:5,time:800});
                        }
                        $.ajax({
                            type:"post",
                            url:"/store/updateStore/"+storeName+"/"+storeDesc,
                            success:function (data) {
                                if (data=="success"){
                                    layer.msg("修改信息成功！",{icon:1,anim:4,time:900});
                                }else{
                                    layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:900});
                                }
                            }
                        });
                        layer.closeAll();
                        return false;
                    });
                    layero.find("#submitBtn").click();
                },
                btn2:function () {
                    layer.closeAll();
                }
            });
        }

        $(function () {
            isNotice();
        })
        function isNotice() {
            $.ajax({
                type:"get",
                url:"/order/getOrderByStore",
                success:function (data) {
                    if (data=="have"){
                        notice.info("有用户下单啦，点击前往发货！");
                    }
                }
            })
        }
        // 手动移除notice 或者使用 removeToast
        $("#logout").click(function () {
            layer.open({
                title:'提示',
                type:1,
                offset:'auto',
                content:'<div style="padding: 20px 60px;font-size: 15px">'+ '您是否确定退出系统?' +'</div>',
                btn:['确定','取消'],
                btnAlign:'c',
                shade:0,
                yes:function () {
                    $.ajax({
                        type:"get",
                        url:"/admin/admin_logout",
                        success:function(data){
                            if (data=="success"){
                                window.location.href="/CSM/toAdminLogin";
                            }else {
                                layer.msg("注销登录失败",{icon:5});
                            }
                        },
                        error:function () {
                            layer.msg("请求失败",{icon:5});
                        }
                    });
                },
                btn2:function () {
                    layer.closeAll();
                }

            });
        });
    });
</script>
</body>
</html>
