<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div style="height:40px;width:70px;float:left;line-height:40px;">店铺名称:</div>
        <input type="text" class="layui-input" style="width:250px;float:left;" id="keyWord" name="keyWord" value="" lay-verify="" placeholder="请输入店铺名称关键字" autocomplete="off">
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon search"></i>搜索
            </a>
        </div>
        <div >
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn" id="refresh" name="refresh">
                    <i class="layui-icon layui-icon-refresh-3"></i>重新加载数据
                </a>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="users" lay-filter="users"></table>
</div>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" title="刪除" lay-event="delete">刪除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        $("#search").click(function ()
        {
            var tableIns  = table.render({
                elem: '#users'
                , id: 'users'
                , url: '/store/getAllstoreListBySearch'
                ,where:{"search":$("#keyWord").val()}
                ,width:1000
                , cols: [[
                    {field: 'storeId', title: '编号', width:100,align: 'center'}
                    ,{field: 'storeName', title: '店铺名称', width:100,align: 'center'}
                    ,{field: 'userName', title: '卖家名称', width:150, align: 'center'}
                    ,{field: 'storeDesc', title: '店铺描述', width:400,align: 'center'}
                    ,{field: 'storeState', title: '店铺状态', width:100,align: 'center'}
                    ,{field: 'storeState', title: '店铺状态', width:150, align: 'center',templet:function (d) {
                            if (d.storeState=="正常"){
                                return "<button type='button' name='"+d.storeState+"' class='layui-btn layui-btn-danger' onclick=\"stopOpen('" +d.storeId+ "')\">停止运营</button>";
                            }else if (d.storeState=="停运"){
                                return "<button type='button' name='"+d.storeState+"' class='layui-btn' onclick=\"startOpen('" +d.storeId+ "')\">恢复运营</button>";
                            }
                        }}
                ]]
                , page: true
                , limits: [5, 10, 15]
                , limit: 10 //默认采用10

            });

        });
        $("#refresh").click(function () {
            tableIns.reload();
        })
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#users'
            , id: 'users'
            , url: '/store/getAllstoreList'
            ,width:1000
            , cols: [[
                {field: 'storeId', title: '编号', width:100,align: 'center'}
                ,{field: 'storeName', title: '店铺名称', width:100,align: 'center'}
                ,{field: 'userName', title: '卖家名称', width:150, align: 'center'}
                ,{field: 'storeDesc', title: '店铺描述', width:400,align: 'center'}
                ,{field: 'storeState', title: '店铺状态', width:100,align: 'center'}
                ,{field: 'storeState', title: '店铺状态', width:150, align: 'center',templet:function (d) {
                        if (d.storeState=="正常"){
                            return "<button type='button' name='"+d.storeState+"' class='layui-btn layui-btn-danger' onclick=\"stopOpen('" +d.storeId+ "')\">停止运营</button>";
                        }else if (d.storeState=="停运"){
                            return "<button type='button' name='"+d.storeState+"' class='layui-btn' onclick=\"startOpen('" +d.storeId+ "')\">恢复运营</button>";
                        }
                    }}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10

        });
        stopOpen = function (storeId) {
            layer.confirm('是否停运该店铺运营？', {
                btn: ['确认', '取消']
                ,btn1: function(index, layero){
                    layer.confirm('停运该店铺，商城将下架该店铺所有商品，是否确认停运？', {
                        btn: ['确认', '取消']
                        ,btn1: function(index, layero){
                            $.ajax({
                                type: "post",
                                url: "/store/stopOpen/"+storeId,
                                success: function(msg){
                                    if(msg=='success'){
                                        layer.msg('停运成功', { icon: 1, shade: 0.4, time: 800 },function () {
                                            tableIns.reload();
                                        });
                                    }else{
                                        layer.msg('停运失败', { icon: 5, shade: 0.4, time: 800 });
                                    }
                                }
                            });
                            tableIns.reload();
                            layer.close(index);
                        }
                    });
                    tableIns.reload();
                    layer.close(index);
                }
            });
        }
        startOpen = function (storeId) {
            layer.confirm('是否恢复该店铺运营？', {
                btn: ['确认', '取消']
                ,btn1: function(index, layero){
                    layer.confirm('恢复该店铺，商城将上架该店铺所有商品，是否确认恢运营复？', {
                        btn: ['确认', '取消']
                        ,btn1: function(index, layero){
                            $.ajax({
                                type: "post",
                                url: "/store/renewOpen/"+storeId,
                                success: function(msg){
                                    if(msg=='success'){
                                        layer.msg('恢复成功', { icon: 1, shade: 0.4, time: 800 },function () {
                                            tableIns.reload();
                                        });
                                    }else{
                                        layer.msg('恢复失败', { icon: 5, shade: 0.4, time: 800 });
                                    }
                                }
                            });
                            tableIns.reload();
                            layer.close(index);
                        }
                    });
                    tableIns.reload();
                    layer.close(index);
                }
            });
        }
    });
</script>
</body>
</html>