<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{../../static/js/jquery-3.4.1.js}"></script>
    <link th:href="@{../../static/css/layui.css}" rel="stylesheet">
    <script th:src="@{../../static/js/layui.js}"></script>
    <style>
        .layui-table-cell{
            display:table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div style="height:40px;width:70px;float:left;line-height:40px;">用户名:</div>
        <input type="text" class="layui-input" style="width:250px;float:left;" id="keyWord" name="keyWord" value="" lay-verify="" placeholder="请输入用户名关键字" autocomplete="off">
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon search"></i>搜索
            </a>
        </div>
        <div >
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn" id="refresh" name="refresh">
                    <i class="layui-icon layui-icon-refresh-3"></i>加载用户数据
                </a>
            </div>
        </div>
        <div style="float:right;">
            <div class="layui-input-inline" style="width:100px;">
                <a class="layui-btn  layui-btn-danger layui-btn-normal" id="delete" name="delete">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </a>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="users" lay-filter="users"></table>
</div>

<div style="width:500px;height:auto;margin:15px auto;display: none" id="updateForm">
    <form class="layui-form" id="updateFormInfo" >
        <input type="hidden" name="userId" id="userId">
        <div class="layui-form-item" >
            <label class="layui-form-label" for="userName">用户名:</label>
            <div class="layui-input-block">
                <input type="text" name="userName" id="userName"
                       lay-verify="userName" placeholder="请输入用户名"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话:</label>
            <div class="layui-input-block">
                <input type="text" name="userPhone" id="userPhone"
                       lay-verify="userPhone" placeholder="请输入电话号码"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱:</label>
            <div class="layui-input-block">
                <input type="text" name="userEmail" id="userEmail"
                       lay-verify="email" placeholder="请输入邮箱"
                       class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期:</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="userBirth" name="userBirth" class="layui-input" id="userBirth" placeholder="请选择您的出生日期">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别:</label>
            <div class="layui-input-block">
                <select name="userSex" id="userSex" lay-verify="userSex">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像:</label>
            <div class="layui-input-block">
                <input type="hidden" id="userImg" name="userImg" >
                <img style="width:100px;height:100px;" id="userImgShow">
                &nbsp;&nbsp;&nbsp;
                <button type="button" id="header" class="layui-btn" >
                    <i class="layui-icon">&#xe67c;</i>上传本地照片
                </button>
            </div>
        </div>
        <div id="headerView" class="layui-form-item" style="display: none">
            <label class="layui-form-label">新头像预览:</label>
            <div class="layui-input-block">
                <img id="PreViewH" style="width:100px;height:100px;border-radius:50%">
            </div>
        </div>
        <br>
        <div class="layui-form-item" style="padding-left:110px;">
            <button type="submit" id="submitBtn" class="layui-btn" lay-filter="update-submit" lay-submit="">点击修改</button>
        </div>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" title="编辑" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" title="刪除" lay-event="delete">刪除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var laypage;
    layui.use(['layer', 'table','form','upload','laydate','laypage'], function ()
    {
        laypage = layui.laypage;
        table = layui.table;
        layer = layui.layer;
        laydate = layui.laydate;
        form =layui.form;
        upload=layui.upload;
        laydate.render({
            elem:'#userBirth'
        });
        /*==================搜索=========================*/
        $("#search").click(function ()
        {
            var keyWord=$("#keyWord").val();
            tableIns.reload({
                where: {
                    keyWord: keyWord
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });

        });
        $("#refresh").click(function () {
            window.location.href="/admin/userList"
        })
        /*==================加载数据=========================*/
        var tableIns  = table.render({
            elem: '#users'
            , id: 'users'
            , url: '/user/getAllUser'
            ,width:1130
            , cols: [[
                { checkbox: true, LAY_CHECKED: false } //其它参数在此省略
                ,{ field: 'userId', title: '编号', width: 80, align: 'center' }
                , { field: 'userName', title: '用户名', width: 110, align: 'center'}
                ,{field:'userImg', title: '头像', width: 100, align: 'center',templet: function(d){
                        var str="<img style='width:40px;height:40px;' src='/header/"+d.userImg+"' />";
                        return str;
                    }
                }
                , { field: 'userPhone', title: '电话', width: 150, align: 'center' }
                , { field: 'userEmail', title: '邮箱', width: 200, align: 'center' }
                , { field: 'userSex', title: '性别', width: 80, align: 'center' }
                , { field: 'userBirth', title: '生日', width: 120, align: 'center' }
                ,{ field:'userState', title: '用户状态', width: 112, align: 'center',templet: function(d){
                        if(d.userState==1){
                            return "<input type='checkbox' lay-filter='switchTest' name='"+d.userId+"' lay-skin='switch' lay-text='禁用|正常'>";
                        }else{
                            return "<input type='checkbox' lay-filter='switchTest' name='"+d.userId+"' lay-skin='switch' lay-text='禁用|正常' checked>";
                        }
                    }
                },{title: '操作', fixed: 'right', width: 120, align: 'center', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10

        });
        /*==================禁用和解禁用户=========================*/
        form.on('switch(switchTest)',function(data){
            var userId=data.elem.name;
            var flag=data.elem.checked;
            if(flag){
                $.ajax({
                    type:"post",
                    url:"/user/changeUserState/"+2+"/"+userId,
                    success:function(data){
                        if(data=="success"){
                            layer.msg('禁用用户成功',{icon:1,time:1000});
                        }else{
                            layer.msg('禁用用户失败！请重试！',{icon:5,time:1000});
                        }
                    }
                });
            }else{
                $.ajax({
                    type:"post",
                    url:"/user/changeUserState/"+1+"/"+userId,
                    success:function(data){
                        if(data=="success"){
                            layer.msg("解禁用户成功",{icon:1,time:1000});
                        }else{
                            layer.msg("解禁用户失败！请重试！",{icon:5,time:1000});
                        }
                    }
                });
            }
        });
        /*==================批量删除=========================*/
        $("#delete").click(function ()
        {
            var checkStatus = table.checkStatus('users');
            var count = checkStatus.data.length;//选中的行数
            if (count>0)
            {
                var data = checkStatus.data; //获取选中行的数据
                var batchId = '';
                for (var i = 0; i < data.length; i++)
                {
                    batchId += data[i].userId + ",";
                }
                layer.confirm('是否确认删除用户？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "post",
                            url: "/user/batchDeleteUser",
                            data: { 'batchId': batchId },
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('删除用户成功', { icon: 1, shade: 0.4, time: 1000 },function () {
                                        tableIns.reload();
                                    });
                                }else{
                                    layer.msg('删除用户失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        layer.close(index);
                        tableIns.reload();
                    }
                });
            }
            else{
                layer.msg("请至少选择一条数据", { icon: 5, shade: 0.4, time: 1000 });
            }

        });
        /*==================上传头像=========================*/
        upload.render({
            elem:'#header',
            url:'/user/upload',
            done:function (res) {
                layer.msg('上传头像成功！',{icon:1,anim:4, time:1500});
                $("#userImg").prop("value",res.userImg);
                $("#headerView").css("display","inline")
                $("#PreViewH").prop("src", "/header/"+res.userImg);
            },
            error:function () {
                layer.msg('上传头像失败！',{icon:5,time:1500});
            }
        });
        /*==================修改和删除=========================*/
        table.on('tool(users)', function (obj)
        {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent === 'edit')
            {
                layer.open({
                    type: 1,
                    title: '编辑用户信息',
                    shade: 0.4,
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['800px;', '600px;'],
                    content: $('#updateForm'),
                    success: function (layero, index)
                    {
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#userName").css("border","#e6e6e6 1px solid");
                        $("#userPhone").css("border","#e6e6e6 1px solid");
                        $("#userEmail").css("border","#e6e6e6 1px solid");
                        $("#headerView").css("display","none");
                        $("#userId").val(data.userId);
                        $("#userName").val(data.userName);
                        $("#userEmail").val(data.userEmail);
                        $("#userPhone").val(data.userPhone);
                        $("#userBirth").val(data.userBirth);
                        $("#userSex").val(data.userSex);
                        $("#userImg").val(data.userImg);
                        $("#userImgShow").attr("src","/header/"+data.userImg);
                        form.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){
                        form.verify();
                        form.on('submit(update-submit)',function () {
                            if ($("#userName").prop("flag")==="fail"){
                                layer.msg("该用户名已被注册,请重新填写",{icon:5})
                                return false;
                            }
                            if ($("#userPhone").prop("flag")==="fail"){
                                layer.msg("该手机号码已被注册,请重新填写",{icon:5})
                                return false;
                            }
                            if ($("#userEmail").prop("flag")==="fail"){
                                layer.msg("该邮箱已被注册,请重新填写",{icon:5})
                                return false;
                            }
                            var user = $("#updateFormInfo").serialize()
                            $.ajax({
                                type:"post",
                                url:"/user/adminUpdateUser",
                                data:user,
                                success:function (data) {
                                    if (data=="success"){
                                        layer.msg("修改信息成功！",{icon:1,anim:4,time:1500},function () {
                                            tableIns.reload();
                                        });
                                    }else{
                                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                                    }
                                }
                            });
                            tableIns.reload();
                            layer.closeAll();
                            return false;
                        });
                        layero.find("#submitBtn").click();
                    }
                });
            }else if(layEvent === 'delete'){
                layer.confirm('是否删除该用户？', {
                    btn: ['确认', '取消']
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "post",
                            url: "/user/deleteUser/"+data.userId,
                            success: function(msg){
                                if(msg=='success'){
                                    layer.msg('删除用户成功', { icon: 1, shade: 0.4, time: 1000 },function () {
                                        tableIns.reload();
                                    });
                                }else{
                                    layer.msg('删除用户失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        tableIns.reload();
                        layer.close(index);
                    }
                });
            }
        });
        /*==================表单验证=========================*/
        form.verify({
            userName:function (value) {
                if (value.length<3||value.length>8){
                    return '用户名必须为3-8个字符';
                }
            }
            ,userPhone:function (value) {
                var regPhone=/^1[34578]\d{9}$/;
                var userPhone = $("#userPhone").val();
                if (!regPhone.test(userPhone)){
                    return '手机格式不正确';
                }
            }
            ,userSex:function (value) {
                if (value==""){
                    return '请选择您的性别';
                }
            }
            ,userBirth:function (value) {
                if (value==""){
                    return '请选择您的出生年月';
                }
            }
        });
        /*==================数据校验是否相同=========================*/
        $("#userName").blur(function () {
            var userName = $("#userName").val();
            var userId = $("#userId").val();
            $.ajax({
                type:"post",
                url:"/user/checkByName2/"+userName+"/"+userId,
                success:function (data) {
                    if (data==='ok'){
                        $("#userName").css("border","green 1px solid");
                        $("#userName").prop("flag","success");
                    }else {
                        $("#userName").css("border","red 1px solid");
                        $("#userName").prop("flag","fail");
                        layer.msg("该用户名已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        $("#userPhone").blur(function () {
            var userPhone = $("#userPhone").val();
            var userId = $("#userId").val();
            $.ajax({
                type:"post",
                url:"/user/checkByPhone2/"+userPhone+"/"+userId,
                success:function (data) {
                    if (data==='ok'){
                        $("#userPhone").css("border","green 1px solid");
                        $("#userPhone").prop("flag","success");
                    }else {
                        $("#userPhone").css("border","red 1px solid");
                        $("#userPhone").prop("flag","fail");
                        layer.msg("该手机号已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        $("#userEmail").blur(function () {
            var userEmail = $("#userEmail").val();
            var userId = $("#userId").val();
            $.ajax({
                type:"post",
                url:"/user/checkByEmail2/"+userEmail+"/"+userId,
                success:function (data) {
                    if (data==='ok'){
                        $("#userEmail").css("border","green 1px solid");
                        $("#userEmail").prop("flag","success");
                    }else {
                        $("#userEmail").css("border","red 1px solid");
                        $("#userEmail").prop("flag","fail");
                        layer.msg("该邮箱已被注册,请重新填写",{icon:5});
                    }
                }
            })
        });
        /*==================提交修改=========================*/
        form.on('submit(update-submit)',function () {
            if ($("#userName").prop("flag")==="fail"){
                layer.msg("该用户名已被注册,请重新填写",{icon:5})
                return false;
            }
            if ($("#userPhone").prop("flag")==="fail"){
                layer.msg("该手机号码已被注册,请重新填写",{icon:5})
                return false;
            }
            if ($("#userEmail").prop("flag")==="fail"){
                layer.msg("该邮箱已被注册,请重新填写",{icon:5})
                return false;
            }
            var user = $("#updateFormInfo").serialize()
            $.ajax({
                type:"post",
                url:"/user/adminUpdateUser",
                data:user,
                success:function (data) {
                    if (data=="success"){
                        layer.msg("修改信息成功！",{icon:1,anim:4,time:800},function () {
                            tableIns.reload();
                        });
                    }else{
                        layer.msg("修改信息失败！请重试！",{icon:5,anim:6,time:1500});
                    }
                }
            });
            tableIns.reload();
            layer.closeAll();
            return false;
        });
    });
</script>
</body>
</html>